@import "govuk_publishing_components/individual_component_support";
@import "govuk_publishing_components/grid-helper";
@import "govuk_publishing_components/prefixed-transform";

.dfe-manual-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* Creates a gap of 30px between the cards */
    list-style: none;
    margin: 0;
    /* Resets default margin */
    padding: 0;
    /* Resets default padding */
    align-items: stretch;
    /* Ensures cards stretch to fill the container height */
    margin-bottom: 40px;
}

.dfe-manual-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distributes space inside the card */
    box-sizing: border-box;
    /* Ensures padding and border are included in the width */
    background-color:  govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(6);
    flex: 1 0 auto;
    /* Adds flexibility and ensures cards can grow to fill space */

    h2, h3{
        margin-bottom: govuk-spacing(2);
    }

    h2 a, h3 a{
        text-decoration: none;
    }

}

.dfe-manual-card--full {
    width: calc(100% - 40px);
    /* Adjusts for gap to ensure full width */
}

.dfe-manual-card--one-half {
    width: calc(50% - 20px);
    /* Adjusts for gap to ensure 50% width */
}

.dfe-manual-card--one-third {
    width: calc(33.333% - 40px);
    /* Adjusts for gap to ensure 33.33% width */
}

.dfe-manual-card--one-quarter {
    width: calc(25% - 22.5px);
    /* Adjusts for gap to ensure 25% width */
}

@media (max-width: 768px) {

    .dfe-manual-card--one-half,
    .dfe-manual-card--one-third,
    .dfe-manual-card--one-quarter {
        width: calc(100% - 30px);
        /* Makes all cards full width on smaller screens */
    }
}


/* Resetting bottom margin and padding for the last child of dfe-manual-card */
.dfe-manual-card>*:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: auto;

}

.dfe-manual-card--white {
    background-color: $color_dfe-white;
}

.dfe-manual-card--no-padding {
    padding: govuk-spacing(0);
}






.dfe-grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

@include govuk-media-query($from: tablet) {
    .dfe-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
}

.dfe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:  govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    max-width: 400px;

}



.dfe-card--blog-card {
    border-radius: 12px 12px 0 0;

    img {
        border-radius: 12px 12px 0 0;
    }
}

.dfe-card--plain {
    background-color: transparent;
    border-bottom: none;
}

.dfe-card--raised:hover,
.dfe-card--raised:focus {
    transition: box-shadow 200ms ease 0s;
    border-bottom: none;
    border-radius: 0;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.2) 0px 2px 6px 2px;
}

@include govuk-media-query($until: tablet) {
    .dfe-card {
        max-width: 100%;
    }
}

.dfe-card>picture,
.dfe-card>picture>img {
    max-width: 100%;
}

.dfe-card-container {
    padding: govuk-spacing(6);
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    // Last element push to the bottom
    :last-child{
        margin-top: auto;
    }

    // except when it's just a linkable header and p - don't margin:auto.
    h2+p:last-child, h3+p:last-child{
        margin-top:0px;
    }

}

.dfe-card:hover,
.dfe-card:focus-within {
    background-color: $color_dfe-blue;
}

.dfe-card:hover a,
.dfe-card:focus-within a,
.dfe-card:hover p,
.dfe-card:focus-within p,
.dfe-card:hover .govuk-heading-m,
.dfe-card:focus-within .govuk-heading-m {
    color: $color_dfe-white;
}

.dfe-card:focus-within {
    outline: 3px solid $color_dfe-yellow;
}

.dfe-card-container .dfe-card-link--retake:focus,
.dfe-card-container .dfe-card-link--header:focus {
    color: $color_dfe-black;
}

.dfe-card-link--retake {
    position: relative;
    z-index: 2;
}

.dfe-card-link--header {
    text-decoration: none;
    color: $color_dfe-secondary-blue;
}

.dfe-card-link--header:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gem-c-cards__heading {
  @include govuk-responsive-margin(6, "bottom");
}

.gem-c-cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: govuk-spacing(6); // Use deprecated grid-column-gap for Grade C browser support
  column-gap: govuk-spacing(6);

  @include govuk-media-query($from: "desktop") {
    // For browsers that don't support CSS grid, constrain the width to 50% to improve usability
    // especially for screen magnifier users
    width: 50%;

    // Reset the width for browsers that support CSS grid
    @supports (display: grid) {
      width: initial;
    }
  }
}

.gem-c-cards__list--one-column {
  .gem-c-cards__list-item {
    &:first-child {
      border-top: 0;

      .gem-c-cards__list-item-wrapper {
        padding-top: 0;
      }
    }
  }
}

.gem-c-cards__heading--underline + .gem-c-cards__list {
  border-top: 1px solid $govuk-border-colour;

  .gem-c-cards__list-item {
    &:first-child {
      .gem-c-cards__list-item-wrapper {
        padding-top: 19px;
      }
    }
  }
}

.gem-c-cards__list--two-column-desktop {
  @include govuk-media-query($from: "tablet") {
    grid-auto-rows: fractions(1); // Set all rows to same fractional height of the complete grid
    grid-template-columns: fractions(2); // Note that browsers that don't support CSS grid display the component as one column on all breakpoints
  }
}

.gem-c-cards__list--three-column-desktop {
  @include govuk-media-query($from: "desktop") {
    grid-auto-rows: fractions(1); // Set all rows to same fractional height of the complete grid
    grid-template-columns: fractions(3); // Note that browsers that don't support CSS grid display the component as one column on all breakpoints
  }
}

.gem-c-cards__list-item {
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(1) 0 govuk-spacing(4) 0;
}

.gem-c-cards__list-item-wrapper {
  // this wrapper ensures that the clickable area of the card only
  // covers the area of the card containing text so in a grid of cards
  // there is space above and below each link
  padding: 19px 0 4px;
  position: relative;
}

.gem-c-cards__sub-heading {
  margin: 0 govuk-spacing(6) govuk-spacing(2) 0;

  // Ensure card content width is constrained to two thirds on desktop
  @include govuk-media-query($from: "desktop") {
    max-width: 66.6667%;
  }
}

.gem-c-cards__link {
  // Make the entire list item area clickable
  &::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    $dimension: 7px;
    $width: 3px;

    border-right: $width solid $govuk-brand-colour;
    border-top: $width solid $govuk-brand-colour;
    content: "";
    display: block;
    height: $dimension;
    position: absolute;
    right: govuk-spacing(1);
    top: 50%;
    margin-top: 5px;
    @include prefixed-transform($rotate: 45deg);
    width: $dimension;
  }

  &:hover {
    &::before {
      border-color: $govuk-link-hover-colour;
    }
  }

  &:focus {
    &::before {
      border-color: $govuk-focus-text-colour;
    }
  }
}

.gem-c-cards__description {
  margin: 0 govuk-spacing(6) 0 0;

  // Ensure card content width is constrained to two thirds on desktop
  @include govuk-media-query($from: "desktop") {
    max-width: 66.6667%;
  }
}

.gem-c-cards__list--two-column-desktop,
.gem-c-cards__list--three-column-desktop {
  .gem-c-cards__sub-heading {
    max-width: 100%;
  }

  .gem-c-cards__description {
    margin: 0;
    max-width: 100%;
  }

  .gem-c-cards__link {
    &::before {
      top: 27px;
      margin: 0;
    }
  }
}

@include govuk-media-query($media-type: print) {
  .gem-c-cards__list {
    display: block;
  }

  .gem-c-cards__list-item {
    padding: 0;
  }

  .gem-c-cards__list-item-wrapper {
    padding: 5mm 0;
  }

  .gem-c-cards__description {
    margin: 0;
  }

  .gem-c-cards__link {
    &::before {
      display: none;
    }

    &::after {
      position: static;
    }
  }
}