{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance" %}
{% set pageDescription = "Guidance to help you understand processes in DfE user research" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}
<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #f3f2f1;" id="mainheader">
  <div class="dfe-width-container" style="padding-top: 45px; padding-bottom: 45px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="color:black">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0" style="color: black">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">
                    Planning
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Create and share your research plan</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m"  style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan for research during a pre-election sensitivity period</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m"  style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan for the safety of your participants, yourself, and your team</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Recruiting participants
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Use a supplier to recruit participants or to pay incentives</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruit participants yourself</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Create or use large lists of people for recruitment</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Managing data
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Collect and manage consent and data correctly</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Anonymise or pseudonymise data</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Respond to requests for data from participants or other teams</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Using the right tools and equipment
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Use DfE-approved tools and software</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Purchase DfE-approved software for you or your team</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan for and record in-person research</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                          <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                            <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get a survey peer reviewed and published</a>
                          </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div data-sticky-element="" class="gem-c-contents-list-with-body__link-wrapper gem-c-contents-list-with-body__sticky-element--enabled gem-c-contents-list-with-body__sticky-element--stuck-to-window">
    <div class="gem-c-contents-list-with-body__link-container" style="min-width: 1264px;">
      <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#mainheader">
        <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
      </a>
    </div>
  </div>

</section>



{% endmarkdown%}

{% endblock %}