{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance library" %}
{% set pageDescription = "Guidance and advice about how we plan and deliver user research in DfE." %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #003a69;">
  <div class="dfe-width-container" style="padding-top: 45px; padding-bottom: 45px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="color:white">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0" style="color: white">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Themes</h2>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
          <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
            <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">Ethical research and safeguarding</a>
            </h2>
            <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Informed consent, safeguarding and ethical considerations</p>
          </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Managing personal data</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Data collection, anonymisation, GDPR and legal considerations</p>
            </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Inclusive research</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Inclusivity and researching with users with access needs</p>
            </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Planning user research</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Developing a user research plan</p>
            </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Recruiting participants for research</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Self-recruitment, using an agency, using a panel and incentives</p>
            </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Recruiting user researchers into DfE</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Recruit civil servants or managed service contractors to do user research</p>
            </div>
        </div>
        <div class="dfe-card" style="
    margin-bottom: 15px;max-width: 800px;
  ">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
    margin-bottom: 10px;
  ">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">Surveys</a>
              </h2>
              <p style="
    margin-bottom: 0px;
    font-size: 18px;
  ">Surveys, survey tools and survey champions</p>
            </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="dfe-card" style="
          margin-bottom: 15px;
          background-color: lightgray;
          border: none;">
            <div class="dfe-card-container" style="padding-top: 18px;padding-left: 36px;padding-bottom: 18px;padding-right: 36px;">
              <h2 class="govuk-heading-s" style="
                margin-bottom: 10px;">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/service-assessments">All guidance articles: A-Z</a>
              </h2>
                <p style="margin-bottom: 0px;font-size: 18px;">Browse all our guidance</p>
            </div>
        </div>
        <section class="homepage-section homepage-section--promotion-slots" style="
        font-size: 18px;
        margin-left: 2px;
        margin-right: 2px;"> 
          <p style="padding-top: 1px;">These guidance articles have been written by experts across the DfE user research community, or by the Research Operations team.</p>
          <p>Any DfE user researcher can get involved in creating guidance content to support the community. Join a community initiative working group or interest group, or speak to your lead user researcher or the head of user research.</p>
          <h3 style="margin-bottom: 16px;margin-top: 32px;">Recently updated</h3>
          <h3 class="govuk-heading-s" style="margin-bottom: 16px;">
            <a class="govuk-link" href="/find-a-job">Psychological safety and researcher self-care</a>
          </h3>        
          <p>Added 17/12/2024</p>
          <h3 class="govuk-heading-s" style="margin-bottom: 16px">
            <a class="govuk-link" href="/find-a-job">Gaining informed consent</a>
          </h3>        
          <p>Updated 24/11/2024</p>
        </section>
      </div>
    </div>
        

  </div>
</section>


{% endmarkdown%}

{% endblock %}