{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Ethical research and safeguarding" %}
{% set pageDescription = "All guidance related to ethical research and safeguarding" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<style>
    table th:first-child { width:33%; }
    table th:last-child { width:20%; }
    table tr td:first-child { font-weight: bold;}
</style>
    
<section style="background: #e6ebf0;">
    <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6" style="color:black;">{{pageName}}</h1>
                <h2 class="govuk-body-m" style="color: black">{{pageDescription}}</h2>
                <a class="govuk-body-m" href="/new-prototype-ignore/guidance/">Back to all</a>
            </div>
        </div>
    </div>
</section>
    
<section>
    <div class="dfe-width-container" style="padding:40px 0 80px 0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Guidance</h2>
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/new-prototype-ignore/guidance/gaining-informed-consent" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Gaining informed consent</a>
                </p>
                <p class="govuk-body govuk-body-s">Ensure fully informed consent from participants when our standard methods are not appropriate</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/find-information-about-academies-trusts/fiat-ofsted" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Participant safeguarding</a>
                </p>
                <p class="govuk-body govuk-body-s">Keep participants safe during research, and what to do if you have a safeguarding concern</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/connect-families-to-support/creating-a-single-directory-reasons-why-and-our-initial-design-thinking" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Reducing burden on our users</a>
                </p>
                <p class="govuk-body govuk-body-s">Ensuring we always use our users' time well, and don't create a burden</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/find-information-about-academies-trusts/IA-and-navigation" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Research with children and young people</a>
                </p>
                <p class="govuk-body govuk-body-s">Plan and conduct research with children and young people successfully, safely and ethically</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/standards-manual-and-management/post-42" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Research with internal users</a>
                </p>
                <p class="govuk-body govuk-body-s">Ethical risks and considerations when researching with colleagues and other internal staff</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class=" govuk-!-margin-bottom-2">
                  <a href="/standards-manual-and-management/standards-drafting" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Using social media in user research</a>
                </p>
                <p class="govuk-body govuk-body-s">Ethical considerations and constraints when using social media for user research</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Looking for more?</h2>
                <p class="govuk-body-s">Use search or try the following related categories:</p>
                <p class="govuk-body-s"><a href="/guidance">Managing personal data</a></p>
                <p class="govuk-body-s"><a href="/guidance">Inclusive research</a></p>
                <h2 class="govuk-heading-m">Further support</h2>
                <p class="govuk-body-s">Get expert peer advice from the ethics advisory group:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <p class="govuk-body-s">Ask in the open in the <a href="/guidance">#ethicsadvisorygroup</a> channel in DfE Slack</p>
                    </li>
                    <li>
                        <p class="govuk-body-s">Ask privately in <a href="/guidance">this form</a></p>
                    </li>
                </ul>
                <p class="govuk-body-s" style="margin-top: 8px;">Or attend the fortnightly <a href="/guidance">Ethics forum</a> (Wednesdays, 3.30pm)</p>
                <p class="govuk-body-s">You can also always get advice from your <a href="/guidance">lead user researcher or head of user research</a></p>
            </div>
        </div>
    </div>
</section>

{% endmarkdown%}

{% endblock %}