{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Templates and tools" %}
{% set pageName = "Specialist UR tools, software and hardware" %}
{% set pageDescription = "Getting the right tools to deliver your user research." %}

{% block content %}

{% markdown %}


There are a range of tools you will need when conducting user research. Some of these are available to you via centrally managed licenses, while others can be purchased by your team.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must never install any software or use any web service that collects personal data, unless it has gained DfE data protection and security assurance
  </strong>
</div>

## Power laptops

If you are doing a lot of video editing or using other resource-intensive specialist software, you can request a more powerful laptop. The request will be approved by the head of user research, and you may be asked to give rationale for why you need it for your work.

<a href="https://dfe.service-now.com/serviceportal">Request this in the IT Service Portal. Search for 'Power device'.</a>

This is also available to contractors, in some instances. Ask the civil servant responsible for your statement of work (e.g. your delivery manager, or lead user researcher) to request it for you.

## Specialist software and online tools

There are some specialist user research software and online tools that are available to all user researchers. The current list is on the <a href="https://educationgovuk.sharepoint.com/sites/lvewp00197/SitePages/Requests-for-new-tools.aspx">Digital Tools Support team website</a>. You can contact that team for more support in the <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank">Digital Tools Support Slack channel (opens in a new tab)</a> 

There may be a cost to your team for these tools, so speak to your delivery manager first.

You can also speak to the Digital Tools Support team about buying licenses for other software or online services. They can tell you what you and your delivery manager will need (e.g. a business case and budget approval). If the software or service doesn't already have data and security assurance, they will arrange this. This process can sometimes take a few weeks, so leave plenty of time to do this.

You can also contact them if a tool you need to use is not available, or if you already have access to digital tools and have questions.

## Artificial intelligence/large language models 

The Department is trialling a secure, private <abbr title="Artificial Intelligence">AI</abbr> solution. <a href="https://educationgovuk.sharepoint.com/sites/IT/SitePages/bing-chat-enterprise.aspx">Find out about this here (DfE users only)</a> and how you can use it in your work.

You should not do any analysis of user research data in or put any confidential content in any other AI or large language model tools (e.g. ChatGPT, Google Bard, or any other <abbr title="Large Language Model">LLM</abbr> or AI tool), without the tool being fully privacy and security assured.

## Other tools

We don't currently have any centrally available tools like video cameras, dictaphones, etc. We're working on this (see our profession roadmap).

For now, if you need these, you can buy them with your team or programme area's budget. Your delivery manager can help you with this.


{% endmarkdown%}

{% endblock %}