{% set about_ur_at_dfe = [
  {
    title: "About the user research profession at Department for Education",
    url: "/about-ur-at-dfe/"
  },{
    title: "Information for new starters",
    url: "/about-ur-at-dfe/new-starters/"
  },{
    title: "Community of practice and Slack channels",
    url: "/about-ur-at-dfe/community-of-practice/"
  },{
    title: "Research operations",
    url: "/about-ur-at-dfe/research-operations.html"
  }
] %}
{% set about_ur_at_dfe__career_development = [
  {
    title: "User research roles and capability framework",
    url: "/about-ur-at-dfe/career-development/roles-and-capability-framework.html"
  },{
    title: "Profession management and mentoring",
    url: "/about-ur-at-dfe/career-development/profession-management-and-mentoring.html"
  },{
    title: "ABLE objectives",
    url: "/about-ur-at-dfe/career-development/able-objectives.html"
  },{
    title: "Training and online resources",
    url: "/about-ur-at-dfe/career-development/training-and-online-resources.html"
  },{
    title: "Applying for DfE user research jobs",
    url: "/about-ur-at-dfe/career-development/applying-for-dfe-ur-jobs.html"
  }
] %}
{% set about_ur_at_dfe__working_with_ur_in_team = [
  {
    title: "What user researchers do",
    url: "/about-ur-at-dfe/working-with-a-ur-in-your-team/what-user-researchers-do.html"
  },{
    title: "Recruiting a user researcher for your team",
    url: "/about-ur-at-dfe/working-with-a-ur-in-your-team/recruiting-a-user-researcher.html"
  },{
    title: "Contractors and statements of work",
    url: "/about-ur-at-dfe/working-with-a-ur-in-your-team/contractors-and-statements-of-work.html"
  }
] %}


{% set standards_and_principles = [
  {
    title: "User research standards and principles",
    url: "/standards-and-principles/"
  },{
    title: "Our community principles for delivering user research",
    url: "/standards-and-principles/our-community-principles/"
  }
] %}
{% set standards_and_principles__standards = [
  {
    title: "Inclusive research",
    url: "/standards-and-principles/inclusive-research/"
  },
  {
    title: "Participant recruitment",
    url: "/standards-and-principles/participant-recruitment/"
  },
  {
    title: "Research planning",
    url: "/standards-and-principles/research-planning/"
  },
  {
    title: "Researcher safety",
    url: "/standards-and-principles/researcher-safety/"
  },
  {
    title: "Safeguarding research participants",
    url: "/standards-and-principles/safeguarding-research-particpants/"
  },
  {
    title: "Secure handling of participant data",
    url: "/standards-and-principles/secure-handling-of-particpant-data/"
  }
] %}


{% set guidance_and_help = [
  {
    title: "Guidance and help",
    url: "/guidance-and-help/"
  }
] %}
{% set guidance_and_help__ethics_safeguarding = [
  {
    title: "Gaining informed consent",
    url: "/guidance-and-help/ethics-and-safeguarding/gaining-informed-consent.html"
  },{
    title: "Participant safeguarding",
    url: "/guidance-and-help/ethics-and-safeguarding/participant-safeguarding.html"
  },{
    title: "Reducing burden on DfE's users",
    url: "/guidance-and-help/ethics-and-safeguarding/reducing-burden-on-dfes-users.html"
  },{
    title: "Research with children and young people",
    url: "/guidance-and-help/ethics-and-safeguarding/research-with-children-and-young-people.html"
  },{
    title: "Research with internal users",
    url: "/guidance-and-help/ethics-and-safeguarding/research-with-internal-users.html"
  },{
  title: "Using social media in user research",
    url: "/guidance-and-help/ethics-and-safeguarding/using-social-media-in-user-research.html"
  }
] %}
{% set guidance_and_help__civil_service = [
  {
    title: "User research in the civil service",
    url: "/guidance-and-help/user-research-in-the-civil-service/"
  },{
    title: "Managing participant data under UK GDPR",
    url: "/guidance-and-help/user-research-in-the-civil-service/researching-in-pre-election-periods.html"
  }
] %}
{% set guidance_and_help__data_management = [
  {
    title: "Introduction to managing personal data in user research",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/"
  },{
    title: "What to do when planning a project or phase",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/planning-project-or-phase.html"
  },{
    title: "Collecting personal data during your research",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/collecting-data-during-your-research.html"
  },{
    title: "Using lists of people for participant recruitment",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/using-lists-for-recruitment.html"
  },{
    title: "Anonymising UR personal data",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/anonymising-personal-data.html"
  },{
    title: "After your research is finished",
    url: "/guidance-and-help/how-to-manage-participant-personal-data/after-research-is-finished.html"
  }
] %}
{% set guidance_and_help__recruiting_particpants = [
  {
    title: "Recruiting participants yourself (self-recruitment)",
    url: "/guidance-and-help/recruiting-participants/self-recruitment.html"
  },{
    title: "Using a commercial agency to recruit participants",
    url: "/guidance-and-help/recruiting-participants/commercial-agency.html"
  },{
    title: "Using a panel to recruit participants",
    url: "/guidance-and-help/recruiting-participants/recruitment-panels.html"
  },{
    title: "Paying incentives",
    url: "/guidance-and-help/recruiting-participants/paying-incentives.html"
  }
] %}
{% set guidance_and_help__inclusive_research = [
  {
  title: "Introduction to inclusive research",
    url: "/guidance-and-help/inclusive-research/"
  },{
    title: "Research with users with access needs",
    url: "/guidance-and-help/inclusive-research/research-users-access-needs.html"
  }
] %}


{% set templates_and_tools = [
  {
    title: "Templates, examples and resources library",
    url: "/templates-and-tools/templates_examples_and_resources_library/"
  },{
    title: "Specialist UR tools, software and hardware",
    url: "/templates-and-tools/specialist-software-and-hardware/"
  },{
    title: "Using third-party research labs",
    url: "/templates-and-tools/using-third-party-research-labs/"
  }
] %}


{% set research_insight = [
  {
    title: "Finding existing user research insight",
    url: "/research-insight/"
  },{
    title: "Other sources of insight, evidence and data",
    url: "/research-insight/other-insight-sources.html"
  }
] %}






<nav class="dfe-vertical-nav">

  {%- if selectedNav === "About UR at DfE" %}

  <ul class="dfe-vertical-nav__section">
    {% for item in about_ur_at_dfe %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="dfe-vertical-nav--section-header">Developing your user research career at DfE</h2>
  <ul class="dfe-vertical-nav__section">
    {% for item in about_ur_at_dfe__career_development %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="dfe-vertical-nav--section-header">Working with a user researcher in your team</h2>
  <ul class="dfe-vertical-nav__section">
    {% for item in about_ur_at_dfe__working_with_ur_in_team %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  {% endif %}

  {%- if selectedNav == "Standards and principles" %}
    
    <ul class="dfe-vertical-nav__section">
      {% for item in standards_and_principles %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">DfE's user research standards</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in standards_and_principles__standards %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if selectedNav == "Guidance and help" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">Ethical research and safeguarding</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help__ethics_safeguarding %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">Recruiting participants</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help__recruiting_particpants %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">Managing participant data under UK GDPR</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help__data_management %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">Inclusive research</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help__inclusive_research %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="dfe-vertical-nav--section-header">User research in the civil service</h2>
    <ul class="dfe-vertical-nav__section">
      {% for item in guidance_and_help__civil_service %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>


  {% endif %}

  {%- if selectedNav == "Templates and tools" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in templates_and_tools %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if selectedNav == "Research insight" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in research_insight %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</nav>

