<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <ul class="dfemanual-cta-cards ">
                <li class="card">
                    <h3><a href="principle-1.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</a></h3>
                    <p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                </li>
                <li class="card">
                  <h3><a href="principle-2.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</a></h3>
                    <p>This principle is about helping our teams to do what's right for users, avoiding assumptions, and mitigating biases.</p>
                </li>
                <li class="card">
                    <h3><a href="principle-3.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</a></h3>
                    <p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                </li>
                <li class="card">
                  <h3><a href="principle-4.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</a></h3>
                    <p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE's goals.</p>
                </li>
                <li class="card">
                  <h3><a href="principle-5.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</a></h3>
                    <p>This principle is about developing as user researchers, and coming together in our user research community.</p>
                </li>
                <li class="card">
                  <h3><a href="principle-6.html" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</a></h3>
                    <p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>
                </li>
              </ul>
            </div>
       </div>
    </div>
   </section>