{# Un-comment this if no current vacancies: #}
<p>We don't currently know about any user research vacancies at DfE.</p>
<p>You can also check <a href="https://www.civilservicejobs.service.gov.uk/">Civil Service Jobs</a>.</p>

{#<div class="dfe-grid-container">#}
   {# One card per vacancy. Comment out if no current vacancies: #}
   <div class="dfe-card">
      <div class="dfe-card-container">
         <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://www.civilservicejobs.service.gov.uk/csr/jobs.cgi?jcode=1917838">Senior user researcher (Grade 7)</a>
         </h2>
         <p>ESFA Funding Service Delivery portfolio</p>
         <p>£53,669</p>
         <p>Bristol, Coventry, Darlington, London, Manchester, Sheffield</p>
         <p>Closing date: <br>1 September 2024, 11:55pm (Deadline extended)</p>
      </div>
   </div>
{#</div>#}
