{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "Personal data handling in user research" %}
{% set pageDescription = "As a user researcher at DfE, you must handle all participant data gathered during user research securely, legally and ethically." %}
{% set zeroMainMargin = "true"%}

{% set lastUpdated = "07 August 2024" %}
{% set publishStatus = "Beta" %}
{% set tagColour = "blue" %}
<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">DfE user research standards</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
      </div>
    </div>
    <div class="govuk-grid-row" style="padding-top: 20px;">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Status</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{publishStatus}}</strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Last updated</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{lastUpdated | date('D MMM YYYY')}}</strong>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#summary">Summary</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#why-this-standard-is-important">Why this standard is important</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#how-to-meet-this-standard">How to meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#templates-and-tools-to-help-you-meet-this-standard">Templates and tools to help you meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#where-to-get-advice">Where to get advice</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#change-log">Change log</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#discuss-this-standard">Discuss this standard</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

## Summary

As a user researcher, you will collect lots of data from and about your research participants, much of which is 'personally identifying'.

This could be captured in video or audio recordings, or notes and transcripts.

As user researchers, it is our responsibility to handle this data in a way that:

- meets UK GDPR law and the Department's data policies and processes
- is ethical, treating our users safely and respectfully.

## Why this standard is important

If we fail to correctly manage personal data gathered in user research, this presents risks to our research participants, to the Department, and to ourselves:

- we could be breaking UK GDPR law, opening up the Department to legal challenges, fines, and negative publicity. Handling personal data incorrectly could be a serious disciplinary offence
- if people don't understand what we are using their data for, we are not treating them ethically or with respect
- if a person's personal data is accessed or used in a way that it shouldn't be, this could put the person at risk

## How to meet this standard

To ensure you are meeting this standard you must complete the following checklist. If you select yes for all questions, you have met the DfE standard. If you select no to anything or you're unclear, seek the advice of a senior or lead UR.

### Read this related guidance

* <a href="/guidance/how-to-manage-participant-personal-data">Managing participants' personal data in user research in DfE - full guidance</a>
* <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent">Gaining informed consent</a>

### You must:

-	have <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#perform-a-high-risk-screening-of-your-data-management-plans">completed a 'high risk screening'</a> of your plans for collecting personal data
-	if required after the high risk screening, you have completed a <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#higher-risk-user-research-requiring-a-full-dpia">full data protection impact assessment (DPIA)</a>
-	have the <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#set-up-your-file-storage-access-and-retention-label">correct personal data file storage</a>, using a SharePoint workplace library with: 
    -	the 'UR personal data' retention label applied to all files
    -	at least two content manager set up
    -	access restricted to only the people who need it
-	only use <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#ensure-any-third-party-software-you-are-using-has-been-assured-for-use-in-dfe">user research software or web tools that have been assured for use in DfE</a> when collecting personal data
-	include a <a href="/guidance/how-to-manage-participant-personal-data/collecting-data-during-your-research#create-your-information-sheet-and-consent-form">link to the DfE privacy policy on GOV.UK in the information you give to participants</a>, and keep a record of informed consent from all participants
-	<a href="/guidance/how-to-manage-participant-personal-data/anonymising-personal-data">anonymise all personal data during your analysis</a> or, if you are pseudonymising, ensure you have a record of appropriate consent from participants

If you are <a href="/guidance/how-to-manage-participant-personal-data/using-lists-for-recruitment">building a panel or other large list of people</a>, you must:

-	have a record of permission to do this from your lead user researcher or the head of user research

If you are <a href="/guidance/how-to-manage-participant-personal-data/after-research-is-finished#sharing-research-outputs-with-other-people">sharing any lists of people with other user researchers or teams</a>, you must:

-	have a record of appropriate consent from every person in the list


<p class="govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Standards%20checklist/DfE%20user%20research%20standards%20assurance%20checklist.xlsx?d=w108aee9cca834bff888820b31e8ce1c1&csf=1&web=1&e=O7GAfV" class="dfe-cta">Download this checklist as a spreadsheet</a></p>

## Templates and tools to help you meet this standard

Using these templates and tools will help you meet this standard. (Links for DfE employees/contractors only)

* <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms?csf=1&web=1&e=Bkv7wa">Consent form and information sheet templates</a>

## Where to get advice

If you need advice on meeting this standard, you should contact:

* The senior user researcher for your team or programme</li>
* <a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C067M2XRRPU" target="_blank">The Research Operations team #research-ops-support, in DfE Slack (opens in a new tab)</a>
        
## Change log

- v1 (8 Aug 2024. Current version). Removed mandatory data protection awareness point, because this is already covered by seperate DfE data policy and standards. Reworded some points to ensure all are easily checkable.
- v0.2 (21 Feb 2024). Minor wording changes
- v0.1 (6 Dec 2023). First beta version

<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

## Discuss this standard

This user research standard is in beta, and we are actively seeking any feedback and suggestions. You can do this in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y" target="_blank">#developing-user-research-standards channel in DfE Slack (opens in a new tab)</a>, or by using the 'give feedback about this page' button at the bottom of this page. 
</div>       
      </div>
    </div>
  </div>
</section>


{% endmarkdown%}

{% endblock %}