{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance library" %}
{% set pageDescription = "Guidance and advice about how we plan and deliver user research in DfE." %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <h2 class="govuk-heading-s">Categories</h2>
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#ethical-research-and-safeguarding">Ethical research and safeguarding</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#how-to-manage-participants-personal-data-in-user-research">How to manage participants' personal data in user research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#inclusive-research">Inclusive research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#planning-user-research">Planning user research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#recruiting-particpants-for-research">Recruiting participants for research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#recruiting-user-researchers-into-dfe-civil-servants-and-contractors">Recruiting user researchers into DfE (civil servants and contractors)</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#surveys-survey-tool-and-survey-champions">Surveys, survey tool and survey champions</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#user-research-in-the-civil-service">User research in the civil service</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#working-with-a-user-researcher-in-your-team">Working with a user researcher in your team</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

These guidance articles have been written by experts across the DfE user research community, or by the Research Operations team. 

We encourage and welcome feedback on any of this content: we want to add to and improve it over time. We're also actively looking for feedback on any article marked as 'beta'. Any article marked as 'in development' is still being produced, and may significantly change over time. Any article marked as 'coming soon' is currently being produced.

Any DfE user researcher can get involved in creating guidance content to support the community. Join a <a href="/community-of-practice/community-initiatives-and-interest-groups">community initiative working group or interest group</a>, or speak to your <a href="/community-of-practice/#user-research-profession-leadership-team">lead user researcher or the head of user research</a>.

## Ethical research and safeguarding

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent.html">Gaining informed consent</a> | How to ensure fully informed consent from participants when our standard methods are not appropriate | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/ethics-and-safeguarding/participant-safeguarding.html">Participant safeguarding</a> | Advice on keeping particpants safe during research, and what to do if you have a safeguarding concern | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/ethics-and-safeguarding/reducing-burden-on-dfes-users.html">Reducing burden on DfE's users</a> | Ensuring we always use our users' time well, and don't create a burden | <span class="govuk-tag govuk-tag--yellow">In development</span> |
| <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people.html">Research with children and young people</a> | Guidance and ideas to help you plan and conduct research with children and young people successfully, safely and ethically | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/ethics-and-safeguarding/research-with-internal-users.html">Researching with internal users</a> | Ethical risks and considerations when researching with colleagues and other internal staff | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/ethics-and-safeguarding/using-social-media-in-user-research.html">Using social media in user research</a> | Ethical considerations and constraints when using social media for user research | <span class="govuk-tag govuk-tag--yellow">In development</span> |
| <a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get further advice on research ethics questions</a> | How to get answers to questions not covered on this website, from experienced DfE user researchers | <span class="govuk-tag govuk-tag--green">Published</span> |

## How to manage participants' personal data in user research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/how-to-manage-participant-personal-data/">Introduction to managing personal data in user research</a> | How we meet UK GDPR law and high ethical standards when handling the personal data in user research | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase.html">What to do when planning a project or phase</a> | Setting up file storage, risk assessing your data collection, and other activities to do before you begin research | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/how-to-manage-participant-personal-data/collecting-data-during-your-research.html">Collecting personal data during your research</a> | What to do as you collect personal data in research sessions | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/how-to-manage-participant-personal-data/using-lists-for-recruitment.html">Using lists of people for participant recruitment</a> | Building and managing lists of people, and using other data in the department, to recruit participants | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/how-to-manage-participant-personal-data/anonymising-personal-data.html">Anonymising UR personal data</a> | Understanding anonymisation and pseudonymisation in user research, and guidance and tips for doing this | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/how-to-manage-participant-personal-data/after-research-is-finished.html">After your research is finished</a> | Knowing how to continue to manage personal data correctly after the end of a project or phase | <span class="govuk-tag govuk-tag--green">Published</span> |


## Inclusive research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/inclusive-research/">Inclusivity in user research</a> | Why it is important to include all types of people in our research, and tips for doing this | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/inclusive-research/research-users-access-needs.html">Research with users with access needs</a> | Planning and delivering research with people with access needs | <span class="govuk-tag govuk-tag--blue">Beta</span> |
  

## Planning user research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/planning/">Writing a user research plan</a> | How to create an effective user research plan | <span class="govuk-tag govuk-tag--blue">Beta</span> |
  
  
## Recruiting particpants for research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/recruiting-participants/self-recruitment.html">Recruiting participants yourself (self-recruitment)</a> | Rules and guidance for when doing your own participant recruitment | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/recruiting-participants/commercial-agency.html">Using a commercial agency to recruit participants</a> | How to access DfE's contracted commercial supplier, and other suppliers | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/recruiting-participants/recruitment-panels.html">Using or building a recruitment panel to recruit participants</a> | Rules and guidance for building and using participant recruitment panels in DfE | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="/guidance/recruiting-participants/paying-incentives.html">Paying incentives</a> | How to decide whether to pay incentives to DfE particpants, and how to buy them | <span class="govuk-tag govuk-tag--blue">Beta</span> |


## Recruiting user researchers into DfE (civil servants and contractors)

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/recruiting-urs/recruiting-a-user-researcher.html">Recruiting a user researcher for your team</a> | Rules, support and templates for planning a recruitment campaign for a civil servant UR | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/recruiting-urs/contractors-and-statements-of-work.html">Managed service contractors and statements of work</a> | Planning for success when bringing in managed service user researchers | <span class="govuk-tag govuk-tag--yellow">In development</span> |
    

## Surveys, survey tool and survey champions
| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/survey-design-champions">Surveys, survey tool and survey champions</a> | Rules, support and templates for planning a recruitment campaign for a civil servant UR | <span class="govuk-tag govuk-tag--green">Published</span> |


## User research in the civil service

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/user-research-in-the-civil-service/index.html">Doing user research under the Civil Service code</a> | Constraints and considerations that you must consider while delivering research in the civil service | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="/guidance/user-research-in-the-civil-service/researching-in-pre-election-periods.html">Researching in pre-election periods</a> | What you must consider when conducting research in the weeks before an election | <span class="govuk-tag govuk-tag--blue">Beta</span> |


## Working with a user researcher in your team

Guidance for delivery managers, and other team members working with a user researcher.

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="/guidance/working-with-a-ur-in-your-team/what-user-researchers-do.html">What user researchers do</a> | Understanding what user researchers do in DfE, and what they will bring to your team | <span class="govuk-tag govuk-tag--green">Published</span> |

<!--
| What user researchers need in order to work effectively | Ideas for ways of working and team setups to support URs to deliver their best work | <span class="govuk-tag govuk-tag--yellow">Coming soon</span> |
-->

<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Posts by tag</h2>
  
  <a href="/tag/academies" class="dfe-dh-tag">Academies</a>
  
  <a href="/tag/accessibility" class="dfe-dh-tag">Accessibility</a>
  
  <a href="/tag/apprenticeships" class="dfe-dh-tag">Apprenticeships</a>
  
  <a href="/tag/architecture" class="dfe-dh-tag">Architecture</a>
  
  <a href="/tag/branding" class="dfe-dh-tag">Branding</a>
  
  <a href="/tag/careers" class="dfe-dh-tag">Careers</a>
  
  <a href="/tag/carers" class="dfe-dh-tag">Carers</a>
  
  <a href="/tag/children" class="dfe-dh-tag">Children</a>
  
  <a href="/tag/content-design" class="dfe-dh-tag">Content design</a>
  
  <a href="/tag/data" class="dfe-dh-tag">Data</a>
  
  <a href="/tag/delivery-management" class="dfe-dh-tag">Delivery management</a>
  
  <a href="/tag/design-ops" class="dfe-dh-tag">Design Ops</a>
  
  <a href="/tag/development" class="dfe-dh-tag">Development</a>
  
  <a href="/tag/directory-service" class="dfe-dh-tag">Directory service</a>
  
  <a href="/tag/early-years" class="dfe-dh-tag">Early years</a>
  
  <a href="/tag/families" class="dfe-dh-tag">Families</a>
  
  <a href="/tag/family-hubs-staff" class="dfe-dh-tag">Family hubs staff</a>
  
  <a href="/tag/filter-component" class="dfe-dh-tag">Filter component</a>
  
  <a href="/tag/tag-4" class="dfe-dh-tag">Form building</a>
  
  <a href="/tag/funding" class="dfe-dh-tag">Funding</a>
  
  <a href="/tag/interaction-design" class="dfe-dh-tag">Interaction design</a>
  
  <a href="/tag/local-authorities" class="dfe-dh-tag">Local authorities</a>
  
  <a href="/tag/mission-patch" class="dfe-dh-tag">Mission Patch</a>
  
  <a href="/tag/naming" class="dfe-dh-tag">Naming</a>
  
  <a href="/tag/navigation" class="dfe-dh-tag">Navigation</a>
  
  <div class="dfe-panel govuk-!-margin-top-5">
    <h2 class="govuk-heading-s">Start your own design history</h2>
    <p>Help people understand changes to services and work in the open</p>
    <a href="/start-design-history" class="cta-link">Get started</a>
  </div>
</div>

<div class="toc" data-module="table-of-contents" tabindex="-1" aria-label="Table of contents" role="dialog" aria-hidden="false">
  <div class="search" data-module="search" data-path-to-site-root="/">
<form action="/search/index.html" method="get" role="search" class="search__form govuk-!-margin-bottom-4">

<label class="govuk-label search__label" for="search" aria-hidden="true">Search this documentation</label>
<input type="text" id="search" name="q" class="govuk-input govuk-!-margin-bottom-0 search__input" aria-controls="search-results" placeholder="Search">
<button type="submit" class="search__button">Search</button>
</form>
</div>

  <button type="button" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents" aria-expanded="true"></button>
  <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading" data-module="collapsible-navigation">
          <ul>
<li>
<a href="/"><span>Guidance library: home</span></a>
</li>
<li class="collapsible">
<a href="/installing-with-npm/" class="collapsible__heading"><span>Ethical research and safeguarding</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-install-with-node.js-package-manager-(npm)-0"><span class="collapsible__toggle-label">Expand Ethical research and safeguarding</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-install-with-node.js-package-manager-(npm)-0">
<li>
<a href="/installing-with-npm/#requirements" class="toc-link--in-view"><span>Gaining informed consent</span></a>
</li>
<li>
<a href="/installing-with-npm/#install-gov-uk-frontend"><span>Participant safeguarding</span></a>
</li>
<li>
<a href="/installing-with-npm/#get-the-css-assets-and-javascript-working"><span>Reducing burden on DfE's users</span></a>
</li>
<li>
<a href="/installing-with-npm/#get-the-css-assets-and-javascript-working"><span>Research with children and young people</span></a>
</li><li>
<a href="/installing-with-npm/#get-the-css-assets-and-javascript-working"><span>Research with internal users</span></a>
</li><li>
<a href="/installing-with-npm/#get-the-css-assets-and-javascript-working"><span>Using social media in user research</span></a>
</li><li>
<a href="/installing-with-npm/#get-the-css-assets-and-javascript-working"><span>Get further advice on research ethics questions</span></a>
</li></ul>
</li>
<li class="collapsible">
<a href="/install-using-precompiled-files/" class="collapsible__heading"><span>How to manage participants personal data in user research</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-try-gov.uk-frontend-using-precompiled-files-0"><span class="collapsible__toggle-label">Expand Try GOV.UK Frontend using precompiled files</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-try-gov.uk-frontend-using-precompiled-files-0">
<li>
<a href="/install-using-precompiled-files/#what-you-cannot-do-with-the-precompiled-files"><span>What you cannot do with the precompiled files</span></a>
</li>
<li>
<a href="/install-using-precompiled-files/#copy-and-install-the-precompiled-files"><span>Copy and install the precompiled files</span></a>
</li>
<li>
<a href="/install-using-precompiled-files/#create-an-example-page-to-check-for-errors"><span>Create an example page to check for errors</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/use-nunjucks/" class="collapsible__heading"><span>Inclusive research</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-use-nunjucks-0"><span class="collapsible__toggle-label">Expand Use Nunjucks</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-use-nunjucks-0">
<li>
<a href="/use-nunjucks/#before-you-start"><span>Before you start</span></a>
</li>
<li>
<a href="/use-nunjucks/#set-up-nunjucks-and-use-the-page-template"><span>Set up Nunjucks and use the page template</span></a>
</li>
<li>
<a href="/use-nunjucks/#adding-a-component"><span>Adding a component</span></a>
</li>
<li>
<a href="/use-nunjucks/#configuring-a-component"><span>Configuring a component</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/import-css/" class="collapsible__heading"><span>Planning user research</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-import-css-0"><span class="collapsible__toggle-label">Expand Import CSS</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-import-css-0">
<li>
<a href="/import-css/#add-the-css-file-to-your-html"><span>Add the CSS file to your HTML</span></a>
</li>
<li>
<a href="/import-css/#import-using-sass"><span>Import using Sass</span></a>
</li>
<li>
<a href="/import-css/#import-specific-parts-using-sass"><span>Import specific parts using Sass</span></a>
</li>
<li>
<a href="/import-css/#import-an-individual-component-s-css-using-a-single-sass-import"><span>Import an individual component’s CSS using a single Sass import</span></a>
</li>
<li>
<a href="/import-css/#simplify-sass-import-paths"><span>Simplify Sass import paths</span></a>
</li>
<li>
<a href="/import-css/#override-with-your-own-css"><span>Override with your own CSS</span></a>
</li>
<li>
<a href="/import-css/#silence-deprecation-warnings-from-dependencies-in-dart-sass"><span>Silence deprecation warnings from dependencies in Dart Sass</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/import-font-and-images-assets/" class="collapsible__heading"><span>Recruiting participants for research</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-import-font-and-images-assets-0"><span class="collapsible__toggle-label">Expand Import font and images assets</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-import-font-and-images-assets-0">
<li>
<a href="/import-font-and-images-assets/#serve-the-assets-from-the-gov-uk-frontend-assets-folder-recommended"><span>Serve the assets from the GOV.UK Frontend assets folder - recommended</span></a>
</li>
<li>
<a href="/import-font-and-images-assets/#copy-the-font-and-image-files-into-your-application"><span>Copy the font and image files into your application</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/import-javascript/" class="collapsible__heading"><span>Recruiting user researchers into DfE (civil servants and contractors)</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-import-javascript-0"><span class="collapsible__toggle-label">Expand Import JavaScript</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-import-javascript-0">
<li>
<a href="/import-javascript/#before-you-start"><span>Before you start</span></a>
</li>
<li>
<a href="/import-javascript/#add-the-javascript-file-to-your-html"><span>Add the JavaScript file to your HTML</span></a>
</li>
<li>
<a href="/import-javascript/#import-javascript-using-a-bundler"><span>Import JavaScript using a bundler</span></a>
</li>
<li>
<a href="/import-javascript/#initialise-only-part-of-a-page"><span>Initialise only part of a page</span></a>
</li>
<li>
<a href="/import-javascript/#import-javascript-using-alternative-module-formats"><span>Import JavaScript using alternative module formats</span></a>
</li>
<li>
<a href="/import-javascript/#if-our-inline-javascript-snippet-is-blocked-by-a-content-security-policy"><span>If our inline JavaScript snippet is blocked by a Content Security Policy</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/configure-components/" class="collapsible__heading"><span>Surveys, survey tool and survey champions</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-configure-components-0"><span class="collapsible__toggle-label">Expand Configure components</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-configure-components-0">
<li>
<a href="/configure-components/#setting-nunjucks-macro-options"><span>Setting Nunjucks macro options</span></a>
</li>
<li>
<a href="/configure-components/#passing-javascript-configuration"><span>Passing JavaScript configuration</span></a>
</li>
<li>
<a href="/configure-components/#adding-html-data-attributes"><span>Adding HTML data attributes</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/staying-up-to-date/" class="collapsible__heading"><span>User research in the civil service</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-staying-up-to-date-with-changes-0"><span class="collapsible__toggle-label">Expand Staying up to date with changes</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-staying-up-to-date-with-changes-0">
<li>
<a href="/staying-up-to-date/#getting-updates-when-we-publish-a-new-release"><span>Getting updates when we publish a new release</span></a>
</li>
<li>
<a href="/staying-up-to-date/#find-out-which-version-you-39-re-currently-using"><span>Find out which version you’re currently using</span></a>
</li>
<li>
<a href="/staying-up-to-date/#understanding-what-has-changed"><span>Understanding what has changed</span></a>
</li>
<li>
<a href="/staying-up-to-date/#updating-to-the-latest-version"><span>Updating to the latest version</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/localise-govuk-frontend/" class="collapsible__heading"><span>Working with a user researcher in your team</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-localise-gov.uk-frontend-0"><span class="collapsible__toggle-label">Expand Localise GOV.UK Frontend</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-localise-gov.uk-frontend-0">
<li>
<a href="/localise-govuk-frontend/#changing-the-text-you-pass-to-a-component"><span>Changing the text you pass to a component</span></a>
</li>
<li>
<a href="/localise-govuk-frontend/#changing-the-text-in-the-html-for-a-component"><span>Changing the text in the HTML for a component</span></a>
</li>
<li>
<a href="/localise-govuk-frontend/#changing-text-in-the-javascript-for-a-component"><span>Changing text in the JavaScript for a component</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/testing-your-html/" class="collapsible__heading"><span>Test if your HTML matches GOV.UK Frontend</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-test-if-your-html-matches-gov.uk-frontend-0"><span class="collapsible__toggle-label">Expand Test if your HTML matches GOV.UK Frontend</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-test-if-your-html-matches-gov.uk-frontend-0">
<li>
<a href="/testing-your-html/#using-the-html-test-files"><span>Using the HTML test files</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/browser-support/" class="collapsible__heading"><span>Browser support</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-browser-support-0"><span class="collapsible__toggle-label">Expand Browser support</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-browser-support-0">
<li>
<a href="/browser-support/#grade-a"><span>Grade A</span></a>
</li>
<li>
<a href="/browser-support/#grade-b"><span>Grade B</span></a>
</li>
<li>
<a href="/browser-support/#grade-c"><span>Grade C</span></a>
</li>
<li>
<a href="/browser-support/#grade-x"><span>Grade X</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/building-your-own-javascript-components/" class="collapsible__heading"><span>Building your own JavaScript components</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-building-your-own-javascript-components-0"><span class="collapsible__toggle-label">Expand Building your own JavaScript components</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-building-your-own-javascript-components-0">
<li>
<a href="/building-your-own-javascript-components/#using-the-component-class"><span>Using the Component class</span></a>
</li>
<li>
<a href="/building-your-own-javascript-components/#using-createall-with-your-components"><span>Using createAll with your components</span></a>
</li>
<li>
<a href="/building-your-own-javascript-components/#checking-for-gov-uk-frontend-support-with-issupported"><span>Checking for GOV.UK Frontend support with isSupported()</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/javascript-api-reference/" class="collapsible__heading"><span>JavaScript API Reference</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-javascript-api-reference-0"><span class="collapsible__toggle-label">Expand JavaScript API Reference</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-javascript-api-reference-0">
<li>
<a href="/javascript-api-reference/#accordion"><span>Accordion</span></a>
</li>
<li>
<a href="/javascript-api-reference/#button"><span>Button</span></a>
</li>
<li>
<a href="/javascript-api-reference/#charactercount"><span>CharacterCount</span></a>
</li>
<li>
<a href="/javascript-api-reference/#errorsummary"><span>ErrorSummary</span></a>
</li>
<li>
<a href="/javascript-api-reference/#exitthispage"><span>ExitThisPage</span></a>
</li>
<li>
<a href="/javascript-api-reference/#notificationbanner"><span>NotificationBanner</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/sass-api-reference/" class="collapsible__heading"><span>Sass API reference</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-sass-api-reference-0"><span class="collapsible__toggle-label">Expand Sass API reference</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-sass-api-reference-0">
<li>
<a href="/sass-api-reference/#settings"><span>Settings</span></a>
</li>
<li>
<a href="/sass-api-reference/#tools"><span>Tools</span></a>
</li>
<li>
<a href="/sass-api-reference/#helpers"><span>Helpers</span></a>
</li>
<li>
<a href="/sass-api-reference/#components"><span>Components</span></a>
</li>
<li>
<a href="/sass-api-reference/#objects"><span>Objects</span></a>
</li>
</ul>
</li>
<li class="collapsible">
<a href="/changes-to-govuk-frontend-v5/" class="collapsible__heading"><span>Changes to GOV.UK Frontend v5.0.0</span></a><button class="collapsible__toggle" aria-expanded="false" aria-controls="toc-changes-to-gov.uk-frontend-v5.0.0-0"><span class="collapsible__toggle-label">Expand Changes to GOV.UK Frontend v5.0.0</span><span class="collapsible__toggle-icon" aria-hidden="true"></span></button>
<ul class="collapsible__body" id="toc-changes-to-gov.uk-frontend-v5.0.0-0">
<li>
<a href="/changes-to-govuk-frontend-v5/#migrating-from-v4-to-v5"><span>Migrating from v4 to v5</span></a>
</li>
<li>
<a href="/changes-to-govuk-frontend-v5/#benefits-of-updating-to-v5"><span>Benefits of updating to v5</span></a>
</li>
<li>
<a href="/changes-to-govuk-frontend-v5/#main-changes-to-v5"><span>Main changes to v5</span></a>
</li>
<li>
<a href="/changes-to-govuk-frontend-v5/#accessibility-changes-to-v5"><span>Accessibility changes to v5</span></a>
</li>
</ul>
</li>
</ul>


  </nav>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Know your audience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          How people read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for How people read.</p>
    </div>
  </div>
</div>
{% endmarkdown%}

{% endblock %}
