{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set isGuidance = true %}

{% set pageDescription = "How to ensure user research participants understand and have control over what they're agreeing to" %}

{% set guidanceTopic = "How to gather and store informed consent" %}
{% set guidancePageName = "How to store a record of consent in DfE SharePoint" %}
{% set seoPageName = guidanceTopic + " - " + guidancePageName %}

{% set pageRoot = "/guidance/informed-consent-26/" %}

{% set prevLinkText = "How to tailor an approved consent form or create a new one" %}
{% set prevLinkURL = pageRoot + "6.html" %}
{% set nextLinkText = "What to do if a participant withdraws consent" %}
{% set nextLinkURL = pageRoot + "8.html" %}


{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}2.html">When to gather consent</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}3.html">When to gather consent from a parent, legal guardian or other third-party</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}4.html">Where to find the approved consent forms</a>
</li>
<!--<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}5.html">How and when to gather verbal consent</a>
</li>-->
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}6.html">How to tailor an approved consent form or create a new one</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  How to store a record of consent in DfE SharePoint
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}8.html">What to do if a participant withdraws consent</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}


You must securely keep a record of consent from every participant in your research in the same Workplace (SharePoint) restricted folder as any other personal data collected in your user research. 

	<div class="govuk-inset-text">
	Some portfolios have a process or SharePoint locations for storing consent forms that is different from the guidance on this page. Check with your lead user researcher or delivery manager.
	</div>

Move Word versions of consent forms into the restricted folder and add the 'User research personal data' retention label. Delete any emails containing the consent forms, and delete any copies on your laptop or OneDrive.

Scan or photograph paper consent forms, move the files into the restricted folder and add the 'User research personal data' retention label. Delete any copy on your laptop or OneDrive.

If you are using the MS Forms versions of our approved consent forms, restrict access to the collected responses to only people who need it. You cannot apply retentions labels to data collected in MS Forms, so you will need to set a calendar reminder to manually delete responses.

<!--
If you are using verbal consent, keep clipped audio or video recordings of the participant giving consent, or accurate notes of what individual participants consented to. Apply the UR retention label.
-->

Records of consent must be deleted no later than 2 years after they were created. They should be the last piece of personal data that you delete, because they are evidence that you can hold other personal data.


<!--
See also:

- [How to store and manage personal data](/guidance/personal-data-26/)

-->

{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<h3 class="govuk-heading-s govuk-!-padding-top-3">Further help and advice</h3>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a class="govuk-link" href="/community-of-practice/research-operations">Research operations team</li>
  <li><a class="govuk-link" href="/community-of-practice/community-initiatives-and-interest-groups#consent-working-group">Informed consent working</li> 
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-3">Related content</h3>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <!--<li><a class="govuk-link" href="/guidance/personal-data-26/">How to store and manage personal data</li>-->
  <li><a class="govuk-link" href="https://dfedigital.blog.gov.uk/2025/07/16/creating-3-principles-of-informed-consent-for-user-research/">Blog post about our DfE user research informed consent principles</li>
</ul>



{% endmarkdown%}
{% endblock %}




