{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Your career" %}
{% set pageName = "ABLE objectives" %}
{% set pageDescription = "Profession and development objectives, to help your monthly line manager discussions" %}

{% block content %}

{% markdown %}

<h2 class="govuk-heading-s">Page contents</h3>
    <ul class="govuk-list govuk-list--spaced">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#Development objectives">Development objectives</a></li>
        <li><a href="#Development objectives">Profession objective</a></li>
    </ul>
    

## Overview

The performance management approach in DfE is called <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/ABLE.aspx">ABLE (DfE intranet link)</a>. You should have a monthly ABLE discussion with your line manager about your performance and professional development. 

Alongside the objectives you set with your manager related to the work you deliver in your role, you should always have at least one development objective, and one profession objective. These will support your development conversations with your line manager, showing how you are developing, and how you are contributing to developing our user research capability across the department.

If your line manager isn't a user researcher, and you have a <a href="">profession manager</a> instead, then you should plan your profession objective with them, and they should attend some of your ABLE conversations alongside your line manager. If you have a mentor, they can support you to develop your objectives.


## Development objectives 

You should identify the areas of user research where you want to develop, and set an objective to do this. If this objective is not somethig you can reach in your day-to-day work (e.g. you want to develop skills in researching with vulnerable users, but don't have this opportunity in your current work), then you should look for shadowing opportunities, or other projects to get involcved with. Your line manager (or <a href="profession-management-and-mentoring.html">profession manager or mentor</a>) will help you do this.

When our <a href="roles-and-capability-framework.html">capability framework</a> is published, it will help you define which development areas to focus on. For now, use your line manager, profession manager or mentor to support you.

## Profession objective

All civil servant user researchers should have a profession objective: something that you do outside of the work in your immediate team that actively contributes to our user research community, or to the development of our user research profession in Department for Education.

This should be written down in your objectives (alongside your work and professional development objective) with your line manager. It should have an outcome: e.g. attending an <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">interest group</a> isn't enough, but attending and then creating some guidance content for this website, or doing a talk about it to your programme, or experimenting in your team with what you've learned, could be.

We expect that as you progress in your user research career, you contribute more in your profession objectives: for example, we expect a senior user researcher to be more active in helping to share their experience to develop the profession than a junior user researcher.



{% endmarkdown%}

{% endblock %}