{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Your career" %}
{% set pageName = "Your user research career at DfE" %}
{% set pageDescription = "Information about joining the department, and developing as a user researcher." %}

{% block content %}

{% markdown %}

From the day you apply for a user research role at Department for Education, and through your time in the department, we want you to feel you can grow your skills and develop in your career here.

These pages contain advice to help you in a user research job interview with DfE, useful information for your first days and weeks in the department, and information about how to grow, learn, develop and aim towards more senior user research roles in the department.


## DfE user research job roles and grades

<div class="govuk-inset-text" style="margin-top:0">
   See also: <a href="/guidance/recruiting-urs/recruiting-a-user-researcher.html">Guidance for DfE teams planning to recruit a user researcher</a>
</div>  

We have 5 job role levels for civil servant user researchers. These roles are based on the [standard UK government DDaT (Digital, Data and Technology) user research roles](https://www.gov.uk/guidance/user-researcher), as described on GOV.UK.

Each of our roles map to a specific civil service grade (e.g. 'Senior user researcher' is always at Grade 7). This ensures everybody at the same grade has the same understanding of their role and the expectations on them.

| __Role title__ | __Civil service grade__ | __Standard job description__ | Description of typical role |
|---------------|---------------|---------------|---------------|
| __Junior user researcher__ | Higher executive officer (HEO) | <a href="https://job-descriptions.education.gov.uk/user-research/junior-user-researcher/" target="_blank">Junior user researcher job description (opens in a new tab)</a> | Development role. Either supports another user researcher in a team, or delivers their own research with support |
| __User researcher__ | Senior executive officer (SEO) | <a href="https://job-descriptions.education.gov.uk/user-research/user-researcher/" target="_blank">User researcher job description (opens in a new tab)</a> | Delivers user research in a single team, without needing day-to-day support |
| __Senior user researcher__ | Grade 7 | <a href="https://job-descriptions.education.gov.uk/user-research/senior-user-researcher/" target="_blank">Senior user researcher job description (opens in a new tab)</a> | Either performs more complex or specialist research in a team, or leads research activity across a programme or related set of teams |
| __Lead user researcher__ | Grade 6 | <a href="https://job-descriptions.education.gov.uk/user-research/lead-user-researcher/" target="_blank">Lead user researcher job description (opens in a new tab)</a> | Leads all user research activity and strategy in a portfolio or larger business area, as part of the leadership team in that portfolio |
| __Head of user research__ | Grade 6 | (job description currently in development) | Leads and develops user research capability and maturity across the whole department, reporting to Digital, Data and Technology senior leadership team |

## Capability framework

We're developing a capability framework for user researchers, which will map specific user research skills to the roles described above. 

This will let you and your line manager or profession manager assess your skills and experience against your role, helping you recognise where you are in your UR career, and identify opportunities for development. 

In the future, this will also feed into capability-based pay, where your pay within your grade will be adjusted to match your level of skills.

We expect to have a beta capability framework in place in early 2024 (see our <a href="/community-of-practice/how-were-developing-ur-at-dfe.html">profession roadmap</a>).

Until then, refer to your role's job description in your regular development conversations with your line manager, profession manager, or mentor.




{% endmarkdown%}

{% endblock %}