{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Your career" %}
{% set pageName = "Information for new starters" %}
{% set pageDescription = "Find out what you need to know as a civil servant or contractor user researcher joining the DfE." %}

{% block content %}

{% markdown %}

## Welcome to the Department for Education! 

We want this to be the best place in government to deliver user research.  

Whether you're a new permanent civil servant, or a contractor, we'll make sure you feel very welcome. 

### Where to start as a new DfE user researcher 

Your line manager and team will tell you what you need to know about the project you're working on. They will also give you general information about working for the Department.

Our <a href="/community-of-practice/leadership-team">lead user researchers</a> manage user researchers in different areas of DfE. If there is a lead user researcher in your area, you'll meet them to learn about your service area and users. 

It's important to know how we approach user research across the Department. Here are some links and guidance to get you started. 


## 1. Tell Research Operations you've joined
  
Make sure the <a href="/community-of-practice/research-operations.html">Research Operations team</a> know you have joined the Department. Your manager may have done this for you.

Research Operations will: 

- add you to useful Slack channels 
- book you onto an onboarding session 
- ensure you get invites to community meetups 
- get you access to some of the tools mentioned below 

Contact Research Operations using <a href="https://ukgovernmentdfe.slack.com/archives/C067M2XRRPU">the #research-ops-support channel in DfE Slack</a>.

Please let us know: 

- the date you started 
- whether you are a civil servant or contractor 
- your office location 
- the portfolio and team you have joined 
  

  <h2 class="govuk-!-margin-top-9">2. <img src="/assets/images/user-research-mission-patch-laptop.png" alt="Photo of a sticker on a laptop computer. The sticker shows a cartoon otter holding a magnifying glass" style="float:right; max-width:30%; width:252px; margin-left: 20px;" /> Get your UR community laptop sticker</h2>
 
  Our UR community co-designed a laptop sticker to represent us: otters are collaborative, adaptable, effective as individuals but with a strong sense of community.
  
  Get your sticker from the <a href="/community-of-practice/community-meetups.html#meet-our-community-organisers">community lead in your office</a> or <a href="/community-of-practice/leadership-team">contact the head of user research</a> who can post you one.


 <h2 class="govuk-!-margin-top-9">3. Attend a UR profession onboarding session</h2>

The head of user research runs regular onboarding sessions for new civil servants and contractors.  

Onboarding sessions cover: 

- our user research community 
- our standards and principles 
- how we manage personal data 
- any questions you have 

You will receive a calendar invite for an onboarding session. If you don't receive this in your first few days, <a href="/community-of-practice/research-operations/">contact Research Operations</a>. 


 <h2 class="govuk-!-margin-top-9">4. Say hello in our our community Slack channels</h2>
  
 The <a href="/community-of-practice/ur-slack-channels">UR community DfE Slack channel, #user_research</a> is a friendly place to get advice and support, or to share your work. We also have separate channels for each of our local communities. 


 <h2 class="govuk-!-margin-top-9">5. Read our user research standards and principles</h2>

 Our <a href="/standards-and-principles">user research standards and principles</a> cover how to plan and deliver user research at DfE. 

 The standards and principles will help you understand what good looks like and the standards you're expected to reach. 


<h2 class="govuk-!-margin-top-9">6. Learn about DfE's service users</h2>
  
Get an overview of the <a href="/research-insight/">users of DfE services and policies</a>. 

Your team or lead user researcher will tell you about users in your specific service and policy area. 

You can find a list of <a href="/research-insight/other-insight-sources">other DfE sources of research and data</a>.


  <h2 class="govuk-!-margin-top-9">7. Attend your first UR community meetup</h2>
  
  We have <a href="/community-of-practice/community-meetups/">user research community meetups</a> every 2 weeks, on Thursday afternoons. You can join them remotely, or we encourage you to come into the office to meet other user researchers in person. 
  
  DfE civil servants and contractor user researchers are welcome to join these meetings. 
  
  You will be sent calendar invites. If you don't receive them in your first few days, <a href="/community-of-practice/research-operations/">contact Research Operations</a>.


  <h2 class="govuk-!-margin-top-9">8. Book introduction to user research in government training (if you need to)</h2>
  
  If you are a civil servant user researcher who is new to government, there is a training course designed for you. Course bookings for DfE user researchers are managed by Annaliese Lamb. <a href="https://ukgovernmentdfe.slack.com/archives/D037GCBH6RF">Contact Annaliese in DfE Slack</a>. 

  Also read the <a href="https://www.gov.uk/service-manual/user-research">government service manual</a>, and familiarise yourself with the <a href="https://apply-the-service-standard.education.gov.uk">service standard</a>.


 <div class="govuk-!-margin-top-9" style="background: #ebf2f6; padding:20px 30px;" >

  ## Give us feedback about your onboarding
  
   It's important to us that every user researcher has a great start at DfE.  

   We're developing our onboarding experience. By providing feedback, you can help us improve the experience for future user researchers.

   The Research Operations team will contact you a couple of months after joining to gain your feedback. If you have any comments before that, please contact <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">the Research Operations team</a> or <a href="/community-of-practice/leadership-team">head of user research, Tom Adams</a>.

 </div>
{% endmarkdown%}

{% endblock %}