{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Your career" %}
{% set pageName = "Objectives, profession management and mentoring" %}
{% set pageDescription = "Setting good development and profession objectives, and getting support from a manager or mentor." %}

{% block content %}

{% markdown %}


## Development objectives and profession objectives

The performance management approach in DfE is called <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/ABLE.aspx">ABLE (DfE intranet link)</a>. You should have a monthly ABLE discussion with your line manager about your performance and professional development. 

You will set a number of objectives. At least one of these should be a development objective, and one a profession objective.

Your development objective is an area of user research where you want to develop. If this objective is not something you can reach in your day-to-day work (e.g. you want to develop skills in researching with vulnerable users, but don't have this opportunity in your current work), then you can look for shadowing opportunities, or other projects to get involved with. Your line manager (or profession manager or mentor) will help you do this.

You profession objective is something that you do outside of the work in your immediate team that actively contributes to our user research community, or to the development of our user research practice in DfE. This could be:

- contributing to the work of one of our <a href="/community-of-practice/community-initiatives-and-interest-groups.html">community initiatives</a>
- learning a new method, and talking about it at your local community meetup
- writing some guidance content for this website
- giving a talk to your programme about user research
- becoming a <a href="/your-ur-career-at-dfe/training-and-online-resources.html">facilitator on the Introduction to User Research in Government course</a>

We expect that as you progress in your user research career, you contribute more in your profession objectives: for example, we expect senior user researchers to more actively use their experience to develop the profession than junior user researchers.

## Line managers, profession managers and mentors

Our goal is for every civil servant user researcher to be line managed by another, more senior, user researcher from your own portfolio of work. This isn't currently possible, due to the numbers of people we have at different grades and the way user researchers are spread across the department. We have two alternatives: profession managers and mentors.

### Profession managers

If you aren't line managed by another user researcher, you might have a profession manager. This is a user researcher at a higher grade from a different portfolio, who has regular one-to-ones with you to talk about your performance and goals as user researcher, identify good professional development objectives and learning opportunities, and support you with questions that you have. They will attend one in three of your ABLE meetings with your line manager.

If you would like a profession manager, <a href="/community-of-practice/leadership-team.html">contact the head of user research</a>, who can arrange this for you.

### Mentoring programme 

The User Research mentoring programme gives you the opportunity to receive guidance from other user researchers across the community. Having a mentor gives you 1:1 support where you can get access to advice and feedback to develop your confidence and career progression.

This programme is open to any civil servant user researcher in DfE or our agencies.

<a href="https://forms.office.com/e/ANCBWC4ibS">Sign up to the User Research mentoring programme here (DfE users only)</a>. State what you want to get from your mentoring relationship and how much time each month you can commit to it. You will then be sent a list of mentors available at DfE for you to select from.

### Become a mentor

You can also sign up to be a mentor on the User Research mentoring programme. By being a mentor, you are supporting others in their personal and professional development and sharing your experience to help another person's growth. 

<a href="https://forms.office.com/e/ANCBWC4ibS">Register your interest in becoming a mentor using this form (DfE users only)</a> where you can provide a pen portrait of your skills, experience and interests. 

### More information about our mentoring programme

- <a href="https://educationgovuk.sharepoint.com/:p:/s/lvewp00449/EQ1ctn27UulDuOZTw5TI_VkBLbgRwNCfSwLV6Cfz-d1WzA?e=2Hz75c">Mentoring information pack (DfE users only)</a>, providing further guidance around what mentoring is, what the benefits are for both mentor and mentee, what makes a good mentoring relationship and mentoring tools and tips.
- <a href="https://ukgovernmentdfe.slack.com/team/U02AHLEJLAZ" target="_blank">Contact Sarah Walmsley in DfE Slack (opens in a new tab)</a> If you need more information before you decide whether to sign up or not as a mentee or mentor.


{% endmarkdown%}

{% endblock %}