{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance library" %}
{% set pageDescription = "Guidance and advice about how we plan and deliver user research in DfE" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section class="" style="">
  <div class="dfe-width-container" style="padding: 40px 0px 80px 0px">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-grid-container">
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/ethics-and-safeguarding/">Ethical research and safeguarding</a>
              </h2>
              <p>Participant safeguarding. Research with children and young people. Gaining informed consent. Reducing burden on DfE's users. Using social media in user research. Researching with internal users</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/inclusive-research/">Inclusive research</a>
              </h2>
              <p>Planning and delivering inclusive research. Accessibility</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/how-to-manage-participant-personal-data/">Personal data handling in user research</a>
              </h2>
              <p>How to manage participants' personal data in user research, meeting UK GDPR and ethical standards</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/recruiting-participants/">Recruiting particpants</a>
              </h2>
              <p>Advice, support and services to help you recruit particpants for your research</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/user-research-in-the-civil-service/">User research in the civil service</a>
              </h2>
              <p>Doing user research under the Civil Service code. Researching in pre-election periods</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/working-with-a-ur-in-your-team/">Working with a user researcher in your team</a>
              </h2>
              <p>Advice for delivery managers and others working a user researcher: how URs work, what we need to be successful, and recruiting a UR into your team</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endmarkdown%}

{% endblock %}