{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance library" %}
{% set pageDescription = "Guidance and advice about how we plan and deliver user research in DfE" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <h2 class="govuk-heading-s">Gudiance topics</h2>
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#ethical-research-and-safeguarding">Ethical research and safeguarding</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#inclusive-research">Inclusive research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#personal-data-handling-in-user-research">Personal data handling in user research</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#recruiting-particpants">Recruiting particpants</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#user-research-in-the-civil-service">User research in the civil service</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#working-with-a-user-researcher-in-your-team">Working with a user researcher in your team</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

These guidance articles have been written by experts across the DfE user research community, or by the Research Operations team. 

We encourage and welcome feedback on any of this content: we want to add to and improve it over time. We're also actively looking for feedback on any article marked as 'beta'. Any article marked as 'in development' is still being produced, and may significantly change over time. Any article marked as 'coming soon' is currently being produced.

Any DfE user researcher can get involved in creating guidance content to support the community. <a href="">Contact Ethics Club</a> or the <a href="#">head of user research</a>.

## Ethical research and safeguarding

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">Participant safeguarding</a> | Advice on keeping particpants safe during research, and what to do if you have a safeguarding concern | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="mmmm">Gaining informed consent</a> | How to ensure fully informed consent from participants when our standard methods are not appropriate | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="mmmm">Research with children and young people</a> | Guidance and ideas to help you plan and conduct research with children and young people successfully, safely and ethically | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="mmmm">Researching with internal users</a> | Ethical risks and considerations when researching with colleagues and other internal staff | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Reducing burden on DfE's users</a> | Ensuring we always use our users' time well, and don't create a burden | <span class="govuk-tag govuk-tag--yellow">In development</span> |
| <a href="mmmm">Using social media in user research</a> | Ethical considerations and constraints when using social media for user research | <span class="govuk-tag govuk-tag--yellow">In development</span> |


## Inclusive research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">Introduction to inclusive research | Including all types of people who might use your service or be affected by your policy area | <span class="govuk-tag govuk-tag--yellow">In development</span> |
| <a href="mmmm">Research with users with access needs | Planning and delivering research with people with access needs | <span class="govuk-tag govuk-tag--blue">Beta</span> |


## Personal data handling in user research

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">Introduction to managing personal data in user research | How we meet UK GDPR law and high ethical standards when handling the personal data in user research | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">What to do when planning a project or phase | lorem ipsum | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Collecting personal data during your research | lorem ipsum | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Using lists of people for participant recruitment | lorem ipsum | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Anonymising UR personal data | lorem ipsum | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">After your research is finished | lorem ipsum | <span class="govuk-tag govuk-tag--green">Published</span> |


## Recruiting particpants

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">Recruiting participants yourself (self-recruitment) | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="mmmm">Using a commercial agency to recruit participants | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Using a recruitment panel to recruit participants | <span class="govuk-tag govuk-tag--blue">Beta</span> |
| <a href="mmmm">Paying incentives | <span class="govuk-tag govuk-tag--blue">Beta</span> |

## User research in the civil service

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">Doing user research under the Civil Service code | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Researching in pre-election periods | <span class="govuk-tag govuk-tag--blue">Beta</span> |

## Working with a user researcher in your teams

Guidance for delivery managers, and other team members working with a user researcher.

| Guidance | Details | Status |
|---------------|---------------|---------------|
| <a href="mmmm">What user researchers do |  | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Recruiting a user researcher for your team | | <span class="govuk-tag govuk-tag--green">Published</span> |
| <a href="mmmm">Contractors and statements of work |  | <span class="govuk-tag govuk-tag--green">Published</span> |
| What user researchers need in order to work effectively |  | <span class="govuk-tag govuk-tag--yellow">Coming soon</span> |

</div>
</div>
</div>
</section>


{% endmarkdown%}

{% endblock %}