{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "civil_service" %}
{% set pageName = "User research in the civil service" %}
{% set pageDescription = "Constraints and considerations that you must consider while delivering research in the civil service." %}

{% block content %}

{% markdown %}
    
<!--  <div class="govuk-inset-text">
    <p>Following this guidance will help you meet our <a href="#">research planning standard</a></p>
  </div>
-->
  
The way you perform your user research, the recommendations you make to your team and stakeholders, and the way you interact with members of the public, must always fall under <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code">the Civil Service code</a>. 

This applies to all user researchers working in and for the department, whether you are a civil servant or contractor. 

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#the-civil-service-code">The Civil Service code</a></li>
    <li><a href="#what-to-consider-during-your-research">What to consider during your research</a></li>
    <li><a href="#getting-help-and-advice">Getting help and advice</a></li>
    <li><a href="#further-reading">Further reading</a></li>
  </ul>

## The Civil Service code

The Civil Service code is the set of core values and principles that we must always work to when carrying out our official duties. 

These are:

- <strong>integrity</strong> - putting the obligations of public service above your interests
- <strong>honesty</strong> - being truthful and open
- <strong>objectivity</strong> - basing your advice and decisions on rigorous analysis of the evidence
- <strong>impartiality</strong> - acting solely according to the merits of the case and serving equally well governments of different political persuasions.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Not acting within the civil service code when conducting your user research could be a serious disciplinary offence
  </strong>
</div>

These are values that we already recognise as user researchers: you are probably working in this way already. However, is is still important to read and understand the code, and consider how this applies to the way you do your job as a user researcher.

In addition to the Civil Service code, <a href="/guidance/user-research-in-the-civil-service/researching-in-pre-election-periods.html">in the weeks before elections, known as pre-election periods</a>, you may need to work differently or change your research plans.

### Departmental conduct and behaviour standards

The department also expects all staff to have high standards of behaviour and conduct. 

You must manage yourself, and any staff you are responsible for, in line with <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Conduct-and-behaviour.aspx">the department’s policies and procedures</a>.

## What to consider during your research

During user research, this could mean:

- not engaging in conversation with participants about ministers, political parties, political individuals, and policies not related to your research (if participants raise these topics, you can politely explain why you can't discuss them)
- always being aware of your own political views, and how this could influence and bias your research goals and recommendations
- if you involved in policy research or a very politically sensitive service, considering gathering voting intention as part of your recruitment criteria, to help ensure your sample is not politically skewed (remembering that this is sensitive information and should always be managed in line with the <a href="/guidance/how-to-manage-participant-personal-data">guidance for managing personal data</a>).

## Getting help and advice

If you are not sure whether research you have planned or conducted is within the spirit of the Civil Service code, speak to your line manager, a lead user researcher, or the head of user research.

## Further reading

- <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code">The Civil Service code</a>


{% endmarkdown%}

{% endblock %}