{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "civil_service" %}
{% set pageName = "Researching in pre-election sensitivity periods" %}
{% set pageDescription = "What you must consider when conducting research in the weeks before an election." %}

{% block content %}

{% markdown %}

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      Breaking pre-election rules could be a serious disciplinary or dismissible offence. If in any doubt, check with your senior responsible officer (SRO), or delay your research.
    </strong>
</div>
<!--<div class="govuk-inset-text">
    <p>This guidance is under review, in collaboration with the cross-government user research community.</p>
</div>-->

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
       Important
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
    <p class="govuk-heading-s">
       A general election has been called for 4 July 2024. You must follow this pre-election guidance.
    </p>
    </div>
 </div>

In the weeks before an election, called the pre-election sensitivity period, most user research activity can continue. However, there are some expections and additional considerations.

This is the case for  general election, local elections, assembly elections, mayoral elections, and any other UK elections or referendums.

You and your team must decide whether your research is appropriate to conduct during a pre-election period and, if not, you must delay the research until after the election.

<h2 class="govuk-heading-s">Page contents</h3>
<ul class="govuk-list govuk-list--spaced">
    <li><a href="#pre-election-period-timings">Pre-election period timings</a></li>
    <li><a href="#researching-in-pre-election-periods">Researching in pre-election periods</a></li>
    <li><a href="#deciding-whether-to-continue-your-research">Deciding whether to continue your research</a></li>
    <li><a href="#further-reading">Further reading</a></li>
</ul>


## Pre-election period timings

Before an election, Cabinet Office will announce the date when the pre-election period starts. This is typically (but not always) four to six weeks before an election. It will be formally announced on GOV.UK, and we will republish this in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">#user_research Slack channel (opens in a new tab)</a>.

When the date of an election is known well in advance (e.g. local, mayoral, devolved administration elections) you should make sure your team is aware of possible changes to your research activity. This can be planned into your work prioritisation, and added to your team's risk log.

## Researching in pre-election periods

Most user research and participant recruitment activity is considered 'business as usual', and can continue. 

However, there are some subjects and activities that must be avoided, and some extra considerations for your planning.

### User research activities must not be seen to compete for public attention with government election communications

For example:
- Avoid conducting research in public or semi-public places, for example pop-up research in the public parts of a library or college
- Don't use official departmental social media or external newsletters for any research or particpant recruitment activity
- Don't post about your research on official or personal social media and blogs. Don't give presentations about your work at conferences or meet-ups

You can continue to:
- Conduct pre-planned research in private rooms in public building, for example in a back room in a Family Hub
- Use email to recruit participants, inclduing the use of recruitment panels or lists
- Use internal staff networks or newsletters to recruit DfE users
- Talk about your work in internal channels and events

### Don't research topics that could be seen as contentious or political during an election campaign

If your research is related to a service or policy that could be a talking point or high profile during the election, it might not be appropriate to continue.

Research on an unannounced service or policy should be considered carefully. Is the topic likely to be discussed or debated by election candidates? Could any part of your activity potentially be seen to affect someone's voting intention? If so, it should not go ahead.

### Using participant recruitment suppliers

You can continue to use third-party recruitment suppliers to recruit people for your research.

### Giving incentives to research participants

If you have planned to pay financial or in-kind incentives to research participants, you can continue to do this.

### Research with DfE staff (internal research)

All user research conducted with DfE staff can continue, as can internal communications about your research or project.

### Research with civil servants in other departments, and staff and officials in local authorities or devolved administrations

You can continue to conduct user research with employees of local government or devolved administrations. 

However, you should first confirm with the participant that they are able to take part, because they may have restrictions imposed by their own pre-election guidance.

## Deciding whether to continue your research

You should advise your team whether your planned research should continue. If you are not sure, first speak to your lead user researcher or the head of user research.

You should then get an approval to continue from your programme's Senior Responsible Officer (SRO). Your delivery manager will help you do this.

If you don't continue, you should plan alternative research activities for this period.

## Further reading

- <a href="https://www.gov.uk/government/publications/election-guidance-for-civil-servants">Cabinet Office guidance on the conduct of civil servants in pre-election periods </a>
- <a href="https://www.gov.uk/service-manual/user-research/researching-contentious-subjects-purdah">GOV.UK service manual guidance on conducting research during pre-election periods.</a>

<div class="govuk-inset-text">
<h3>A note on the word 'Purdah'</h3>
<p>The term 'purdah' was historically used in the UK to describe pre-election periods.</p>
<p>Although you may still hear this word used unofficially across the Civil Service, some people find it offensive, because of <a href="https://dictionary.cambridge.org/dictionary/english/purdah">'purdah's' historical usage and etymology</a>. This is why we now use 'pre-election sensitivity period' instead, and avoid using the word 'purdah'.</p>
</div>


{% endmarkdown%}

{% endblock %}