{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "Profession management and mentoring" %}
{% set pageDescription = "Different ways to get day to day support in your role, and to get help and advice as you develop your user research career at DfE." %}

{% block content %}

{% markdown %}

<h2 class="govuk-heading-s">Page contents</h3>
    <ul class="govuk-list govuk-list--spaced">
        <li><a href="#line-management-and-profession-management">Line management and profession management</a></li>
        <li><a href="#mentoring-programme">Mentoring programme</a></li>
    </ul>

## Line management and profession management

Our goal is for every civil servant user researcher to be line managed by another, more senior, user researcher from your own portfolio of work. This isn't currently possible because of the numbers of people we have at different grades, and the way user researchers are spread across the department.

For people who aren't line managed by another user researcher, you might have a profession manager: this is somebody from a different portfolio, who has regular one-to-ones with you to talk about your performance and goals as user researcher, identify good professional development objectives and learning opportunities, and supporting you with questions that you have. They will attend one in three of your ABLE meetings with your line manager.

If you feel you need a profession manager, <a href="">contact the head of user research</a>, who can arrange this for you.

Alternatively, you could join our mentoring programme, for a less formal support relationship from another, more experienced, user researcher.

## Mentoring programme 

The User Research mentoring programme gives you the opportunity to receive guidance from other user researchers across the community. Having a mentor gives you 1:1 support where you can get access to advice and feedback to develop your confidence and career progression.

This programme is open to any civil servant user researcher in DfE or our agencies.

<a href="https://forms.office.com/e/ANCBWC4ibS">Sign up to the User Research mentoring programme here</a>. State what you want to get from your mentoring relationship and how much time each month you can commit to it. You will then be sent a list of mentors available at DfE for you to select from.

### Become a mentor

You can also sign up to be a mentor on the User Research mentoring programme. By being a mentor, you are supporting others in their personal and professional development and sharing your experience to help another person's growth. 

<a href="https://forms.office.com/e/ANCBWC4ibS">Register your interest in becoming a mentor using this form</a> where you can provide a pen portrait of your skills, experience and interests. 

### More information 

- <a href="https://educationgovuk-my.sharepoint.com/:w:/r/personal/sarah_walmsley_education_gov_uk/Documents/GDrive_Migrated/Community/Inclusivity%20Guidance%20Draft.docx?d=wc0e6757befc4402fbcc7f07254656de7&csf=1&web=1&e=3M38BB">Mentoring information pack</a>, providing further guidance around what mentoring is, what the benefits are for both mentor and mentee, what makes a good mentoring relationship and mentoring tools and tips.
- <a href="https://ukgovernmentdfe.slack.com/archives/D02D6JVSDS6">Contact Sarah Walmsley</a> If you need more information before you decide whether to sign up or not as a mentee or mentor.


{% endmarkdown%}

{% endblock %}