{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "UR roles and capability framework" %}
{% set pageDescription = "The different levels of user researcher in DfE, and the skills and capabilities required at each level." %}

{% block content %}

{% markdown %}

<h2 class="govuk-heading-s" class="govuk-heading-m">Contents</h3>
    <ul class="govuk-list govuk-list--spaced">
        <li><a href="#user-researcher-roles-and-grades">User researcher roles and grades</a></li>
        <li><a href="#capability-framework">Capability framework</a></li>
    </ul>



## User researcher roles and grades

We have 5 role levels for civil servant user researchers. These roles are based on the [standard UK government DDaT (Digital, Data and Technology) user research roles](https://www.gov.uk/guidance/user-researcher), as described on GOV.UK.

Each role maps to a specific civil service grade (e.g. 'Senior user researcher' is always at Grade 7).

| __Role title__ | __Grade__ | __Standard job description__ | Description of typical role |
|---------------|---------------|---------------|---------------|
| __Junior user researcher__ | HEO | [Junior user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/junior_user_researcher/index.html) | Development role. Either supports another user researcher in a team, or delivers their own research with support |
| __User researcher__ | SEO | [User researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/user_researcher/index.html) | Delivers user research in a single team, without needing day-to-day support |
| __Senior user researcher__ | G7 | [Senior user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/senior_user_researcher/index.html) | Either performs more complex or specialist research in a team, or leads research activity across a programme or related set of teams |
| __Lead user researcher__ | G6 | [Lead user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/lead_user_researcher/index.html#about-the-job) | Leads all user research activity and strategy in a portfolio or larger business area, as part of the leadership team in that portfolio |
| __Head of user research__ | G6 | (job description currently in development) | Leads and develops user research capability and maturity across the whole department, reporting to Digital, Data and Technology senior leadership team |


## Capability framework

We're developing a capability framework for user researchers, which will map skills to the roles described above. 

This will let you and your line manager or profession manager assess your skills and experience against your role, helping you identify where you are in your UR career, and identifying opportunities for development. 

In the future, this will also feed into capability-based pay, where your pay within your grade will be adjusted to match your level of skills.

We expect to have a beta capability framework in late 2023 (see our <a href="/-about-ur-at-dfe/developing-ur-profession.html">profession roadmap</a>).

Until this is in place, make sure you have regular career conversations with your <a href="profession-management-mentoring-buddying.html">line manager, profession manager, or mentor</a>.

{% endmarkdown%}

{% endblock %}