{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "Training and online resources" %}
{% set pageDescription = "How to access training, and a list of online resources about user research." %}

{% block content %}

{% markdown %}

<h2 class="govuk-heading-s">Page contents</h3>
    <ul class="govuk-list govuk-list--spaced">
        <li><a href="#profession-wide-training">Profession-wide training</a></li>
        <li><a href="#individual-training-requests">Individual training requests</a></li>
        <li><a href="#introduction-to-user-research-in-government-course">Introduction to user research in government course</a></li>
        <li><a href="#reading-list">Reading list</a></li>
        <li><a href="#how-were-developing-our-training-offer">How we're developing our training offer</a></li>
    </ul>
    
    
## Profession-wide training

Once or twice a year we will run a course for all civil servant user researchers. For example, in autumn 2023 we brought in a specilaist to train us in "Self care in user research". Keep an eye on the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">#user_research Slack channel</a>, and <a href="">make sure your name is on our list of user researchers in DfE</a>.

## Individual training requests

If you have identified a training course you'd like to take (using the user researcher capability framework to identify your development needs, and with the support of your line manager, profession manager, or mentor) then speak to your line manager about how to get funding for this.

## Introduction to user research in government course

The cross-government <a href="https://www.gov.uk/guidance/gds-academy-courses#understanding-users-and-their-needs-online-course">Understanding users and their needs training course</a> is a good introduction to conducting user research in the context of government. If you are new to user research, or new to government, you should consider taking this course. This course is open to civil servants already in a user research role.

## Reading list

Our user research community has crowd-sourced some articles, books and podcasts that we've found interesting and useful:

### Accessibility
- <a href="https://wearecitizensadvice.org.uk/building-accessible-digital-tools-d994149ba974">Building accessible digital tools</a>

### Analysis / synthesis
- <a href="https://uxdesign.cc/synthesis-how-to-make-sense-of-your-design-research-d67ad79b684b">Synthesis: How to make sense of your design research</a>
- <a href="https://uxdesign.cc/the-rainbow-sheet-a-visual-method-for-research-analysis-a7e7d2011058">The rainbow sheet: a visual method for research analysis</a>
- <a href="https://uxdesign.cc/4-methods-for-analysing-user-interviews-56e4e096ee25">4 methods for analysing user interviews</a>
- <a href="https://www.nngroup.com/articles/thematic-analysis/">Thematic analysis</a>

### Planning research
- <a href="https://uxdesign.cc/how-to-write-a-research-plan-that-facilitates-team-alignment-2f75396884ca">How to write a research plan that facilitates team alignment</a>
- <a href="https://uxdesign.cc/user-research-plan-template-d7e263ebee79">User research plan template</a>
- <a href="https://userresearch.blog.gov.uk/2015/02/13/how-we-recruited-people-with-lowno-digital-skills-on-carers-allowance/">How we recruited people with low/no digital skills on Carer's Allowance</a>
- <a href="https://uxdesign.cc/a-practical-guide-on-conducting-user-research-with-no-access-to-users-and-no-product-e7face850ce2">A practical, 10-step guide on conducting user research with no access to users, no product and (almost) no budget</a>

### Practice
- <a href="https://www.amazon.co.uk/Interviewing-Users-Uncover-Compelling-Insights/dp/193382011X">Interviewing Users: How to Uncover Compelling Insights (book) by Steve Portigal</a>
- <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9wb3J0aWdhbC5jb20vcG9kY2FzdC9mZWVkL3BvZGNhc3Q?sa=X&ved=0CAMQ4aUDahcKEwjY9OPWgYP7AhUAAAAAHQAAAAAQAQ&hl=en-GB">Dollars to Donuts (podcast), Steve Portigal</a>
- <a href="https://www.amazon.co.uk/Just-Enough-Research-Erika-Hall/dp/1937557103">Just Enough Research (book) by Erika Hall</a>
- <a href="https://www.amazon.co.uk/Good-Services-Decoding-Mystery-Service/dp/9063695438">Good Services (book) by Lou Downe</a>
- <a href="https://www.amazon.co.uk/User-Research-Practical-Designing-Products/dp/0749481048">User Research: A Practical Guide to Designing Better Products and Services (book) by Stephanie Marsh</a>
- <a href="https://www.amazon.co.uk/Think-Like-Researcher-David-Travis/dp/1138365297">Think like a UX researcher - user experience strategy by David Travis and Philip Hodgson</a>
- <a href="https://medium.com/envoy-design/how-to-ask-good-questions-and-level-up-your-user-research-skills-19fd28b275a4">How to ask good questions and level-up your user research skills</a>
- <a href="https://projects.iq.harvard.edu/files/harvarduxgroup/files/ux-research-guide-sample-questions-for-user-interviews.pdf">Starter questions for user research: A collection of questions to ask during your customer development and user research interviews</a>
- <a href="https://uxdesign.cc/ux-research-objectives-assumption-and-hypothesis-44ec785e394f">UX Research: objectives, assumptions, and hypothesis</a>
- <a href="https://medium.com/hubspot-product/3-ways-to-make-your-research-better-today-fa85d3ecbaa8">3 Ways to Make Your Research Better Today</a>
- <a href="https://medium.com/eightshapes-llc/user-research-with-prototypes-asking-the-right-questions-d38bdaf074bc">User Research with Prototypes: Asking the Right Questions</a>
- <a href="https://hodigital.blog.gov.uk/2017/10/13/storing-and-sharing-user-research/">Storing and sharing user research</a>
- <a href="https://uxplanet.org/communicating-ux-research-98df0b0f8d16">Communicating UX research</a>
- <a href="https://uxdesign.cc/assessing-your-user-research-career-level-seniority-and-path-e12653350f07">Assessing your user research career level, seniority, and path</a>
- <a href="https://andrewtravers.co/book/">Interviewing for reseach (book) by Andrew Travers</a>

### Research methods
- <a href="https://blog.prototypr.io/which-ux-research-method-should-you-use-ce695405d1de">Which UX Research Method Should You Use?</a>
- <a href="https://www.mindtheproduct.com/user-research-government-katy-arnold/">User Research – Making it Work in Government</a>
- <a href="https://medium.com/swlh/how-to-remote-user-test-1575b0988353">How to “Remote User Test”</a>
- <a href="https://medium.com/@Juliaxavier/my-first-diary-study-research-c9eced06eda4">My First Diary Study Research</a>
- <a href="https://www.uxmatters.com/mt/archives/2010/01/unmoderated-remote-usability-testing-good-or-evil.php">Unmoderated, Remote Usability Testing: Good or Evil?</a>
- <a href="https://www.nngroup.com/articles/which-ux-research-methods/">When to use which user-experience research methods</a>
- <a href="https://www.nngroup.com/articles/empathy-mapping/">Empathy mapping</a>
- <a href="https://www.nngroup.com/articles/better-usability-tasks/">Writing usability tasks</a>
- <a href="https://www.nngroup.com/articles/ux-research-cheat-sheet/">UX research cheat sheet</a>

### Research Ops
- <a href="https://medium.com/researchops-community/the-eight-pillars-of-user-research-1bcd2820d75a">The Eight Pillars of User Research</a>
- <a href="https://www.effortmark.co.uk/how-to-avoid-research-debt-a-workshop-on-researchops-at-sdingov-2019/">How to avoid research debt: a workshop on ResearchOps at SDinGOV 2019</a>


## How we're developing our training offer

In the future, we plan to develop a cross-profession training strategy, with a mix of in-house training courses and recommended third-party training. <a href="/-about-ur-at-dfe/developing-ur-profession.html">See our profession roadmap</a>.

You can <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">join the Training working group</a> and help them do this.


{% endmarkdown%}

{% endblock %}