{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set pageName = "Surveys, survey tool and survey champions" %}
{% set pageDescription = "Help with designing quantitative questionnaire surveys." %}

{% block content %}

{% markdown %}
    
<!--  <div class="govuk-inset-text">
    <p>Following this guidance will help you meet our <a href="#">research planning standard</a></p>
  </div>
-->
  
Questionnaire surveys are a popular research method, as when done well they can provide crucial data for many purposes. The quantitative outputs are usually easy to interpret and share, and the data can often be reused more easily than unstructured data like interview transcripts.

However, surveys represent added risk to the department compared to other research methods, and so we have an assurance process around them. It is important that if you are planning a survey, you use the method appropriately, use the correct survey tool, and get it peer reviewed and approved.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#overview">Risks when using questionnaire surveys</a></li>
    <li><a href="#consider-whether-a-survey-is-the-best-method">Consider whether a survey is the best method</a></li>
    <li><a href="#always-use-the-dfe-survey-tool">Always use the DfE survey tool</a></li>
    <li><a href="#design-your-survey">Design your survey</a></li>
    <li><a href="#get-a-peer-review-from-a-dfe-survey-champion">Get a peer review from a DfE survey champion</a></li>
    <li><a href="#further-support">Further support</a></li>
  </ul>


## Risks when using questionnaire surveys

Surveys represent added risk to the department compared to other research methods for three main reasons:  

- Unmoderated research means any misunderstandings cannot be clarified. 
- A lot of people may be exposed to issues in the survey (e.g. misrepresentation of policy) and surveys can be forwarded to others, which increases reputational risks 
- Respondents may receive multiple survey requests from DfE which impacts research fatigue and <a href="/ethics-and-safeguarding/reducing-burden-on-dfes-users.html">burden</a>, particularly key stakeholders with high workloads such as School Leadership Teams.

Running statistically valid surveys can be more expensive and time consuming than qualitative research. When working on agile teams, we might not be afforded the time to do surveys that will allow us to make statistically valid claims.

## Consider whether a survey is the best method

If you are considering a survey, you should first ask yourself:  
  
- Am I confident of getting a response rate to my survey which will provide statistically valid findings?  
- If I do not have a response rate which allows for statistically valid findings, am I comfortable with people making decisions from the data I collect?  
- Have I got a good strategy to promote my survey?  
- Will a survey give me the level of detail I need from respondents to support my research?  
- Is the time I am asking of my respondents proportionate to the benefits of doing the survey? (especially important if you are sampling front-line public-sector workers) 
- Have I explored other options to get the data I need (e.g. service data, existing DfE surveys)? Remember to <a href="https://educationgovuk.sharepoint.com/sites/sarpi/g/AC/Social Research.aspx">ask your local social research colleagues</a> and check other <a href="/research-insight/other-insight-sources">DfE data and insight sources</a>
- Am I and my team clear about the purpose of the survey and the value it will provide?  
- Is my goal to quantify knowledge, attitudes or beliefs from a large number of people?  
  
If your answer to any of these questions is no, think carefully about whether a survey is the right thing to do.  
  
If you are using a survey to triangulate rich qualitative data, you can reasonably accept a less reliable survey. But you must be clear about the limitations of the survey when sharing the results.  


## Always use the DfE survey tool

DfE has a specialist survey tool, that allows you to design, distribute, analyse and present survey data, as well as combine your survey data with other data sources.

This tool is available for all user researchers to use. <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Questionnaire%20Design/Conducting%20questionnaire%20surveys%20in%20DfE%20User%20Research.docx?d=wd42e625d13a9438e9c32068969d32859&csf=1&web=1&e=JzdXXw">Instructions to access the tool are here (DfE users only)</a>, as well as links to training in the tool and support.

This tool is funded centrally, and there is no licence cost to your team, programme or portfolio.  

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Do not use any other survey tool, unless it has been <a href="/templates-and-tools/specialist-software-and-hardware/#specialist-software-and-online-tools">security and privacy assured</a>, as you may breach DfE or government security rules.
  </strong>
</div>

## Design your survey 

<a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Questionnaire%20Design/Survey%20Top%20Tips.docx?d=w52b3a90762054c51aa5c567aea3e73cf&csf=1&web=1&e=cYRJDg">Tips and guidance to help you design a great survey and communication strategy (DfE users only)</a>, from the DfE Government Social Research team.  

## Get a peer review from a DfE survey champion

Your must have your survey peer reviewed before launching it. 

We have a <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Questionnaire%20Design/User%20Research%20Survey%20Champions.xlsx?d=w7b4b0dacc92a4c2ca4522ad49cd88628&csf=1&web=1&e=IItzMl">network of survey champions to peer review surveys (DfE users only)</a> in short timescales. 

Survey champions are here to:  

- Support you to design a high-quality survey
- Facilitate access to survey tools
- Help resolve any risks linked to your survey
  
Most portfolios have a survey champion. Survey champions in your own portfolio have the context to provide better support, and are your first port of call for peer review. 

If you do not have a Survey Champion in your portfolio ask for a review on the <a href="https://ukgovernmentdfe.slack.com/archives/C015XQ05Z1B">#survey_champions channel in DfE Slack</a>.  

### What happens in a survey peer review

The peer review process is:  
  
As soon as you are considering doing a survey, contact a survey champion to discuss your research goals.

If a survey is the right method, design your questionnaire in a Word document and share it with the survey champion, who will peer review it within 3 working days. They will use this <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Questionnaire%20Design/Survey%20peer%20review%20checklist.docx?d=wb949f9b280a34c35b349332570be0b12&csf=1&web=1&e=f94vlO">peer review checklist</a>. 

After you have made any changes following the peer review, the survey champion will contact the DfE survey tool admin, and a temporary license will be created for you. You will then be able to put your survey into the tool, and 

If you require a longer licence period, speak to the survey champion. 
  
In rare cases the survey may be deemed high risk and submitted to a lead or senior User Researcher for review, which may take longer than 3 days. High risk may be a result of contentious topics, unethical approach, reputational risk, or duplication of existing work. 

### Become a survey champion

Any user researcher can become a survey champion. <a href="https://ukgovernmentdfe.slack.com/team/U0360NUT6PJ">Contact Will Finn in DfE Slack</a>.

## Further support

If you have any questions or suggestions regarding this guidance, contact #survey_champions on Slack.  


{% endmarkdown%}

{% endblock %}






