{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Standards and principles" %}
{% set pageName = "Our community principles" %}
{% set pageDescription = "Our user research principles help us understand what 'best practice' looks like, helping us deliver the highest quality work in the best possible way, developing our careers and the overall user research capability in the department while we do it." %}
{% set zeroMainMargin = "true"%}

{% block content %}

   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
               <p class="govuk-body-l">As a user researcher working in Department for Education, you should always follow these principles.</p>
               <p class="govuk-!-margin-bottom-0">They help us understand what 'best practice' looks like, helping us deliver the highest quality work in the best possible way, developing our careers and the overall user research capability in the department while we do it.</p>
            </div>
         </div>
      </div>
   </section>

   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <ul class="dfemanual-cta-cards dfemanual-cta-cards">
                  <li class="card" style="">
                        <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                        <p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                        <p><a href="principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                        <p>This principle is about helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>
                        <p><a href="principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                  </li>
                  <li class="card">
                        <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                        <p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                        <p><a href="principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                        <p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>
                        <p><a href="principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                        <p>This principle is about developing as user researchers, and coming together in our user research community.</p>
                        <p><a href="principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                        <p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>
                        <p><a href="principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                  </li>
               </ul>

              </div>
         </div>
      </div>
   </section>
    <section class="dfemanual-color-bg" style="background: #c7eedf; margin-top:40px;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-l">Why we have these principles</h2>
                  <p class="govuk-body-l">We want DfE to be the best place in government to be a user researcher, and our research should have real impact for our users.</p>
                   <p>These principles help us understand what 'best practice' looks like in our work, so we can deliver the highest quality work in the best possible way, developing our careers and the overall user research capability in the department while we do it.</p>
                   <p>They were developed in summer 2022 by a working group of user researchers, who led a series of workshops with the community to understand our shared values, and our views on how we should deliver our work and support each other. If you have any thoughts or comments on them, please let us know in the #user_research Slack channel.</p>
                </div>
                <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-l">Standards and capability framework</h2>
                  <p>The principles complement our <a href="../index.html">user research standards</a> (which will be published through late 2023/early 2024) and <a href="/about-ur-at-dfe/career-development/roles-and-capability-framework.html">capability framework</a> (planned for late 2023).</p> 
                  <p>You should use them together.</p>
                </div>
        </div>
        </div>
    </section>



{% endblock %}