{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "4. We are adaptable and collaborative, and focus our research in the right places" %}
{% set pageDescription = "" %}

{% block content %}

{% markdown %}

This principle is about the way we work in our teams and with other user researchers to help deliver DfE's goals.

It means that we treat UR as a team sport, guiding our teams to do the right research for the right reasons. We work in an agile way, continuously building up insight over time, and adjusting our plans based on what we learn. We avoid repeating research, and we collaborate with user researchers in related teams to maximise our insight. We always understand the strategic direction and mission of our area of work, the policy around it, and how our research ultimately contributes to the Department's goals.

## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- You can clearly explain the rationale for your research, and how it will help your team meet the policy goal informing your service or project
- Your team understands agile user research, and is working in a way that enables it to happen
- You adjust your research plans based on the insights you gather
- You always check for similar research that has been conducted in the past
- You join up your insight with other user researchers in your programme area, and those outside your programme with similar users
- You are aware of the different research and data disciplines in DfE, and collaborate with them to complement your own research

## How we support you

Right now, we help you to do this with:

- <a href="/-about-ur-at-dfe/people.html">Lead user researchers in some portfolios</a>
- <a href="/-tools-and-templates/templates.html">Library of teach-in materials to use make teams aware about user research</a>

In the future, see (<a href="/-about-ur-at-dfe/developing-ur-profession.html">our profession roadmap</a>), there will also be:

- Lead user researchers in each portfolio
- Playbooks to help you work productively with different professions
- Recommended ways of working across different types of project and phase


{% endmarkdown%}

{% endblock %}