{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Principle 5. We learn by ourselves and as a community" %}
{% set pageDescription = "" %}
{% set zeroMainMargin = "true"%}

<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}


<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">DfE user research community principle 5</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We learn by ourselves and as a community</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="govuk-width-container" style="padding:40px 0 80px 0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <nav class="dfe-vertical-nav">
            <ul class="dfe-vertical-nav__section">
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-1.html">Principle 1: We include all of our users, and bring them to the heart of the department’s work</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-2.html">Principle 2: We are objective and use evidence</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-3.html">Principle 3: We do high quality, safe and ethical research</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-4.html">Principle 4: We are adaptable and collaborative, and focus our research in the right places</a>
                </li>
                <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-5.html">Principle 5: We learn as a community and by ourselves</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-6.html">Principle 6: We celebrate our work, and help others understand what we do</a>
                </li>                    
            </ul>
          </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
<p class="govuk-body-l">This principle is about developing as user researchers, and coming together in our user research community.</p>

It means that we are actively aware of our own knowledge and skill levels, and are always looking for opportunities to upskill and learn more about our practice. We always find time to help and support each other, and we come together as a one Department for Education user research community of practice, to share and learn from each others’ knowledge and experience, and to develop DfE’s user research maturity and capability.
          

## How you know you're meeting this principle

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- You are excited to learn new skills and try new methods, approaches and ways of working, and regularly take the time to do this
- You take time to reflect and gather feedback on what could be improved in your research and ways of working
- You’ve benchmarked your skill levels in our capability framework, and are using it to identify development opportunities
- You regularly attend user research community of practise meetups and events
- You have a profession objective, and are helping develop our user research community and capability in DfE
- You have (and are) a user research mentor, buddy or profession manager
- You are a service assessor, or are working towards being one

## How we support you

Right now, we help you to meet this principle with:

- <a href="/your-ur-career-at-dfe/information-for-new-starters">Onboarding guidance and introductory sessions for all new starter user researchers</a>
- Access for civil servant URs to <a href="/your-ur-career-at-dfe/objectives-profession-management-and-mentoring.html#line-managers-profession-managers-and-mentors">profession management and mentoring</a>
- <a href="/your-ur-career-at-dfe/training-and-online-resources">Links to online user research resources</a>
- <a href="/community-of-practice/community-meetups">National and local user research community meet-ups</a>
- <a href="/community-of-practice/ur-slack-channels">User research community Slack channels</a>
- <a href="/community-of-practice/community-initiatives-and-interest-groups">UR community initiative working groups and interest groups</a>
- <a href="https://apply-the-service-standard.education.gov.uk/">Guidance for UR service assessors (Apply the service standard in DfE manual)</a>                    
- <a href="/your-ur-career-at-dfe/training-and-online-resources">Profession-wide training events</a>
- <a href="/your-ur-career-at-dfe/#dfe-user-research-job-roles-and-grades">Consistent job descriptions for all UR roles across the Department</a>
- <a href="/guidance/recruiting-urs/recruiting-a-user-researcher#interview-pack-builder">Recruitment toolkit to ensure all civil servant user researchers are interviewed and recruited consistently</a>


In the future (see <a href="/community-of-practice/how-were-developing-ur-at-dfe">our profession roadmap</a>), we want to have:

- User researcher capability framework, to help you benchmark your performance and identify gaps and development needs
- Management in-profession for all civil servant URs
- Full in-house training programme
- Capability-based pay for all civil servant URs
- Career-switch training programme for existing civil servants to move into UR
- Training and support for UR service assessors

<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

    ## Discuss our principles

Give feedback or suggest changes to this principle <!--in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y">#developing-user-research-standards channel in DfE Slack</a>, or--> by using the 'give us feedback' link at the top of this page.
</div>       
        </div>
      </div>
    </div>
  </section>
  










{% endmarkdown%}

{% endblock %}