{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "3. We do high quality, safe and ethical research" %}
{% set pageDescription = "" %}

{% block content %}

{% markdown %}

This principle is about ensuring we and our teams always meet high professional standards for user research.

It means that we treat UR as a team sport, guiding our teams to do the right research for the right reasons. We work in an agile way, continuously building up insight over time, and adjusting our plans based on what we learn. We avoid repeating research, and we collaborate with user researchers in related teams to maximise our insight. We always understand the strategic direction and mission of our area of work, the policy around it, and how our research ultimately contributes to the Department's goals.

It means that we are experts in the methods we regularly use, as well as experimenting with new and innovative methods, approaches, and ways of working. Our work always meets ethical and data protection standards, and we always consider the impact of our research on our users, our teams, and on ourselves.

## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- Your user research meets the Service Standard (even if your project isn’t assessed)
- You use a range of research methods and approaches, and understand where and when to apply them
- You have a clear understanding of the legal, ethical and safety risks and implications of your research, and always work within our standards and guidelines
- You look after your own and your team's wellbeing, and plan how to keep physically and mentally safe throughout your research
- You are alert to any risks, burdens or stresses that your research may present to your users, and always plan how to avoid or mitigate them
- You always manage your participant data in a UK GDPR-compliant way

## How we support you

Right now, we help you to do this with:

- <a href="https://apply-the-service-standard.education.gov.uk/service-standard/#content">The 'Apply the Service Standard in DfE' guidance</a>
- <a href="/-tools-and-templates/software-and-hardware.html">Access to specialist software</a>
- <a href="-assessment-assurance-peer-review/survey-champions.html">Survey shampions for support and assurance of survey design</a>
- <a href="/-tools-and-templates/templates.html">A library of example research methods and outputs</a>
- <a href="/-research-ethics/">Ethical research guidance (Beta)</a>
- <a href="/-assessment-assurance-peer-review/ethics-advisory-group.html">Ethics advisory group</a>
- <a href="/-managing-participant-data-correctly/">Guidance and templates for user researchers to manage data under UK GDPR</a>
- <a href="/-tools-and-templates/templates.html">Research plan template</a>

In the future, see (<a href="/-about-ur-at-dfe/developing-ur-profession.html">our profession roadmap</a>), there will also be:

- A full set DfE user research professional standards
- Full set of guidance on conducting ethical research
- Full set of guidance on conducting safe research
- Access to peer support and guidance, and a peer review framework and tools
- Psychological safety and researcher self-care framework
- Access to a full range of specialist software, tools and services


{% endmarkdown%}

{% endblock %}