{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Principle 3. We do high quality, safe and ethical research" %}
{% set pageDescription = "" %}
{% set zeroMainMargin = "true"%}

<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}


<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">DfE user research community principle 3</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We do high quality, safe and ethical research</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="govuk-width-container" style="padding:40px 0 80px 0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <nav class="dfe-vertical-nav">
            <ul class="dfe-vertical-nav__section">
                <li class="dfe-vertical-nav__section-item">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-1.html">Principle 1: We include all of our users, and bring them to the heart of the department’s work</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-2.html">Principle 2: We are objective and use evidence</a>
                </li>
                <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-3.html">Principle 3: We do high quality, safe and ethical research</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-4.html">Principle 4: We are adaptable and collaborative, and focus our research in the right places</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-5.html">Principle 5: We learn as a community and by ourselves</a>
                </li>
                <li class="dfe-vertical-nav__section-item ">
                    <a class="dfe-vertical-nav__link" href="/standards-and-principles/principles/principle-6.html">Principle 6: We celebrate our work, and help others understand what we do</a>
                </li>                    
            </ul>
          </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
<p class="govuk-body-l">This principle is about ensuring we and our teams always meet high professional standards for user research.</p>

It means that we are experts in the methods we regularly use, as well as experimenting with new and innovative methods, approaches, and ways of working. Our work always meets ethical and data protection standards, and we always consider the impact of our research on our users, our teams, and on ourselves.
        

## How you know you're meeting this principle

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- Your user research meets the Service Standard (even if your project isn’t assessed)
- You use a range of research methods and approaches, and understand where and when to apply them
- You have a clear understanding of the legal, ethical and safety risks and implications of your research, and always work within our standards and guidelines
- You look after your own and your team’s wellbeing, and plan how to keep physically and mentally safe throughout your research
- You are alert to any risks, burdens or stresses that your research may present to your users, and always plan how to avoid or mitigate them
- You always manage your participant data in a UK GDPR-compliant way

## How we support you

Right now, we help you to meet this principle with:

- <a href="/standards-and-principles">DfE user research professional standards</a>
- <a href="https://apply-the-service-standard.education.gov.uk/service-standard/#content">The 'Apply the Service Standard in DfE' manual</a>
- <a href="/templates-and-tools/specialist-software-and-hardware/">Access to some specialist UR software and tools</a>
- <a href="/guidance/survey-design-and-survey-champions/">Survey champions for support and assurance of survey design</a>
- <a href="/templates-and-tools/">A library of example research methods and outputs</a>
- <a href="/guidance">Guidance about ethical research and safeguarding</a>
- <a href="/community-of-practice/community-initiatives-and-interest-groups.html#ethics-club">Ethics advisory group</a>
- <a href="/guidance/how-to-manage-participant-personal-data/">Guidance and templates for user researchers to manage data ethically and under UK GDPR law</a>

In the future (see <a href="/community-of-practice/how-were-developing-ur-at-dfe">our profession roadmap</a>), we want to have:

- Further ethics guidance
- Full guidance on conducting safe research
- Access to peer support and guidance, and a peer review framework and tools
- Psychological safety and researcher self-care framework
- Access to a full range of specialist UR software, tools and services
            
<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

    ## Discuss our principles

Give feedback or suggest changes to this principle <!--in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y">#developing-user-research-standards channel in DfE Slack</a>, or--> by using the 'give us feedback' link at the top of this page.
</div>       
        </div>
      </div>
    </div>
  </section>
  







{% endmarkdown%}

{% endblock %}