{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Principle 3. We do high quality, safe and ethical research" %}
{% set pageDescription = "This principle is about ensuring we and our teams always meet high professional standards for user research." %}

{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-l">Principle 3 </span>We do high quality, safe and ethical research</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                <p class="govuk-body-l govuk-!-margin-bottom-0">It means that we are experts in the methods we regularly use, as well as experimenting with new and innovative methods, approaches, and ways of working. Our work always meets ethical and data protection standards, and we always consider the impact of our research on our users, our teams, and on ourselves.</p>
            </div>
        </div>
    </div>
</section>

<section style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How you know you're meeting this principle</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top:5px">
                <p class="govuk-body-l">As a user researcher at DfE, you’ll know you’re successfully doing this because:</p>
                <ul>
                    <li>Your user research meets the Service Standard (even if your project isn’t assessed)</li>
                    <li>You use a range of research methods and approaches, and understand where and when to apply them</li>
                    <li>You have a clear understanding of the legal, ethical and safety risks and implications of your research, and always work within our standards and guidelines</li>
                    <li>You look after your own and your team’s wellbeing, and plan how to keep physically and mentally safe throughout your research</li>
                    <li>You are alert to any risks, burdens or stresses that your research may present to your users, and always plan how to avoid or mitigate them</li>
                    <li>You always manage your participant data in a UK GDPR-compliant way</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-section-break dfe-section-break--light-dashed "></div>
            </div>
        </div>
    </div>
</section>
    
<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How we support you</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top: 5px;">
                <p class="govuk-body-l">Right now, we help you to meet this principle with:</p>
                <ul>
                    <li><a href="https://apply-the-service-standard.education.gov.uk/service-standard/#content">The 'Apply the Service Standard in DfE' guidance</a></li>
                    <li><a href="/-tools-and-templates/software-and-hardware.html">Access to specialist software</a></li>
                    <li><a href="-assessment-assurance-peer-review/survey-champions.html">Survey shampions for support and assurance of survey design</a></li>
                    <li><a href="/-tools-and-templates/templates.html">A library of example research methods and outputs</a></li>
                    <li><a href="/-research-ethics/">Ethical research guidance (Beta)</a></li>
                    <li><a href="/-assessment-assurance-peer-review/ethics-advisory-group.html">Ethics advisory group</a></li>
                    <li><a href="/-managing-participant-data-correctly/">Guidance and templates for user researchers to manage data under UK GDPR</a></li>
                    <li><a href="/-tools-and-templates/templates.html">Research plan template</a></li>                    
                </ul>
                <p class="govuk-body">In the future (see <a href="/community-of-practice/how-were-developing-ur-at-dfe">our profession roadmap</a>), there will also be:
                <ul>
                    <li>A full set DfE user research professional standards</li>
                    <li>Full set of guidance on conducting ethical research</li>
                    <li>Full set of guidance on conducting safe research</li>
                    <li>Access to peer support and guidance, and a peer review framework and tools</li>
                    <li>Psychological safety and researcher self-care framework</li>
                    <li>Access to a full range of specialist software, tools and services</li>                    
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="dfemanual-color-bg" style="background: #ebf2f6; ">
    <div class="dfe-width-container" style="padding: 40px 0px ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2>Our user research community principles</h2>
                <ul class="dfemanual-cta-cards dfemanual-cta-cards">
                    <li class="card" style="">
                        <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                        <p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                        <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                        <p>This principle is about helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>
                        <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                        <p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                        <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                        <p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>
                        <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                        <p>This principle is about developing as user researchers, and coming together in our user research community.</p>
                        <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                        <p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>
                        <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endmarkdown%}

{% endblock %}