{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Principle 1. We include all of our users, and bring them to the heart of the department’s work" %}
{% set pageDescription = "This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs." %}

{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-l">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                <p class="govuk-body-l govuk-!-margin-bottom-0">It means that when we research, we include a broad range of users to make sure we have a deep and contextual understanding of all our users and their needs, using their own words to tell the right stories.</p>
            </div>
        </div>
    </div>
</section>

<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How you know you're meeting this principle</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top:5px">
                <p class="govuk-body-l">As a user researcher at DfE, you’ll know you’re successfully doing this because:</p>
                <ul>
                    <li>You recruit users diversely and inclusively, thinking about how to fully represent your service users across your research</li>
                    <li>You are able to fluently talk about your users, the problems they face, and how your service area or project fits into wider aspects of their lives</li>
                    <li>You understand how being a member of a minority or excluded group may impact a user's experiences of DfE and their needs of your service</li>
                    <li>You know the population sizes of different groups of users of your service, and can demonstrate how your user research complements this data</li>
                    <li>You have researched with users with disabilities, and users of assistive technology</li>
                    <li>You are open to feedback from research participants, and use this to improve your practice</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="dfe-width-container" style="">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-section-break dfe-section-break--light-dashed "></div>
            </div>
        </div>
    </div>
</section>
    
<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How we support you</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top: 5px;">
                <p class="govuk-body-l">Right now, we help you to meet this principle with:</p>
                <ul>
                    <li><a href="/-recruiting-participants/using-a-commercial-recruitment-agency.html#recruiting-participants-using-a-commercial-agency">Access to a specialist participant recruitment supplier, and support and guidance to use them</a></li>
                    <li><a href="/-recruiting-participants/using-incentives.html">Access to incentives</a></li>
                    <li><a href="/-recruiting-participants/recruiting-people-yourself.html">Self-recruitment guidance (beta)</a></li>
                    <li><a href="/-ethics-safeguarding-inclusive/inclusive-research/">Inclusive research guidance (beta)</a></li>
                </ul>
                <p class="govuk-body">In the future (see <a href="/-about-ur-at-dfe/developing-ur-profession.html">our profession roadmap</a>), there will also be:
                <ul>
                    <li>Our own participant panel to recruit from</li>
                    <li>Participant recruitment specialists in each portfolio</li>
                    <li>Access to a range of specialist participant recruitment suppliers</li>
                    <li>Full inclusive research guidance, training and support</li>
                    <li>A comprehensive incentives policy, covering different situations and usages of incentives across the department</li>
                    <li>A method to gather feedback from participants on their experience of our research</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="dfemanual-color-bg" style="background: #c7eedf; ">
    <div class="dfe-width-container" style="padding: 40px 0px ">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2>Our user research community principles</h2>
                <ul class="dfemanual-cta-cards dfemanual-cta-cards">
                  <li class="card" style="">
                        <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                        <p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                        <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                        <p>This principle is about helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>
                        <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                  </li>
                  <li class="card">
                        <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                        <p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                        <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                        <p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>
                        <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                        <p>This principle is about developing as user researchers, and coming together in our user research community.</p>
                        <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                        <p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>
                        <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                  </li>
               </ul>
              </div>
         </div>
      </div>
   </section>





{% endmarkdown%}

{% endblock %}