{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "5. We learn by ourselves and as a community" %}
{% set pageDescription = "" %}

{% block content %}

{% markdown %}

This principle is about developing as user researchers, and coming together in our user research community.

It means that we are actively aware of our own knowledge and skill levels, and are always looking for opportunities to upskill and learn more about our practice. We always find time to help and support each other, and we come together as a one Department for Education user research community of practice, to share and learn from each others’ knowledge and experience, and to develop DfE’s user research maturity and capability.


## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- You are excited to learn new skills and try new methods, approaches and ways of working, and regularly take the time to do this
- You take time to reflect and gather feedback on what could be improved in your research and ways of working
- You’ve benchmarked your skill levels in our capability framework, and are using it to identify development opportunities
- You regularly attend user research community of practise meetups and events
- You have a profession objective, and are helping develop our user research community and capability in DfE
- You have (and are) a user research mentor, buddy or profession manager
- You are a service assessor, or are working towards being one

## How we support you

Right now, we help you to do this with:

- Access for civil servant URs to <a href="/-career-development-and-support/profession-management-mentoring-buddying.html">profession management and buddying</a>
- <a href="/-career-development-and-support/training%20and%20guidance.html">Links to online user research resources</a>
- <a href="/-about-ur-at-dfe/communities-of-practice.html">National and local user research community meet-ups</a>
- <a href="/-about-ur-at-dfe/communities-of-practice.html">User research community Slack channels</a>
- <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">User research community working groups and interest groups</a>
- <a href="https://apply-the-service-standard.education.gov.uk/">Guidance for UR service assessors (in the service assessment manual)</a>

In the future, see (<a href="/-about-ur-at-dfe/developing-ur-profession.html">our profession roadmap</a>), there will also be:

- A common onboarding experience for all user researchers across the department
- Management in-profession for all civil servant URs
- Training and support for UR service assessors
- In-house training programme and calendar of training events
- User Research Capability Framework, to help you benchmark your performance and identify development gaps
- Capability-based pay for all civil servant URs
- Consistent job descriptions for all UR roles across the Department, and a recruitment toolkit to ensure all civil servant user researchers are interviewed and recruited consistently
- Career-switch training programme for existing civil servants to move into UR
- A list of recommended external training


{% endmarkdown%}

{% endblock %}