{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Principle 4. We are adaptable and collaborative, and focus our research in the right places" %}
{% set pageDescription = "This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals." %}

{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-l">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>
                <p class="govuk-body-l govuk-!-margin-bottom-0">It means that we treat UR as a team sport, guiding our teams to do the right research for the right reasons. We work in an agile way, continuously building up insight over time, and adjusting our plans based on what we learn. We avoid repeating research, and we collaborate with user researchers in related teams to maximise our insight. We always understand the strategic direction and mission of our area of work, the policy around it, and how our research ultimately contributes to the Department’s goals.</p>
            </div>
        </div>
    </div>
</section>

<section style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How you know you're meeting this principle</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top:5px">
                <p class="govuk-body-l">As a user researcher at DfE, you’ll know you’re successfully doing this because:</p>
                <ul>
                    <li>You can clearly explain the rationale for your research, and how it will help your team meet the policy goal informing your service or project</li>
                    <li>Your team understands agile user research, and is working in a way that enables it to happen</li>
                    <li> You adjust your research plans based on the insights you gather</li>
                    <li>You always check for similar research that has been conducted in the past</li>
                    <li>You join up your insight with other user researchers in your programme area, and those outside your programme with similar users</li>
                    <li>You are aware of the different research and data disciplines in DfE, and collaborate with them to complement your own research</li>             
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-section-break dfe-section-break--light-dashed "></div>
            </div>
        </div>
    </div>
</section>
    
<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">How we support you</h2>
            </div>
            <div class="govuk-grid-column-two-thirds" style="margin-top: 5px;">
                <p class="govuk-body-l">Right now, we help you to meet this principle with:</p>
                <ul>
                    <li>><a href="/-about-ur-at-dfe/people.html">Lead user researchers in some portfolios</a></li>
                    <li><a href="/-tools-and-templates/templates.html">Library of teach-in materials to use make teams aware about user research</a></li>
                </ul>
                <p class="govuk-body">In the future (see <a href="/community-of-practice/how-were-developing-ur-at-dfe">our profession roadmap</a>), there will also be:
                <ul>
                    <li>Lead user researchers in each portfolio</li>
                    <li>Playbooks to help you work productively with different professions</li>
                    <li>Recommended ways of working across different types of project and phase</li>                    
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="dfemanual-color-bg" style="background: #ebf2f6; ">
    <div class="dfe-width-container" style="padding: 40px 0px ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2>Our user research community principles</h2>
                <ul class="dfemanual-cta-cards dfemanual-cta-cards">
                    <li class="card" style="">
                        <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                        <p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
                        <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                        <p>This principle is about helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>
                        <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                        <p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>
                        <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                        <p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>
                        <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                        <p>This principle is about developing as user researchers, and coming together in our user research community.</p>
                        <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                    </li>
                    <li class="card">
                        <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                        <p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>
                        <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endmarkdown%}

{% endblock %}