{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "6. We celebrate our work, and help others understand what we do" %}
{% set pageDescription = "" %}

{% block content %}

{% markdown %}

This principle is about advocating for user research in our teams, the department, and the wider world.

It means that we always work in the open and share our findings widely: seeking out opportunities to talk inside and outside the department about our methods, ways of working, and what we have tried and learned. We celebrate our triumphs, and the achievements of our colleagues. We are advocates for user research - and for the user research community in Department for Education.

## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- People in your team can clearly articulate what your role is, and how you work
- You have talked or presented at UR community or other showcases, about insights you’ve uncovered, or methods and ways of working you’ve used
- You have talked or presented outside of DfE, about your work in the department

## How we support you

Right now, we help you to do this with:

- Access to department-wide show and tells to showcase your work (Show The Thing)
- <a href="/-tools-and-templates/templates.html">Examples presentations talking about user research</a>


{% endmarkdown%}

{% endblock %}