{% extends "layouts/content-with-sidenav-right.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "Safety" %}
{% set isGuidance = true %}
{% set pageName = "Report a safeguarding or criminal concern that you hear in a research session" %}
{% set pageDescription = "What to do if a participant says or does something that makes you think they might be a risk to themselves or others, or could be breaking the law" %}

{% block content %}

{% markdown %}
    
  

<h3 class="govuk-heading-s">On this page</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#when-to-act-on-a-safeguarding-or-legal-concern">When to act on a safeguarding or legal concern</a></li>
    <li><a href="#types-of-safeguarding-or-legal-concern">Types of safeguarding or legal concern</a></li>
    <li><a href="#plan-ahead-for-who-will-support-you">Plan ahead for who will support you</a></li>
    <li><a href="#what-to-do-during-the-research-session">What to do during the research session</a></li>
    <li><a href="#what-to-do-immediately-after-the-research-session-has-ended">What to do immediately after the research session has ended</a></li>
    <li><a href="#using-research-data-collected-in-the-session-in-your-analysis">Using research data collected in the session in your analysis</a></li>
    <li><a href="#example-case-study">Example case study</a></li>
  </ul>


  It is rare in DfE user research contexts that participants say or do anything to indicate a safeguarding or other risk to themselves or others. However, it can happen. 

  Participants in DfE user research, for example teachers, social workers or parents, are often responsible for the safety of children or vulnerable adults. If you hear or see something that makes you think the participant presents a risk them, and you don't act, this could allow abuse or harm to continue. 

  Similarly, if you suspect a participant is doing something criminal and you don't act, you could allow illegal activity to continue. You may be breaking the law or the civil service code by not acting.

  ## When to act on a safeguarding or legal concern

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        Not acting on a safeguarding or legal concern could be a criminal offence
    </strong>
  </div>

  You must pass participant information on to a relevant person or authority if you become aware of, or strongly suspect:

  - a risk of harm to a child or vulnerable person
  - an immediate, serious risk to the participant's safety
  - an immediate, serious risk to the safety of others
  - that a crime has been committed

  You must take action immediately after the research session. 
  
  Never ignore a concern or promise to keep it a secret.
  
  Remember that, as a user researcher, there is no legal duty of confidentiality on you (we are not solicitors or doctors). If you identify a safeguarding risk, you can break participant confidentiality to report a concern to a relevant person or authority, including the police.

  ## Types of safeguarding or legal concern

  ### Disclosure of harm

  This means a participant indicates, through something they said or do, that they are being harmed or are at risk of harm.
  
  They might explicitly describe a harmful situation, or say things that are less direct, but raise your concern. They might also give more subtle signs of harm such as non-verbal cues, particularly if you are researching with a vulnerable or young person. 

  There is no single definition of what a disclosure of harm looks or sounds like. Use your instincts, and if you are concerned, take action.

  ### Disclosure of criminal activity

  These are indicators that suggest a participant is the inflictor, or could be an inflictor, of harm on themselves or others, including abuse or negligence to people under their care.

  It could also be an indicator that they are breaking the law in other ways, for example committing fraud or evading tax.

  ## Plan ahead for who will support you

  You must state in your research plan who will support you to report a safeguarding or legal concern, if it happens. It is critical that you don't try and deal with it alone.

  This should be the lead user researcher in your portfolio or, if you don't have one, the head of user research and a different lead (Grade 6) in your portfolio, e.g. a UCD lead or programme delivery manager.

  ## What to do during the research session

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        If you believe there is immediate danger to yourself, the participant or others, end the session at once and call 999.
    </strong>
  </div>

  Do not ask the participant any further questions about what they have disclosed to you, and try not to express your own views and feelings. 

  If the session is not being video or audio recorded, ensure you are taking accurate notes of what the participant said or did.

  Only if you feel safe to, let the participant know that you will have to pass this information on. Explain you'll need to report it to someone who can help.

  End the research session immediately if you feel there is any safety risk (physical safety or psychological safety) to yourself or your colleagues.

  Give the participant your contact details in case they have any questions or concerns after the research (this might be yours, the recruiters, or a centralised email address).

  <a href="#new">Ending a research session early if you don't feel safe (guidance)</a>

  ## What to do immediately after the research session has ended

  ### 1. Alert the persion who will support you, and brief any observers

  This is the person you identified in your research plan, above. Give them a brief overview of the concern, so they are ready to support you. If they are away from work, contact an alternative trusted senior colleague (e.g. another Grade 6 in your portfolio, or the head of user research).

  If team members or other colleagues were observing the research, let them know which person will be supporting you, and ask them not to discuss the situation with anybody else.

  ### 2. Gather comprehensive notes and recordings

  Review any video or audio recording. Note the exact time and date the disclosure was made and the words the participant said to you in the disclosure. Do not paraphrase what they said or make any assumptions.

  Ask any observers to also immediately write down their account of what they heard or saw. 

  Keep all of these notes confidential, saving them in a folder in your OneDrive that is accessible only to you and your lead user researcher (or other person supporting you). 

  Move any video or audio recordings of the session to the same folder. 

  ### 3. Identify who to report the concern to, and take action

  Report the disclosure as soon as possible, so the details are fresh in your mind and action can be taken quickly.

  Using your notes, describe the situation and concern to your lead user researcher (or other person supporting you). 

  Together, you should identify who to report the concern to:

  - If your concern is about the safety or welfare of a child or young person follow this guidance on GOV.UK
  - If the participant is an education or care professional, there should be named safeguarding leads in the following settings:
    - Schools
    - Formal childcare settings (e.g. nurseries) 
  - There may also be professional regulatory bodies with reporting processes. 
  - Otherwise, depending on the concern, you may decide to contact social services, tell the person-s employer, tell an adult who is responsible for the person, or report it to the police by calling 101.

  ### 4. Look after yourself and your Team

  Identifying a safeguarding concern could be upsetting or traumatic. Make sure that you and your team are OK. 

  Talk to your manager or a trusted colleague about how you are feeling (without disclosing any identifying details about the participant), and use the support and resources available to you in DfE.

  <a href="#new">Wellbeing at DfE</a>

  ## Using research data collected in the session in your analysis

  You may decide to completely exclude the participant from your data collection. 

  However, if you feel there is valuable research data from their session, you can still include it in your analysis, as long as you only include necessary and relevant data from the session, and completely redact anything related to the concern you identified.

  ## Example case study

  A DfE user researcher was conducting an interview with a male trainee teacher. The trainee teacher said something that suggested they had previously been expelled from a PGCE course because of an accusation of an inappropriate relationship with a sixth-form student. He said he had reapplied for a new PGCE under a different name.

  The user researcher could not tell if this was meant as a joke or not. She was alarmed, because if true it indicated a safeguarding risk to children.
  
  She did not discuss the topic any further with the participant. She chose complete the interview rather than closing it early, because she did not feel personally unsafe and did not want to alert the participant to her concern in case this caused him to act in an angry or defensive way.

  Immediately after the interview, she discussed what she felt she had heard with her colleague who was note-taking. She also watched the session recording  back to ensure she was accurately capturing what the participant had said. 

  She then followed the protocol in her research plan, and contacted her lead user researcher with her concern. He helped her find the details of the safeguarding lead at the participant's college. She was able to share with them the name of the participant, and a clip of the session recording with what he said. 

  The lead user researcher also informed the Senior Responsible Officer for the project and the head of user research, so that they were aware of the situation. He did not share any identifying details of the participant with them.


{% endmarkdown%}

{% endblock %}

{% block related %}
<!-- right-hand column -->

{% markdown %}
<h2 class="govuk-heading-m">Help and advice</h2>
<ul class="govuk-list govuk-list--spaced">

  <li><a href="https://ukgovernmentdfe.slack.com/archives/C015XQ05Z1B" target="_blank">Get support from the research operations team.</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="kabdkjawbd">lead user researcher or the head of user research.</a>
  </li>
</ul>


{% endmarkdown%}

{% endblock %}




