{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "What user researchers need to work effectively" %}
{% set pageDescription = "Setting your team up for successful user research." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

## You can write in markdown

- Bullet 1
- Bullet 2

<h2 class="govuk-heading-l">Or mix it up with HTML</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Bullet 1</li>
  <li>Bullet 2</li>
</ul>


{% endmarkdown%}

{% endblock %}