{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Approved tools for user research" %}
{% set pageDescription = "Tools you can use when planning and delivering user research in DfE" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}
<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #f3f2f1;" id="mainheader">
  <div class="dfe-width-container" style="padding-top: 45px; padding-bottom: 45px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="color:black">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0" style="color: black">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>



<section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <h3 class="govuk-heading-s">On this page</h3>
              <ul class="govuk-list govuk-list--spaced">
                <li><a href="#planning-recruiting">Tools for planning and recruiting for research</a></li>
                <li><a href="#conducting-research">Tools for conducting research</li>
                <li><a href="#analysing-playback">Tools for analysing, playback and legacy of research</a></li>
                <li><a href="#purchase-software">How to purchase software for you or your team</a></li>
                </ul>
              <h2 class="govuk-heading-l" id="planning-recruiting">Planning and recruiting for research</h2>
              <p>Desk research, recruitment, planning, calendar booking and phone calling</p>
              <h3>Desk research and user insights</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Sharepoint
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Civil servants and contractors working in DfE can find high level user insights in the User Insight folder on the user research community Sharepoint. Contact the research operations team if you require help with access to this location on Sharepoint.
                          </p>
                          <p><a href="https://educationgovuk.sharepoint.com/sites/lvewp00449">User research community on Sharepoint</a></p>
                          <a href="/community-of-practice/research-operations">Get help from the research operations team</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Virtual whiteboarding and flowcharting</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Lucid Suite
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Guest users can access up to 5 boards a month. Any DfE civil servant or contractor can request a full Lucid Suite license through the IT Help Centre on Service Now.
                          </p>
                          <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=fc97c54f1b40c510199d6397b04bcbc8">Make a service request for Lucid Suite</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Participant recruitment</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Research operations team
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>If your user group contains users who work in schools, the research operations team have a panel that you can access. Simply make a request in #schools-ur-panel-requests in DfE Slack or ask for support in #research-ops-support.
                          </p>
                          <a href="/community-of-practice/research-operations">Get support from the research operations team</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Recruitment Supplier
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>DfE has a centrally managed recruitment supplier in place. Follow the guidance below if you are interested in accessing the supplier.
                          </p>
                          <a href="/guidance/recruiting-participants/commercial-agency">Use a commercial agency to recruit participnts (guidance)</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Calendar booking for participants</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Calendly
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>A free account on Calendly can be created at any time and will allow up to one active booking link for unlimited participants. Calendly will integrate with your work calendar to only show available times and can be customised with buffer times and a maximum number of bookings per day can be set. Upgrades to the paid version should be discussed with your delivery manager.
                          </p>
                          <a href="https://calendly.com/signup">Create an account on Calendly</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Microsoft Bookings
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Microsoft Bookings  can be accessed as an "app" on Microsoft Teams. Bookings allows unlimited active booking links for unlimited participants. Bookings will integrate with your work calendar to only show available times and can be customised with buffer times. Bookings cannot be set to control the maximum number of sessions in a day. After adding the Bookings app to your Microsoft Teams client (click "Apps" in the left-hand bar in Teams and search "Bookings") you will need to request access to use Microsoft Bookings through the IT Help Centre on Service Now. There is not a dedicated service request option so you will need to explain on the form that you need access to Microsoft Bookings.
                            </p>
                            <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=3ab186f8db2c2b403b929334ca961998">Make a service request</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Phone calling</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Teams phone calling
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>When phone calling is required, Microsoft Teams phone calling functionality is DfE's preferred option. Request access through the IT Help Centre on Service Now:
                          </p>
                          <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=f447d875dbb920509402e1aa4b9619b4">Make a service request for Microsoft Teams phone calling</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                DfE mobile phone
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>A DfE mobile phone (work phone) might be appropriate when you are doing in-person research. Request a device through the IT Help Centre on Service Now. If a non-DfE employee (contractor) needs a mobile phone, business justification and approval from a Budget Holder should be attached to the request. Speak to your delivery manager for support.
                            </p>
                            <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=c1bb57a8dbdc6f00865049ee3b961923">Make a service request for a mobile phone</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-7" id="conducting-research">Conducting research</h2>
              <p class="govuk-body">Tools for conducting research. Video conferencing, surveys, data storage, and site analytics.</p>
              <h3 id="video-conferencing">Video conferencing</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Teams
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Microsoft Teams is installed by default on all DfE devices. Many researchers choose to use Teams when doing remote moderated interview and usability test sessions. Please note that Microsoft Teams does not support the hiding of observers from participants. If more than 2 observers are required to be in a session, Teams may not be the best option.
                          </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Lookback
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Lookback supports remote moderated and unmoderated interview sessions and usability tests, as well as video clipping, highlights, and the hiding of observers. Lookback can be purchased through your team or portfolio with plans based on number of sessions. Read the guidance linked below for details on purchasing software such as Lookback.
                            </p>
                            <a href="#purchase-software">Purchase software or tools which have already been approved for use in DfE (guidance)</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3 id="video-conferencing">Card sorting or tree testing</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                OptimalWorkshop
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>OptimalWorkshop allows you to create card sorting or tree testing tasks to use for moderated or unmoderated research. OptimalWorkshop licences can be purchased through your team or portfolio. Read the guidance linked below for details on purchasing software such as OptimalWorkshop.
                          </p>
                          <a href="#purchase-software">Purchase software or tools which have already been approved for use in DfE (guidance)</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                UserZoom
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Some UserZoom packages include support for card sorting and tree testing. UserZoom is currently used within the Customer Experience and Design (CXD) portfolio. If you work within this portfolio, speak to your lead user researcher about accessing UserZoom.
                            </p>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Data storage (including storage of video and audio)</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Secure Sharepoint folder (for personal data)
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>When storing data such as participant trackers, participant agreement forms and research recordings, you should store them in a secure research folder on Sharepoint. Follow the guidance below for details on setting up file storage, and talk to your delivery manager for support with your file storage options.</p>
                          <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#set-up-your-file-storage-access-and-retention-label">Set up your file storage access (guidance)</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Team Sharepoint (for anonymised data, insights and other files)
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Use your team Sharepoint folders for most anonymised project-related data, such as discussion guides or notes. Follow the guidance below for details on setting up file storage, and talk to your delivery manager for support with your file storage options.</p>
                          <a href="https://user-research.education.gov.uk/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#set-up-your-file-storage-access-and-retention-label">Set up your file storage access (guidance)</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Physical memory sticks/thumb drives
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>In-person research might require video footage to be stored in a physical medium before being uploaded to the cloud. Memory sticks up to 8GB in capacity can be requested from the IT Help Centre on Service Now. Talk to your delivery manager if you require higher-capacity solutions.</p>
                            <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=d4317ed837c556001635d0d543990e00">Make a service request for an encrypted memory stick</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Survey publishing</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Qualtrics
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>You must follow the survey tool guidance to publish any survey that collects quantitative data. Following this guidance will help you gain you access to the correct tool.</p>
                          <a href="/guidance/survey-design-champions">Get a survey peer reviewed and published (guidance)</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Microsoft Forms
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Microsoft Forms may only be used for purely qualitative surveys. Surveys that collect quantitative data (otherwise known as questionnaire surveys) must follow the survey tool guidance above.</p>
                            <a href="https://forms.office.com/">Log in to Microsoft Forms</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Site analytics</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Clarity
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Log in to Microsoft Clarity online using your DfE email account. You will need to ask your service designer to add your Microsoft account as a user through the Clarity project. If Microsoft Clarity is not yet set up for your service, you will need to ask a developer to install Clarity into your service before adding your account as a user.</p>
                          <a href="https://clarity.microsoft.com/">Log in to Microsoft Clarity</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-7" id="analysing-playback">Analysing, playback, and legacy</h2>
              <p class="govuk-body">Video sharing, transcription, data analysis, and insight management tools. </p>
              <h3>Video sharing</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Stream
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Microsoft Teams automatically saves recordings to Stream and video links can be shared directly or downloaded when clicking "open in Stream". There are no editing or anonymisation options available.
                          </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Lookback (sharing)
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Lookback supports recording and clip sharing out of the box. This allows for highlights and time-stamped comments, as well as basic editing and anonymisation options such as blurring. Refer to <a href="#video-conferencing">video conferencing</a> above for more information.
                            </p>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Video editing</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Clipchamp
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Microsoft Clipchamp comes pre-installed with DfE devices running Windows or can be accessed through Microsoft Stream in browser (see above). Clipchamp supports basic video editing features such as trimming and screen blur.
                          </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            <p>
                                Adobe Premiere Pro
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                            <p>Adobe Premiere Pro is suited to advanced video editing needs, including audio distortion and face/screen blurring or pixelation. Premiere Pro is specialist software and may require independent learning to understand how to use it. Access must be requested through the IT Help Centre on Service Now, under "Adobe Creative Cloud".
                            </p>
                            <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=f0b8e1391b0ab150b192ec69b04bcbe5&table=sc_cat_item">Make a service request for Adobe Creative Cloud</a>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Transcription</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Microsoft Teams
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Microsoft Teams enables transcription automatically when a session is recorded.</p>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Insight management and qualitative data analysis</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Marvin
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>Marvin is currently being trialled within Schools Digital (formerly Teacher Services) portfolio.</p>
                        </td>
                    </tr>
                </tbody>
              </table>
              <h3>Quantitative data analysis</h3>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Tool</th>
                        <th class="govuk-table__header" style="width: 70%">What you need to know</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                       <th class="govuk-table__header">
                            <p>
                                Qualtrics
                            </p>
                        </th>
                        <td class="govuk-table__cell">
                          <p>You should speak to a survey champion about using Qualtrics for quantitative data analysis. Find more information below.</p>
                          <a href="/guidance/survey-design-champions#get-a-peer-review-from-a-dfe-survey-champion">DfE Survey Champions</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header">
                           <p>
                               Microsoft Excel
                           </p>
                       </th>
                       <td class="govuk-table__cell">
                         <p>Microsoft Excel is often appropriate for basic data analysis. Excel is included as part of the office suite on all DfE devices.
                       </td>
                   </tr>
                </tbody>
              </table>
              <h2 id="purchase-software">
                How to purchase software and tools
              </h2>
              <p>
                Some software and tools require purchase before you can use them. Before purchasing, check with your lead user researcher, other user researchers in your portfolio or your delivery manager whether tools that meet your needs have already been purchased for use in your portfolio.
              </p>
              <h3 id="purchase-approved">
                Purchase software or tools which have already been approved for use in DfE
              </h3>
              <p>
                To purchase software or a tool that has already been approved for use in DfE (including software listed on this page), you will need to make a service request for 'non-listed software' in the IT Help Centre on Service Now (link below).
              </p>
              <p>
                The service request form below is suitable for all software that requires purchase. You will require budget and business justification when making the request. Confirm these with your delivery manager before you submit.
              </p>
              <p>
              <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=4f29e9d91b0a8150b192ec69b04bcb46">Request software not listed in the IT Help Centre and software center</a>
              </p>
              <h3 id="purchase-non-approved">
                Purchase software or tools which are non yet approved for use in DfE
              </h3>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Installing, buying or entering DfE data into any tool that has not been approved for use in DfE could be a serious disciplinary offence.
                </strong>
              </div>
              <p>
                You can ask to buy or trial software or tools that are not currently approved for use in DfE, using a service request. Before the purchase is made, the tool will be security assured. This can take a few weeks, so make sure you plan for this in your project timelines.
              </p>
              <p>
                Any new user research-related software will also need to be approved for use by the head of user research, to ensure consistency and value for money for the department. Speak to the head of user research before making your service request.
              </p>
              <p>
                <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=4f29e9d91b0a8150b192ec69b04bcb46">Request software not listed in the IT Help Centre and software center</a>
              </p>
          </div>
      </div>
  </div>

</section>



{% endmarkdown%}

{% endblock %}