{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Community of practice meetups" %}
{% set pageDescription = "Regularly meeting as a community, to learn together and spend time with other user researchers" %}

{% block content %}

{% markdown %}

Twice a month, we meet as a community of user researchers, to learn from and support each other, hear DfE and external speakers talk about user research topics, share experiences and best practice, and help develop our UR practice. We have monthly national meetups, and we have 3 smaller monthly local meetups.

If you don't receive calendar invites during your first week at DfE, <a href="/community-of-practice/research-operations.html">contact Research Operations</a> who will add you.

| __Local community__ | __When__ | __Organisers__
|---------------|---------------|----------------
| __National__ | First Thursday of the month,<br/> 1-2 pm | Chardai Brice, Adam Dumbell |
| __Coventry and Bristol__ | Third Thursday of the month,<br/> 1-2pm | Laura Palfreyman |
| __London__ | Third Thursday of the month,<br/> 1-2 pm | Valentina Mazzi, Nataliya Mykhalchenko |
| __Manchester and Sheffield__ | Third Thursday of the month,<br/> 1-2 pm | James Angove, Jude Eccles, Emma Christoforou |

Our meetups are run as hybrid sessions: we really encourage you to come together in person with colleagues in your office location, but you can also join remotely over Teams.

The content of local meetings differs depending on which you attend. Each local community has its way of doing things, and its own personality.

If your office doesn't have a local community, please contact Chardai Brice to discuss which local community would be best for you to join.

Some sessions are recorded to give everyone in the community a chance to access the content. <a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EkrHMAWaGLRHrbH4QQhRk2gBNhCtNEznsO9xyJW9KeocVg?e=ym8CSN"> Watch recordings of previous meetups (DfE SharePoint users only)</a>.

## Present at a community of practice meetup

We're always looking for user researchers to share their work and experience at a community meetup. Contact your local organiser, or <a href="https://ukgovernmentdfe.slack.com/team/U0351HD3WER">contact Chardai Brice in Slack</a> to learn more about how the team can support you to deliver a great session.

### Help run our community meetups

Our community organisers organise and plan content for our national and local meetups. We all come together once or twice a year with the Head of user research to develop our overall community strategy.

Everyone is welcome to get involved in this group, to help organise and steer the future of our national and local meetups. <a>Contact the head of user research, Tom Adams

Each local community has a community lead or team to plan the sessions: becoming an active member is a good way of shaping how your local community does things.  


## Cross government user research community

There is also a <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/"> cross-government user research communities</a> that publishes blog content and holds occasional meetups. 

## Meet our community organisers

You can email the team on <a href="mailto:">userresearch.operations@education.gov.uk</a>

<div class="govuk-grid-row" style="margin-bottom: 40px;">
    <div class="govuk-grid-column-full">
        <div class="dfe-grid-container">
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/chardai.webp" type="image/webp">
                    <img src="/assets/images/chardai.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Chardai Brice
                    </h2>
                    <p>National community meetups organiser</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U0351HD3WER">Contact Chardai in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/adam.webp" type="image/webp">
                    <img src="/assets/images/adam.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Adam Dumbell
                    </h2>
                    <p>National community meetups organiser</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U011S0HBHJR">Contact Adam in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/laura.webp" type="image/webp">
                    <img src="/assets/images/laura.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Laura Palfreyman
                    </h2>
                    <p>Coventry and Bristol local community organiser</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U5B8TF6C8">Contact Laura in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/vale.webp" type="image/webp">
                    <img src="/assets/images/vale.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Vale Mazzi 
                    </h2>
                    <p>London local community organiser</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U034GJCE763">Contact Vale in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/nataliya.webp" type="image/webp">
                    <img src="/assets/images/nataliya.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Nataliya Mykhalchenko
                    </h2>
                    <p>London local community organiser</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U05L670UK0X">Contact Nataliya in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/james.webp" type="image/webp">
                    <img src="/assets/images/james.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    James Angove
                    </h2>
                    <p>Manchester and Sheffield local community organiser (Manchester)</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U045VEVG3LK">Contact James in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/jude.webp" type="image/webp">
                    <img src="/assets/images/jude.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Jude Eccles
                    </h2>
                    <p>Manchester and Sheffield local community organiser (Manchester)</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/UQ49WQEP6">Contact Jude in DfE Slack</a></p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/emma.webp" type="image/webp">
                    <img src="/assets/images/emma.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                    Emma Christoforou
                    </h2>
                    <p>Manchester and Sheffield local community organiser (Sheffield)</p>
                    <p><a href="https://ukgovernmentdfe.slack.com/team/U03MXV9THA9">Contact Emma in DfE Slack</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endmarkdown%}

{% endblock %}