{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Community initiatives and interest groups" %}
{% set pageDescription = "Community groups formed around devloping our profession - or just for fun and shared interests." %}

{% block content %}

{% markdown %}

Whatever your interest in user research, there are other researchers in our large UR community who share it. We come together in groups with shared interests, sometimes as voluntary working groups developing our profession and defining best practice, and sometimes purely for fun and interest, talking about topics with like-minded colleagues.

For civil servant user researchers, actively contributing to one of these groups could form your <a href="/your-ur-career-at-dfe/objectives-profession-management-and-mentoring.html"> profession objective. </a>

If you don't see a group formed around your interest, then why not start it yourself? Use our community Slack channels to find people who share the interest, get together, and <a href="/community-of-practice/leadership-team.html">let the head of user research know if you start a new group, so we can add it to this page</a>.


## Community initiative working groups

As well as to allow people with a shared interest to come together, our working groups have been set up to create community-led improvements to our user research practice at DfE. They each have defined goals, and will create outputs.

These groups will be led by, or will have involvement from, a lead user researcher or the head of user research.

### Ethics Forum

An open forum for everything related to ethics in user research at DfE.

Ethics Forum is a source of informal support for user researchers to meet the DfE UR principles and standards, by helping you to make the best ethical decisions in the context of your research, and giving you confidence that your research methods are ethically sound. They do this by:

- peer-reviewing ethics, safeguarding and other guidance
- improving URs' access to the right support
- sharing and learning practices across government
- making sure we understand user researchers' needs
- iterating the guidance and supporting the development of DfE UR standards

The forum meets fortnightly (Wednesdays, 3:30pm).

Look out for announcements in the user research Slack channel, or contact <a href="https://ukgovernmentdfe.slack.com/team/U02AHLEJLAZ" target="_blank">Sarah Walmsley (opens in a new tab)</a> or <a href="https://ukgovernmentdigital.slack.com/team/U068PEZ3L5N" target="_blank">Elena Bracey (opens in a new tab)</a> in DfE Slack for the invite.

If you're from another government department, and are interested in what we're doing in the Ethics Forum, <a href="https://ukgovernmentdigital.slack.com/team/U01Q854HVMF" target="_blank">Sarah Walmsley in cross-government Slack (opens in a new tab)</a> or <a href="https://ukgovernmentdigital.slack.com/team/U068PEZ3L5N" target="_blank">Elena Bracey in cross-government Slack (opens in a new tab)</a>. 

#### Ethics advisory group

Related to Ethics Forum is the ethics advisory group. This is a group of DfE user researchers who give peer advice about ethics or safeguarding questions to any other user researcher working in DfE.

<a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get advice from the ethics advisory group</a>

### Consent working group

We want to be sure that every participant who takes part in DfE user research is fully informed about the research, and has been able to give proper consent, in all situations.

A working group has been formed to answer the question: "what do we need to ensure that URs understand how to inform participants and gather consent from them in appropriate ways, and have the guidance, support or tools they need to do this?"

<a href="https://ukgovernmentdfe.slack.com/team/U01EMFSDU9Y" target="_blank">Contact Solène Heinzl in DfE Slack (opens in a new tab)</a> to get involved.

### Inclusive research working group

This working group has been formed to understand how we can be more inclusive in our research activities, understanding what “doing inclusive research” means and what might be blocking us from doing more of it.

<a href="https://ukgovernmentdfe.slack.com/team/U034GJCE763" target="_blank">Contact Vale Mazzi in DfE Slack (opens in a new tab)</a>


### Community planning and strategy

This is working group to establish and maintain a strong UR community of practice at DfE, by creating and implementing a strategy to allows URs to meet, share, apply skills and build relationships with other URs across the department, in our community meet-ups and other channels.

<a href="https://ukgovernmentdfe.slack.com/team/UTL61DP1C" target="_blank">Contact Tom Adams in DfE Slack (opens in a new tab).</a>

### Training working group

Set up to develop a training proposition indicating where training material for developing skills can be found and, for creating training materials, for progression for all UR grades.

<a href="https://ukgovernmentdfe.slack.com/team/ULMNJG00G" target="_blank">Contact Charly Dalby in DfE Slack (opens in a new tab).</a>


## Interest groups

Interest groups are self-formed and self-directed by user researchers in our community, sometimes alongside colleagues from other professions. They are normally formed around a single topic, and (unlike working groups) they don't necessarily have a defined goal or output (although members may decide that they want to create something, for example a standard or guidance). They exist for us to come together and talk with likeminded friends about the topics that interest us.

### Ethnography

A group of user researchers interested in using in-depth, visual, place-based research approaches to capture rich insight about our users' lives and contexts. We reflect on people's experience and discuss how methods could be applied to our practice.

As part of this, we host external speakers and are keen to discuss any examples or plans for ethnographic research within DfE to make it work and build a case for more of it.

The group meets the second Thursday of the month, 2.30-3.30pm.

<a href="https://ukgovernmentdfe.slack.com/team/U034GJCE763" target="_blank">Contact Vale Mazzi in DfE Slack (opens in a new tab)</a> or <a href="https://ukgovernmentdfe.slack.com/team/U01F89MMDFX" target="_blank">contact Leonie Shanks in DfE Slack (opens in a new tab)</a>.

### Junior user researchers

Slack channel for junior user researchers to share their knowledge, learnings and experiences, and to seek and give support to fellow junior user researchers.

<a href="https://ukgovernmentdfe.slack.com/archives/C016SURGCMC" target="_blank">Visit #junior_user_researchers in DfE Slack (opens in a new tab)</a>

<!--
### Co-design community

Group for anyone interested in codesign methods and approaches.

<a href="https://ukgovernmentdfe.slack.com/team/U01JKGSL415" target="_blank">Contact Sarah Thew in DfE Slack (opens in a new tab).</a>
-->

### Quantitative user research interest group 

The group aims to bring user researchers together interested in quantitative approaches to user research, to share and learn practical quantitative methods for data collection & analysis. 

The group meets the last Thursday of the month, 2.30-3.30pm. 

Contact <a href="https://ukgovernmentdfe.slack.com/team/U03H1T0VA95">Amilcar Johnson in DfE Slack (opens in a new tab)</a>, <a href="https://ukgovernmentdfe.slack.com/team/U06MRJ71FK5">Denny Vlaeva in DfE Slack (opens in a new tab)</a>, or <a href="https://ukgovernmentdfe.slack.com/team/U03BBEW0QQ3">Elena Bracey in DfE Slack (opens in a new tab)</a>.   

### Starting an interest group

If you don't see a group formed around your interest, then why not start it yourself? Use our <a href="app/views/community-of-practice/ur-slack-channels.html">community Slack channels</a> to find people who share the interest, and then get together! 

Please let Tom Adams, the head of user research, know if you start a new group, so we can add it to this page, and ask Tom if you need any support or advice when setting up your group. 



{% endmarkdown %}

{% endblock %}