{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "How we're developing UR at DfE" %}
{% set pageDescription = "How we're developing our user research capability, and our people and leadership team." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We want Department for Education to be the best place to do user research in government. We’re constantly developing our profession: learning from best practice, introducing standards, guidance and support, and maturing how the department thinks about user research and supports its user researchers.

It’s important to us that we work in the open. <a href="https://lucid.app/lucidspark/ffec378d-e50b-4a66-be6f-8b761da964d0/view">You can see what we’re working on right now in our profession backlog, viewable by anybody</a>.

In summer 2022, we introduced a roadmap to develop our profession across DfE over the next few years. Our goal is to be truly joined up and user-centred in the way we think about, plan and deliver our research. This approach will allow us to play our part in Mission 3 of the Digital, Data and Technology (DDT) strategy for DfE to be a "‘"trusted, user-centred provider of joined up, targeted and effective policies and services".

You can <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/lvewp00259/_layouts/15/doc2.aspx?sourcedoc=%7BC3452062-2EDE-4C09-9151-6F87A403F459%7D&file=20220110%20Digital%20and%20Data%20Strategy.pptx&action=edit&mobileredirect=true&cid=ad313829-fb7c-40f6-bda3-c88216285a76">read the full DDaT strategy - “A vision for technology in education and care” (DfE users only)</a>.

There are 4 milestones in our roadmap:

<ol>
  <li><strong>Basic needs</strong>
    <ul>
      <li>over the next few months, we will ensure that user researchers have most of the basic things they need to deliver user research, and to stay safe. (This website is a key part of us achieving this milestone.)</li>
    </ul>
  </li>
  <li><strong>Standards-led</strong>
    <ul>
      <li>by the end of 2024, all user researchers are delivering the highest quality work, to a single, shared set of professional standards</li>
    </ul>
  </li>
  <li><strong>Adaptive</strong>
    <ul>
      <li>by the end of 2025, mature, adaptive, experimentation-led research frameworks are in place for policy design, service design, and live service optimisation</li>
    </ul>
  </li>
  <li><strong>Joined up and user-centred</strong>
    <ul>
      <li>by the end of the decade, we have a common, shared understanding of all our users, and research activity is joined up across the department, helping DfE meet Mission 3 of our DDaT strategy (“The DfE is a trusted, user-centred provider of joined up, targeted and effective policies and services”)</li>
    </ul>
  </li>
</ol>

Our head of user research Tom Adams is responsible for developing and delivering our profession roadmap, and our overall strategy to develop user research at DfE.

This work is delivered by Tom, our lead user researchers, our research operations team, and - most importantly - by members of our user research community, through <a href="/community-of-practice/community-initiatives-and-interest-groups.html">working groups and interest groups</a>.

{% endmarkdown %}

{% endblock %}