{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "How we're developing UR at DfE" %}
{% set pageDescription = "Our vision for the user research practice at DfE, and how we'll get there." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

Our vision is: <br><strong>Department for Education will be the best place in government to be a user researcher</strong>.

We will create the right environment, and have the tools and support for user researchers to do their best work and to develop their careers. We will deliver research insight that is truly impactful, helping to deliver better services and policy for the people who use and rely on them.

We have three goals. We will:

<ol class="dfe-list--number" style="padding-left:20px">
<li>Enable user researchers to learn skills and develop their careers, while being well supported as they work
<li>Enable user researchers to deliver impactful and inclusive user research, ethically and safely
<li>Enable user researchers to research effectively and productively, delivering impact without wasted effort
</ol>

These map into the DfE <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/lvewp00259/_layouts/15/doc2.aspx?sourcedoc=%7BC3452062-2EDE-4C09-9151-6F87A403F459%7D&file=20220110%20Digital%20and%20Data%20Strategy.pptx&action=edit&mobileredirect=true&cid=ad313829-fb7c-40f6-bda3-c88216285a76">Digital, Data and technology strategy (DfE users only)</a>.

## How we'll achieve this

To achieve all of this, we are constantly developing our profession: learning from best practice, introducing standards, guidance and support, and maturing how the department thinks about user research and supports its user researchers.

<a href="https://lucid.app/lucidspark/314377ee-279f-446b-af87-49d2e9c3d75c/edit?viewport_loc=9269%2C3213%2C13582%2C7766%2C0_0&invitationId=inv_59a5f907-239b-46c1-a887-deb3e15271f9">Our roadmap and priorities are here, viewable by anybody</a>

It is important to us that we work in the open. Our roadmap is public, and the guidance and support we develop and introduce will (unless sensitive or otherwise something we can't talk about publicly) be published on this website.

Our head of user research Tom Adams is responsible for developing and delivering our profession roadmap, and our overall plan to develop user research at DfE.

This work is delivered by Tom, our lead user researchers, our research operations team, and - most importantly - by members of our user research community, through <a href="/community-of-practice/community-initiatives-and-interest-groups.html">working groups and interest groups</a>.

We also work closely with colleagues in other government departments, to share best practice and learn from each other.

{% endmarkdown %}

{% endblock %}