{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "About our user research community" %}
{% set pageDescription = "Our people, community meetups and groups, and how we're developing user research capability across the department." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

<section class="dfe-width-container" style="padding: 0px 0px 0px 0px; margin:0 0 40px 0;">
  <div class="govuk-!-margin-top-0" style="background: #e6f0f5;">
    <div class="dfe-width-container" style="padding: 20px 40px;">
       <div class="govuk-grid-row">
             <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                <img src="/assets/images/user-research-mission-patch.png" style="float:right; width:200px; rotate: 10deg;" alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'">
                Our mission patch
            </h2>
            <p>The DfE user research community designed this sticker together. Like us, otters are collaborative, adaptable, and effective as individuals but with a strong sense of community.</p>
            <p>You can get a laptop sticker from your <a href="/community-of-practice/community-meetups.html">local UR community lead</a>.
       </div>
    </div>
  </div>
</section>

## Find a DfE user researcher

We keep a <a href="https://educationgovuk.sharepoint.com/:x:/s/lvewp00449/EY0A_SUa4RRAl6LBM1-0w-EBQywbIhvEy8m0uaQ0ZPO_kQ?e=CyR6sB">list of all user researchers currently working in the Department (DfE SharePoint users only)</a>.


## Why we have a user research community

It's our goal to make Department for Education the best place in government to be a user researcher, and our active and supportive community of practice, made up of our more than 110 brilliant user researchers, is a big part of that.

When you join DfE, you're joining a friendly group of passionate professionals, who want to deliver great research for our teams, and make a real difference to the users of DfE services and policies.

We regularly come together in <a href="/community-of-practice/community-meetups.html">community of practice meetups</a>, have active and friendly <a href="/community-of-practice/ur-slack-channels.html">Slack channels</a>, and various <a href="/community-of-practice/community-groups-and-initiatives.html">community initiatives, working groups and interest groups</a> to get involved in.



{% endmarkdown %}

{% endblock %}