{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "Leadership team" %}
{% set pageDescription = "Our user research profession leadership team, what they do, and how to contact them" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

<div class="govuk-grid-row" style="margin-bottom: 40px;">
  <div class="govuk-grid-column-full">
    <div class="dfe-grid-container">
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/tom.webp" type="image/webp">
          <img src="/assets/images/tom.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Tom Adams
          </h2>
          <p>Head of user research</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/UTL61DP1C">Contact Tom in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U0205APU74K">Contact Tom in cross-government Slack</a></p>
          <p><a href="mailto:tom.adams@education.gov.uk">Email Tom</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/annaliese.webp" type="image/webp">
          <img src="/assets/images/annaliese.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Annaliese Lamb
          </h2>
          <p>Lead user researcher, Services for Schools</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/U035FP68FPB">Contact Annaliese in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U03BW46JMLG">Contact Annaliese in cross-government Slack</a></p>
        </div>
      </div>{#
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/charly.webp" type="image/webp">
          <img src="/assets/images/charly.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Charly Dalby
          </h2>
          <p>Lead user researcher, Data Engineering</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/ULMNJG00G">Contact Charly in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/ULRS9EEJU">Contact Charly in cross-government Slack</a></p>
        </div>
      </div>#}
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/ella.webp" type="image/webp">
          <img src="/assets/images/ella.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Ella Beaumont
          </h2>
          <p>Lead user researcher, Vulnerable Children and Families</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/UQUHUP0HH">Contact Ella in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U01V4QTTKKM">Contact Ella in cross-government Slack</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/will.webp" type="image/webp">
          <img src="/assets/images/will.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Will Finn
          </h2>
          <p>Lead user researcher, Teacher Services</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/U0360NUT6PJ">Contact Will in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U035AV4PUNN">Contact Will in cross-government Slack</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/profile.webp" type="image/webp">
          <img src="/assets/images/profile.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            (From spring 2024)
          </h2>
          <p>Lead user researcher, Data Engineering</p>
        </div>
      </div>
    </div>
  </div>
</div>

As head of user research, Tom's job is to develop our professional capability across the department, and create a culture and working practices that encourage and enable great user research. Tom owns and is responsible for delivering our profession strategy and roadmap.

He advocates for user research in the department, and also joins up with other heads of user research to do this across government.

As lead user researchers, Annaliese, Ella and Will coordinate research and manage the user research team in a single area of DfE. They are responsible for ensuring their user researchers are meeting our professional standards, and that they are coming together to share their insight and building a single user-centred picture of our different user groups.

Our goal is to have a lead user researcher in place in every portoflio of work in DfE. We’re working on this.


{% endmarkdown %}

{% endblock %}