{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "User research Slack channels" %}
{% set pageDescription = "Get involved in our meetups, Slack channels, initiatives and interest groups." %}

{% block content %}

{% markdown %}

Our channels in Department for Education Slack are a great place to meet, speak to and get advice from other DfE user researchers. 

All civil servant and contractor user researchers should be given Slack access when you join DfE. If not, you can <a href="https://ukgovernmentdfe.slack.com/signup" target="_blank">sign up manually here (opens in a new tab)</a>. You will need an education.gov.uk email address to join.

* <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">National channel: #user_research (opens in a new tab)</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/CLE46M53L" target="_blank">Manchester: #mcr-userresearchers (opens in a new tab)</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C03NGLQDJJW" target="_blank">Sheffield: #sheffield_user_researchers (opens in a new tab)</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C02R0G76KBM" target="_blank">London: #ldn_userresearch (opens in a new tab)</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C7HQB7PQU" target="_blank">Coventry and Bristol: #coventry_bristol_urs (opens in a new tab)</a>

#user_research is where the UR leadership team make any important announcements. It's always worth keeping an eye on this channel.

## Cross government Slack user research channels

You can also join the cross-government Slack user research channels to meet and talk to user researchers from other government departments. Anybody with a .gov.uk email address can sign up at <a href="https://ukgovernmentdigital.slack.com/" target="_blank">ukgovernmentdigital.slack.com (opens in a new tab)</a>.

* <a href="https://ukgovernmentdigital.slack.com/archives/C062J6Y59" target="_blank">Cross-government user research: #user-research (opens in a new tab)</a>
* <a href="https://ukgovernmentdigital.slack.com/archives/C01Q01G77FX" target="_blank">Cross-government research operations: ##research-ops-community (opens in a new tab)</a>



{% endmarkdown%}

{% endblock %}