{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "Community of practice" %}
{% set pageDescription = "Get involved in our meetups, Slack channels, initiatives and interest groups." %}

{% block content %}

{% markdown %}

We have an active and supportive community of practice, where user researchers from across the department come together to learn from and support each other, share experiences and best practice, hear announcements from leadership and how we're developing the profession, and mix with people from across the department.

There are also <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/" target="_blank"> cross-government communities</a> that publish blog content and hold meetups. 

## Slack channels

<a href="https://ukgovernmentdfe.slack.com" target="_blank">Department for Education's Slack channels</a> are a great place to meet, speak to and get advice from other user researchers. Note that this Slack is only open to DfE staff, current contractors, and people working in agencies and bodies within the department. You will need an education.gov.uk email address to join. 

MOst user researchers will be given Slack access when you join DfE. If not, speak to your line manager, or the Research Operations team, who can help you get registered.

* <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">National channel: #user_research</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/CLE46M53L" target="_blank">Manchester: #mcr-userresearchers</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C03NGLQDJJW" target="_blank">Sheffield: #sheffield_user_researchers</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C02R0G76KBM" target="_blank">London: #ldn_userresearch</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C7HQB7PQU" target="_blank">Coventry and Bristol: #coventry_bristol_urs</a>
<p>#user_research is where the UR leadership team make any important announcements: it's always worth keeping an eye on this channel.</p>

## Community meetups

If you are a user researcher (civil servant and contractor) at DfE, you are invited and encouraged to attend our community meetups: regular sessions where user researchers come together in person, or remotely over MS Teams.

We have monthly national meetups, run remotely, and each DfE office location with digital staff has a local meetup, run as a hybrid session: people are encouraged to attend in-person, but can also join over Teams.

The content of meetings differs depending on which you attend, and each local community has its way of doing things, and its own personality.

| __National__  | __Local__ |
|---------------|---------------|
| Share knowledge and skills within the community and with other professions      | Share experience and support with researchers in that area |
| Discuss challenges and best practices relevant to the whole community      | Discuss things related explicitly to researchers in each locale |

| __Area__ | __Frequency__ | __Organisers__ |
|---------------|---------------|----------------
| __National__ | First Thursday of the month, 1-2 pm | Chardai Brice |
| __Coventry and Bristol__ |  | Laura Palfreyman |
| __London__ | Third Thursday of the month, 1-2 pm | Valentina Mazzi |
| __Manchester and Sheffield__ | Third Thursday of the month, 1-2 pm | James Angove, Emma Christoforou |

If your office doesn't have a local community, please contact Chardai Brice to discuss which local community would be best for you to join.

Some sessions are recorded to give everyone in the community a chance to access the content. <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/4.%20Community%20meetup%20recordings%20and%20slides?csf=1&web=1&e=3GfLOw"> Watch recordings of previous meetups (DfE intranet link)</a>.

### Present at a community of practice meetup

We're always looking for user researchers to share their work and experience at a community meetup. Contact your local lead, or <a href="https://ukgovernmentdfe.slack.com/team/U0351HD3WER">Chardai Brice</a> to learn more about how the team can support you to deliver a great session.

### Help develop our community meetups strategy

The <a href="#">community of practice working group</a> develops our community strategy, and plans content for national meetups. Each local community has a community lead or team to plan the sessions: becoming an active member is a good way of shaping how your local community does things.  

Everyone is welcome to get involved, to help steer the future of our national meetups.


## Community initiatives and interest groups

Whatever your interest in user research, there are probably other researchers in our community who share it. We have lots of voluntary working groups who work together on community initiatives, as well as interest groups who come come together to talk about a shared interest, share experiences, and sometimes design best practice.

We invite and encourage every user researcher to get involved with a working group or interest group. This includes contractors: we really value the expertise and experiences you bring from other organisations you've worked in.

For civil servant user researchers, actively contributing to one of these groups could form your <a href="/about-ur-at-dfe/career-development/able-objectives.html"> profession objective. </a>

Our current groups are listed below, with the people to contact if you would like to get involved.

If you don't see a group formed around your interest, then why not start it yourself? Use our community Slack channels to find people who share the interest, get together, and <a href="">let us know if you create a working group so we can add it to this page</a>.

### Working groups

As well as to allow people with a shared interest to come together, our working groups have been set up to create community-led improvements to our user research practice at DfE. They each have a defined goal, and will create outputs: for example, our Ethics working group was set up to deliver guidance for ethical user research, and help develop our user research standards.

Some of these groups are focused on developing UR practice and capability across the whole of DfE. Others have been formed to experiment around a topic in a single programme or portfolio, in order to identify changes that might in the future be rolled out across DfE.

These groups will be led by, or will have involvement from, a Lead User Researcher or the Head of User Research.

| __Working group__  | __Contact__ | __Purpose__ |
|---------------|---------------|---------------|
| __Community strategy__ | Tom Adams | Working group to establish and maintain a strong UR Community of Practice at DfE through delivery of community meet-ups, and creating and implementing a strategy that allows URs to share and apply skills and build relationships with other URs across the department |
| __Ethics working group (Ethics Club)__ | Will Finn | Working group to create and embed ethical standards for our community, and provide ad hoc peer advice through the ethics advisory group sub-group within Ethics Club |
| __Training working group__ | Annaliese Lamb | Set up to develop a training proposition indicating where training material for developing skills can be found and, for creating training materials, for progression for all UR grades |
| __Collaborating with other professions__ (Teacher Services action team) | Will Finn | A multidisciplinary action group based in Teacher Services, identifying ideas for how qualitative and quantitative professions can collaborate to solve whole problems for users |
| __Peer reviews__ (Teacher Services action team) | Alex Harris | A team in Teacher Services aiming to develop and test a nimble peer review process for user research plans |
| __Teacher recruitment__ (Teacher Services action team) | Will Finn | A team aiming to resolve challenges with recruiting participants for Teacher Services |
| __Mentoring programme__ (Teacher Services action team) | Sarah Walmsley | A team aiming to develop a mentoring programme to help people get involved in mentoring as a mentor or mentee |


### Interest groups

Interest groups are self-formed and self-directed by user researchers in our community, sometimes alongside colleagues from other professions. They are normally formed around a single topic, and (unlike working groups) they don't necessarily have a defined goal or output (although members may decide that they want to create something, for example a standard or guidance). They exist for us to come together and talk with likeminded friends about the topics that interest us.

| __Interest group__  | __Contact__ | __Topic__ |
|---------------|---------------|---------------|
| __Ethnography__ | Vale Mazzi | A forum to reflect on and learn about ethnographic approaches, consider best practice, and discuss how it can be applied to our work. |
| __Junior user researchers__ | <a href="https://ukgovernmentdfe.slack.com/archives/C016SURGCMC">#junior_user_researchers</a> | Slack channel for junior user researchers to share their knowledge, learnings and experiences, and to seek and give support to fellow junior user researchers. |
| __Co-design community__ | Sarah Thew | Group for anyone interested in codesign methods and approaches | 
| __Internal research__ | Adam Dumbell | A group of URs doing internal research. We meet once every couple weeks to discuss what we're working on, any issues, and suggestions |
| __Storytelling__ |  | A group for sharing knowledge and experience of storytelling techniques. We discuss how to use storytelling to communicate and convince |



{% endmarkdown%}

{% endblock %}