{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "working_with_ur_in_team" %}
{% set pageName = "What user researchers do" %}
{% set pageDescription = "Understanding what user researchers do in DfE, and what they will bring to your team." %}

{% block content %}

{% markdown %}

<div class="govuk-inset-text">
  <p>The content on this page is for delivery managers, product managers, and anybody else working in a team working with a user researcher.</p>
</div>

User researchers at Department for Education help teams understand their users, helping them design and build services that solve the right problems for users and meet user needs. </p>

This means our users will have a better experience of DfE, and ensures we don't waste taxpayers' money on building the wrong things.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#why-dfe-teams-need-a-user-researcher">Why DfE teams need a user researcher</a></li>
    <li><a href="#what-to-do-if-your-team-doesnt-have-a-user-researcher">What to do if your team doesn't have a user researcher</a></li>
    <li><a href="#how-user-research-is-different-to-other-types-of-research-in-dfe">How user research is different to other types of research in DfE</a></li>
    <li><a href="#user-research-methods">User research methods</a></li>
    <li><a href="#user-research-is-a-team-sport">User research is a team sport</a></li>
  </ul>

## Why DfE teams need a user researcher

User research helps a team to:

- understand their users' problems, goals and tasks
- decide what (if any) service DfE needs to build for the users
- ensure the services we create meet the needs of users

A user researcher brings the authentic voices, experiences, stories and needs of users into the team, making sure that the whole team understands their users, and makes decisions about the design of the service based on what users need.

User research is a <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework">DDaT (Digital, Data and Technology) profession</a>. We help our teams design services across all digital and non-digital touchpoints, from helping define what service (if any) to build, all the way to ongoing improvements of live services.

Some user researchers are also involved in designing DfE policy: DfE, like many other government departments, is testing different ways to bring user researchers and agile user research methods into policy teams.

Visit the GDS Service Manual to <a href="https://www.gov.uk/service-manual/user-research">find out more information on user research in government</a>.

If you are already a user researcher or you are interested in the profession, find out how to <a href="/-about-ur-at-dfe/communities-of-practice.html">connect with the user research community</a>.


## What to do if your team doesn't have a user researcher

If your team is designing a service for users, not having a user researcher means you probably won't meet <a href="https://apply-the-service-standard.education.gov.uk/service-standard/6-have-a-multidisciplinary-team.html#in-beta-and-live">the service standard</a>. 

Additionally, if you are speaking to users without a user researcher, you may not know how to do it in a way that meets <a href="/-ethics-safeguarding-inclusive/#content">our professional standards</a>: i.e. gathering accurate insight, and being conducted in a way that is ethical for users, and meets laws and departmental requirements around data privacy and safeguarding.

Speak to the <a href="https://educationgovuk.sharepoint.com/sites/lvewp00038/SitePages/DDaT-Central-Functions.aspx">DfE DDaT Business Partners team (DfE Intranet)</a> to understand whether your team needs a user researcher, and how to go about doing this.

## How user research is different to other types of research in DfE

User research is related to, but not the same as, other research and insight disciplines that help DfE understand our users, like social research, market research or performance analysis. 

User researchers don't replace these other specialists: often, a team or programme will need to employ multiple types of research and insight at different times, to really understand their users and their problem space.

## User research methods

User researchers are mainly interested in peoples' behaviour, rather than their opinions. We tell our teams what people do and need to do in order to understand their needs, rather than what people say. 

<a href="https://www.gov.uk/guidance/user-researcher">User researchers have a range of skills</a> that allow us to plan, design and carry out research activities with users.

Our research is often qualitative and in-person, using structured interviews and observation to gather insights about user behaviour and user needs. However, we also use a number of other methods that can be employed in different contexts to understand different user problems and needs. A user researcher knows the best method to employ for different research problems.

User researchers don't often generate statistically significant data about users, although we use this data (from social research, performance analysis, etc) to inform our own research. 

Because service teams generally work in agile sprints, we frequently use research methods that generate insights quickly. We build up insight over time: one sprint of research doesn't give us deep understanding of our users, but multiple related sprints of research over time will build up a high level of confidence in our insights. Sometimes we also use longitudinal research methods, gatering insight from the same users over longer periods - for example, over multiple weeks or months. 


## User research is a team sport

User researchers don't work alone in our teams. Part of our job is to bring the whole team into research activities, from planning what research is needed, to observing research sessions, getting involved in analysis, or making sure that the whole team and stakeholders hear and understand the user insights we've gathered.

You can read more about what this means in these <a href="https://userresearch.blog.gov.uk/category/team-sport/">GDS 'user research is a team sport' blogs</a>

At different points in a service lifecycle, user researchers might work very closely with different members of a team. For example, during a Discovery they might work hand-in-hand with a service designer or business analyst, or in Beta with an interaction designer. We always work very closely with product managers, because this helps ensure that user needs are leading the team's backlog and priorities.

### Team members should observe user research

All team members should regularly make the time to observe user research sessions. This helps ensure teams <a href="https://userresearch.blog.gov.uk/2016/09/29/dont-forget-2-hours-every-6-weeks/">don't only look inwards at the team, but outwards towards their users</a> and builds empathy and understanding.

<div class="govuk-inset-text">
  <p>You can often also observe other team's user research sessions. Join <a href="/about-ur-at-dfe/community-of-practice/#ur-community-slack-channels">Ask in the user research Slack channel</a> or <a href="/about-ur-at-dfe/index.html#user-research-profession-leadership-team">contact the head of user research or a lead user researcher</a></p>
</div>

### Taking notes in user research sessions

When observing a user research session in your team, you will be asked to take notes. 

Effective note taking for user research is a skill, and good quality notes really help maximise the insight your team will gain from the research.

Before attending the research session, read this <a href="https://userresearch.blog.gov.uk/2014/10/29/anatomy-of-a-good-sticky-note">GOV.UK blog on good note taking in user research</a>.


## Find out more

Speak to your <a href="/about-ur-at-dfe/index.html#user-research-profession-leadership-team">lead researcher or the head of user research</a> to find out more about user research, and how to help ensure they'll be sucessful in your team. 


{% endmarkdown%}

{% endblock %}