{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "Participant safeguarding in user research" %}
{% set pageDescription = "As a user researcher at DfE, you must ensure you are safeguarding your research participants." %}
{% set zeroMainMargin = "true"%}

{% set lastUpdated = "7 August 2024" %}
{% set publishStatus = "Beta" %}
{% set tagColour = "blue" %}
<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">DfE user research standards</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
      </div>
    </div>
    <div class="govuk-grid-row" style="padding-top: 20px;">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Status</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{publishStatus}}</strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Last updated</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{lastUpdated | date('D MMM YYYY')}}</strong>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#summary">Summary</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#why-this-standard-is-important">Why this standard is important</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#how-to-meet-this-standard">How to meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#templates-and-tools-to-help-you-meet-this-standard">Templates and tools to help you meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#related-guidance-on-the-dfe-user-research-manual">Related guidance on the DfE user research manual</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#where-to-get-advice">Where to get advice</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#change-log">Change log</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#discuss-this-standard">Discuss this standard</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

## Summary

Safeguarding is the protection of a person’s health, wellbeing, and right to live in safety, free from harm, abuse and neglect.

As researchers, we must safeguard research participants by ensuring our research is conducted in a safe, inclusive and protective environment preparing our research carefully and being ready to act on a safeguarding concern.

## Why this standard is important

Research must be planned and conducted in a way which protects people from harm and respects their right to autonomy. Failure to do so will result in safeguarding risks for our research participants.

There are 3 main types of safeguarding risks in research that you must consider in your planning and prepare to manage in your research:

* The risk of causing the participant and others harm in research settings. For example: if a participant is asked to discuss a traumatic topic and becomes upset.
* The risk of harm being disclosed or identified in research settings. For example: if a young child reveals that they are left home alone for long periods of time.
* Direct risks posed by health conditions. For example: exposing participants to an increased chance of catching COVID.

## How to meet this standard

To ensure you are meeting this standard you must complete the following checklist. If you select yes for all questions, you have met the DfE standard. If you select no to anything or you're unclear, seek the advice of a senior or lead UR.

### Read this related guidance

* <a href="/guidance/ethics-and-safeguarding/participant-safeguarding">Participant safeguarding</a>
* <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people">Research with children and young people</a>
* <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent">Gaining informed consent</a>

### You must:

- keep a record of the <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent">informed consent</a> from all participants 
- have an information sheet (or <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent#how-to-find-out-if-participants-need-a-different-approach-to-consent">other information method appropriate for your participants</a>) that:
    - shares the aims and objectives of your research
    - explains that participants have a right to not take part in your research
    - informs participants of who to contact if they wish to withdraw their data from the study
    - explains to participants how you will use the outputs of the research
    - explains to participants the situations where you may be required to break confidentiality
- if you are planning research with people who may not be able to give informed consent (e.g. children and young people, adults with learning disabilities, or other vulnerable adults):
    - keep a record of <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people#1-checking-whether-you-need-consent-from-gatekeepers-and-responsible-adults">consent from a parent, guardian or other appropriate personM</a> (in addition to consent from the participant)
    - include in your information sheet (or other appropriate information method) who made the decisions about their involvement and why
    - have a plan to ensure you will <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people#safeguarding-yourself-and-your-users-during-research">never be alone with the participant during the research session</a>
- identify the person or team you will escalate to if there is a <a href="/guidance/ethics-and-safeguarding/participant-safeguarding#acting-on-a-safeguarding-concern">disclosure of harm</a> in a research session


<p class="govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Standards%20checklist/DfE%20user%20research%20standards%20assurance%20checklist.xlsx?d=w108aee9cca834bff888820b31e8ce1c1&csf=1&web=1&e=O7GAfV" class="dfe-cta">Download this checklist as a spreadsheet</a></p>


## Templates and tools to help you meet this standard

Using these templates and tools will help you meet this standard. (Links for DfE employees/contractors only)

* <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms?csf=1&web=1&e=Bkv7wa">Consent form and information sheet templates</a>


## Where to get advice

If you need advice on meeting this standard, you should contact:

* The senior user researcher for your team or programme</li>
* <a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B" target="_blank">The Ethics Advisory Group #ethicsadvisorygroup, in DfE Slack (opens in a new tab)</a>
        

## Change log

- v1 (8 Aug 2024 - Current version). Removed some points that were guidance rather than clear standard points. Reworded some points to ensure all are easily checkable. Clarified that the section about vulnerable users is intended to cover situations where participants may not be able to give fully informed consent. 
- v0.1 (6 Dec 2023). First beta version

<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

## Discuss this standard

This user research standard is in beta, and we are actively seeking any feedback and suggestions. You can do this in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y" target="_blank">#developing-user-research-standards channel in DfE Slack (opens in a new tab)</a>, or by using the 'give feedback about this page' button at the bottom of this page. 
</div>       
      </div>
    </div>
  </div>
</section>


{% endmarkdown%}

{% endblock %}