{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "User research standards and principles" %}
{% set pageDescription = "How we deliver user research in DfE, and the standards you must meet." %}

{% set zeroMainMargin = "true"%}

{% block content %}

   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
               <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
         </div>
      </div>
   </section>

   <section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">

       <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
             <h2 class="govuk-heading-l">Our user research standards</h2>
             <p>We are introducing a set of standards so that you know what is expected of you as you do your work. You <strong>must</strong> meet these standards in your work.</p>
             <p>We aim to have all of our standards published by April 2024.</p>
             <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Standard</th>
                    <th class="govuk-table__header" scope="col">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="/standards-and-principles/handling-participants-personal-data/">Personal data handling</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Beta
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <a href="/standards-and-principles/participant-safeguarding/">Participant safeguarding</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Beta
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Research planning
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        In development
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Safety during research
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        In development
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Inclusive research
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        In development
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>

              <h2 class="govuk-heading-l">The Service Standard</h2>
              <p>As well as our DfE user research standards, your work must always also meet the government <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a>. This is the case whether or not your team will go through service assessments.</p>
              <p>Visit our <a href="https://apply-the-service-standard.education.gov.uk">Apply the Service Standard in DfE manual</a></p>
  
            </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l">Assuring against our standards</h2>
            <p><b style="background:yellow">### TBC ELLA ###</b></p>
            <h2 class="govuk-heading-l">Help and advice</h2>
            <p>Each of our standards and principles includes links to guidance content and sources of help.</p>
            <p>You can also ask for advice:</p>
            <ul>
              <li><a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a></li>
              <li><a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B">Ethics Advisory Group in Slack</a></li>
              <li><a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP">The user research community in Slack</a></li>
            </ul>
          </div>
       </div>
      </div>
 </section>


 <section class="dfemanual-color-bg" style="background: #f2f2f2;">
  <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">

     <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
           <h2 class="govuk-heading-l">Our principles for good user research</h2>

           <ul class="dfemanual-cta-cards dfemanual-cta-cards--third">
              <li class="card" style="">
                 <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                 <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
              </li>
              <li class="card">
                 <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                 <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                 </li>
              <li class="card">
                 <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                 <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
              </li>
              <li class="card">
                 <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                 <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
              </li>
              <li class="card">
                 <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                 <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
              </li>
              <li class="card">
                 <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                 <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
              </li>
           </ul>

        </div>
     </div>
  </div>
</section>


 <section class="dfemanual-color-bg">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-l">Why we have standards and principles</h2>
                  <p class="govuk-body-l">We want DfE to be the best place in government to be a user researcher, and our research to always have genuine impact for our users.</p>
                  <p>Our user research standards help us all meet acceptable levels of quality, ethics and safety in our work.</p>
                  <p>Our principles help us understand what 'best practice' looks like, helping us deliver the highest quality work in the best possible way, developing our careers and the overall user research capability in the department while we do it.</p>
                  <p>With a couple of exceptions where we need to meet specific departmental processes, our standards and principles aren't intended to tell you <em>how</em> you should work. You and your team should develop ways of working that work for you, and that deliver high quality, safe and ethical user research.</p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-l">How we developed them</h2>
                    <p>Our standards and principles are owned, written and kept updated by user researchers across our DfE user research community. The head of user research is responsible for ensuring we have a set of professional standards, and this is part of <a href="https://educationgovuk.sharepoint.com/sites/lvewp00259/SitePages/DDT-Objectives.aspx">DfE's Digital Data Technology strategy (DfE intranet)</a>.</p>
                    <p>You can give us feedback on them in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP">#user_research Slack channel</a>, or by <a href="/community-of-practice/#user-research-profession-leadership-team">contacting the head of user research, Tom Adams</a>.</p>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}