{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Secure handling of participant data" %}
{% set pageDescription = "DfE's standard to ensure all particpant data gathered during user research is handled ethically and within departmental policy under UK GDPR law." %}

{% set lastUpdated = "1 October 2023" %}
{% set publishStatus = "Published" %}

      {% if publishStatus == "Published" %}
        {% set tagColour = "govuk-tag--green" %}
      {% elseif publishStatus == "Draft" %}
        {% set tagColour = "govuk-tag--yellow" %}
      {% endif %}

{% block heroExtra %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s">Status</h2>
      <strong class="govuk-tag {{tagColour}}">{{publishStatus}}</strong>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s">Last updated</h2>
      <strong class="govuk-tag {{tagColour}}">{{lastUpdatedv | date('D MMM YYYY')}}</strong>
    </div>
  </div>

{% endblock%}


{% block content %}

{% markdown %}

<!-- main page content starts here -->

## You can write in markdown

- Bullet 1
- Bullet 2

<h2 class="govuk-heading-l">Or mix it up with HTML</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Bullet 1</li>
  <li>Bullet 2</li>
</ul>


{% endmarkdown%}

{% endblock %}