{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards and principles" %}
{% set pageName = "Personal data handling in user research" %}
{% set pageDescription = "DfE's standard to ensure all participant data gathered during user research is handled securely, legally and ethically." %}
{% set zeroMainMargin = "true"%}

{% set lastUpdated = "6 December 2023" %}
{% set publishStatus = "Beta" %}
{% set tagColour = "blue" %}
<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">DfE user research standards</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
      </div>
    </div>
    <div class="govuk-grid-row" style="padding-top: 20px;">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Status</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{publishStatus}}</strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Last updated</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{lastUpdated | date('D MMM YYYY')}}</strong>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#summary">Summary</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#why-this-standard-is-important">Why this standard is important</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#how-to-meet-this-standard">How to meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#templates-and-tools-to-help-you-meet-this-standard">Templates and tools to help you meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#where-to-get-advice">Where to get advice</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#discuss-this-standard">Discuss this standard</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

## Summary

As a user researcher, you will collect lots of data from and about your research participants, much of which is 'personally identifying'.

This could be captured in video or audio recordings, or notes and transcripts.

As user researchers, we are responsible for managing this personal data in a way that meets UK GDPR law and the Department's policies and processes, as well as ethically, in a treating our users safely and respectfully.

## Why this standard is important

If we fail to correctly manage personal data gathered in user research, this presents risks to our research participants, to the Department, and to ourselves:

- we could be breaking UK GDPR law, opening up the Department to legal challenges, fines, and negative publicity. Handling personal data incorrectly could be a serious disciplinary offence
- if people don't understand what we are using their data for, we are not treating them ethically or with respect
- if a person's personal data is accessed or used in a way that it shouldn't be, this could put the person at risk

## How to meet this standard

To ensure you are meeting this standard you must complete the following checklist. If you select yes for all questions, you have met the DfE standard. If you select no to anything or you're unclear, seek the advice of a senior or lead UR.

### Read this related guidance

* <a href="/guidance/how-to-manage-participant-personal-data">Managing participants' personal data in user research in DfE - full guidance</a>
* <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent">Gaining informed consent</a>

### You must:

- have completed your <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#complete-your-mandatory-training">mandatory data protection awareness training</a>
- have <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#perform-a-high-risk-screening-of-your-data-management-plans">completed a 'high risk screening'</a> of your plans for collecting personal data
- if required after the high risk screening, you have completed a <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#higher-risk-user-research-requiring-a-full-dpia">full data protection impact assessment (DPIA)</a>
-	have the <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#set-up-your-file-storage-access-and-retention-label">correct personal data file storage</a>, using a SharePoint library with the 'UR personal data' retention label applied to all files
- have <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#content-managers">more than one content manager<a> set up for your personal data file storage
-	only give <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#decide-who-else-in-your-team-can-access-the-data">access to your personal data storage</a> to the people who need it
- ensure any <a href="/guidance/how-to-manage-participant-personal-data/planning-project-or-phase#ensure-any-third-party-software-you-are-using-has-been-assured-for-use-in-dfe">software or web tools you are using to collect personal data is privacy assured</a>
- <a href="/guidance/how-to-manage-participant-personal-data/collecting-data-during-your-research#create-your-information-sheet-and-consent-form">gather informed consent from all particpants</a>, using our standard consent form templates where appropriate, including an information sheet which links to the DfE privacy policy on GOV.UK
- <a href="/guidance/how-to-manage-participant-personal-data/anonymising-personal-data">anonymise all personal data during your analysis</a> or, if you are pseudonymising, ensure you have the correct consent from participants
- know what to do if a <a href="/guidance/how-to-manage-participant-personal-data/after-research-is-finished">participant withdraws their consent after research has taken place, or asks for a copy of their data</a>

If you are <a href="/guidance/how-to-manage-participant-personal-data/using-lists-for-recruitment">building a panel or other large list of people</a>, you <strong>must</strong>:

- have permission to do this from your lead user researcher or the head of user research

If you are <a href="/guidance/how-to-manage-participant-personal-data/after-research-is-finished#sharing-research-outputs-with-other-people">sharing any lists of people with other user researchers or teams</a>, you <strong>must</strong>:

- have the correct consent from every person in the list

<p class="govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Standards%20checklist/DfE%20user%20research%20standards%20assurance%20checklist.xlsx?d=w108aee9cca834bff888820b31e8ce1c1&csf=1&web=1&e=O7GAfV" class="dfe-cta">Download this checklist as a spreadsheet</a></p>

## Templates and tools to help you meet this standard

Using these templates and tools will help you meet this standard. (Links for DfE employees/contractors only)

* <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms?csf=1&web=1&e=Bkv7wa">Consent form and information sheet templates</a>

## Where to get advice

If you need advice on meeting this standard, you should contact:

* The senior user researcher for your team or programme</li>
* <a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C067M2XRRPU">The Research Operations team #research-ops-support, in DfE Slack</a>
        
<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

## Discuss this standard

This user research standard is in beta, and we are actively seeking any feedback and suggestions. You can do this in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y">#developing-user-research-standards channel in DfE Slack</a>, or by using the 'give us feedback' link at the top of this page. 
</div>       
      </div>
    </div>
  </div>
</section>


{% endmarkdown%}

{% endblock %}