{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "Information for new starters" %}
{% set pageDescription = "Useful information for civil servant and contractor user researchers joining Department for Education." %}

{% block content %}

{% markdown %}

Welcome to the Department for Education. We want this to be the best place in government to deliver user research, and whether you're a new civil servant in a new permanent role, or a contractor with us for a shorter amount of time, you'll be made to feel very welcome.

You line manager and team will ensure you know what you need to about the department and your specific service or project. If there is a <a href="">lead user researcher</a> in your portfolio, you'll meet them in your first day or two to learn about your service area and users.

It's also important that you know about how we think about user research across the Department, and that you join up with our community of practice. Here are some links and guidance to get you started.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#tell-research-operations-youve-joined">Tell Research Operations you've joined</a></li>
    <li><a href="#attend-a-UR-profession-onboarding-session">Attend a UR profession onboarding session</a></li>
    <li><a href="#say-hello-in-our-community-slack-channels">Say hello in our community Slack channels</a></li>
    <li><a href="#learn-about-dfes-service-users">Learn about DfE's service users</a></li>
    <li><a href="#read-our-user-research-standards-and-principles">Read our user research standards and principles</a></li>
    <li><a href="#attend-your-first-ur-community-meetup">Attend your first UR community meetup</a></li>
    <li><a href="#introduction-to-ur-in-government-training">Introduction to UR in government training</a></li>
    <li><a href="#give-us-feedback-about-your-onboarding">Give us feedback about your onboarding</a></li>
  </ul>
    
  ## Tell Research Operations you've joined
  
  Make sure the <a href="">Research Operations team</a> know that you have joined the Department, if your line manager hasn’t done this already. They will add to the correct user research Slack channels, book you onto an onboarding session, ensure you get invites to community meetups, and get access to some of the tools mentioned below.
  
  The Research Operations mailbox is <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">UserResearch.OPERATIONS@education.gov.uk</a> 
  
  Please let us know: 
  
  - the date you started
  - whether you are a Civil Servant or contractor
  - your office location
  - the portfolio and team you have joined.
  
  ## Attend a UR profession onboarding session

  The head of user research runs regular onboarding sessions for civil servant and contractor new starters. These cover our user research community, our standards and principles, how we manage personal data, and are an opportunity to ask any questions you have.
  
  You will be sent a calendar invite for an onboarding session. If you don't receive this in your first few days, <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">Contact the Research Operations</a>


  <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">Contact the Research Operations team</a> to be added to a session.

  ## Say hello in our community Slack channels
  
  We have an active <a href="">UR community Slack channel</a>, as well as separate channels for each of our local communities.

  Say hello in the channel. We're very friendly!

  You can also use these channels to get advice and support, or to share your work.

  ## Learn about DfE's service users
  
  Get an overview of the <a href="">users of DfE services and policies</a>. 
  
  Your team or lead user researcher will also tell you what you need to know about users in your specific service and policy area.

  You can access the Department's <a href="">Research Evidence Directory</a>, which contains social research and academic research reports.

  ## Read our user research standards and principles

  Our <a href="">user research standards and principles</a> will help you understand what good looks like when planning and delivering user research at DfE, and the standards you're expected to reach.
  


  ## Attend your first UR community meetup
  
  We have <a href="">user research community meetups</a> every 2 weeks, on Thursday afternoons. You can join them remotely, or we encourage you to come into the office to meet other user researchers in person. 
  
  All DfE user researchers, civils servants and contractors, are welcome to join these meetings.

  You will be sent calendar invites. If you don't receive them in your first few days, <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">Contact the Research Operations</a>

  
  ## Introduction to UR in government training
  
  If you are a civil servant user researcher new to government, you should book onto the "Introduction to user research in government" training course.

  Also read the <a href="https://www.gov.uk/service-manual/user-research">government service manual</a>, and familisarise yourself with the <a href="https://apply-the-service-standard.education.gov.uk">service standard</a>.

  ## Give us feedback about your onboarding
  
  It's important to us that every user researcher is given a great start at DfE. We're developing our onboarding experience, and your feedback will help improve is for future user researchers. The Research Operations team will contact you for feedback a couple of months after joining, but if you have any comments before that, please contact <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">the Research Operations team</a> or <a href="#">head of user research</a>.
  
{% endmarkdown%}

{% endblock %}