{% extends "layouts/content-with-sidenav-right.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}
{% set pageName = "Gathering and storing informed consent" %}
{% set pageDescription = "How to ensure user research participants understand and have control over what they're agreeing to." %}

{% block content %}

{% markdown %}

<h2 class="govuk-heading-s">Page contents</h2>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#overview">Overview</a></li>
    <li><a href="#use-the-standard-consent-forms-for-most-participants">Use the standard consent forms for most participants</a></li>
    <li><a href="#use-a-different-method-if-the-template-consent-forms-are-not-appropriate">Use a different method if the template consent forms are not appropriate</a></li>
    <li><a href="#during-research-sessions-continue-to-confirm-informed-consent">During research sessions, continue to confirm informed consent</a></li>
    <li><a href="#store-evidence-of-informed-consent-in-dfe-sharepoint">Store evidence of informed consent in DfE SharePoint</a></li>
    <li><a href="#what-to-do-if-a-participant-withdraws-consent">What to do if a participant withdraws consent</a></li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  ## Overview

Gathering informed consent participants in a way they understand ensures we meet our legal obligations and treat our participants ethically.

You must:

- Gather informed consent from every participant using one of our standard consent forms or by using another method that meets our informed consent principles and our data requirements
- Continue to confirm their consent throughout the research session, e.g. when you move to another activity or topic of conversation
- Keep a record of their consent in DfE SharePoint
- If they withdraw their consent later, remove their identifiable data from your research

You must only use participants' data in the ways they have consented to, including in your analysis, using videos in playbacks, and if sharing data with colleagues.

### Our principles for gathering informed consent

The informed consent working group in the DfE user research community developed three principles to help define how we approach gathering informed consent. These have fed into this guidance and our consent form templates.

- We want research to be fair for everyone. We are aware of power imbalances and try to reduce them in our research.
- We make sure people can give informed consent in ways that work for them.
- We check that people understand what they are consenting to and are happy to take part.

More about the principles:
- [About our principles informed consent principles and how to apply them, including real case studies (PowerPoint file)](https://user-research.education.gov.uk/downloads/informed-consent-principles-beta-jun25.pptx)
- [Blog post about how the principles were created](https://dfedigital.blog.gov.uk/2025/07/16/creating-3-principles-of-informed-consent-for-user-research/)
- [About the informed consent working group](/community-of-practice/community-initiatives-and-interest-groups/informed-consent/)

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

## Use the standard consent forms for most participants

We have a set of standard consent forms covering most DfE user groups and user research methods. You must use these unless you have a clear need to use an alternative approach to gathering informed consent.

<p><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms/1.%20Standard%20consent%20forms?csf=1&web=1&e=Ln75Jr" target="_blank">Standard consent form templates - Word and MS Forms formats (DfE SharePoint users only, opens in a new tab)</a></p>

Instructions for how to use the forms are in the files. Speak to research operations if you need any more help.

Each consent form contains an information sheet, a link to DfE's personal information charter and a way for participants to indicate what they are agreeing to.

The default consent form for interview-based research has a reading age of 10-11 years, making it appropriate for most people including young adults and people with dyslexia.

There are also versions for:

- different user groups and needs, including an easy read version, children aged 7-11, and internal DfE users
- different research methods, including surveys, multi-day, and multi-method

Further standard templates are being developed by the informed consent working group and research operations team.

  <div class="govuk-inset-text">
Our consent forms cover best practice for ethical informed consent and our data protection obligations under UK GDPR law. We use the public task lawful basis to process data.
  </div>

### Only make changes to the standard participant agreement forms if you need to

If you have a clear, justified and ethical research need, you can make changes to the standard participant information form, by adding or removing options given to participants.

The sections you can change are marked in the template. Do not change any other sections. Speak to research operations for help or advice.

Examples of when you might need to change the standard template:

  <div class="govuk-inset-text">
You are conducting user research about a sensitive topic with a user group who may feel uncomfortable being recorded. To make participants feel more comfortable you have decided to use voice changing technology in any video clips you use. You add this to your information sheet
  </div>
  <div class="govuk-inset-text">
You are testing a prototype. If a participant said no to their screen being recorded, the session would have no value to your team. Therefore, you make it clear that screen recording will take place, but you remove the option to opt-out from the form.
  </div>

- [Read more about changing the standard consent form in our Research Ops Masterclass blog](https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/_layouts/15/Doc.aspx?sourcedoc=%7BD3E408D6-989A-4041-8ADB-9849C7BA8527%7D&file=How%20to%20use%20the%20participant%20information%20sheet%20and%20agreement%20form%20templates.docx&action=default&mobileredirect=true)

### Translating the standard forms into other languages

If you are conducting user research with people whose first language is not English and/or who may not be able to read English at a reading age of 10-11, then you can translate it into the participants' language.

You can do this by:

- using a professional translation service. You will need budget in your team to do this. Your delivery manager should help you with budget and how to procure a service. Speak to research operations if you need any further help or advice.
- a translator attends the research session, reads the information sheet to the participant, and collects their responses in the form.

Do not use AI or automated translations (e.g. Google Translate) without a human confirming that it is a fully accurate translation. Errors or changes of context in the text could lead to participants not understanding their data protection rights or not being properly informed.

- [How to purchase translation services](https://www.crowncommercial.gov.uk/agreements/RM6141)
- [More about conducting research with users with limited English and or sign language](https://user-research.education.gov.uk/guidance/inclusive-research/limited-english-and-sign-language#how-to-use-language-services)

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

## Use a different method if the template consent forms are not appropriate

Very occasionally, particular participants or methods will require a different approach to consent which we don't have a standard consent form for.

Before using a different method, check with research operations in case there is new standard consent form already being developed for your purpose.

### Gather verbal consent

Verbal consent, where you have a conversation with the participant where they agree to take part in the research, is appropriate in some circumstances.

For example:

- you have participants with very low levels of English where even an easy read consent form is not appropriate
- additional participants join an in-person research session and you have run out of consent forms

When gathering verbal consent, you must give the participant the same information and questions as in the consent form.

If you are planning to gather a large amount of verbal consent, the research operations team can help you develop a script for consent and a process for documentation.

You must keep a record of the participants' verbal consent. You can do this by:

- audio or video recording the participant
- retrospectively completing a consent form after the session has ended on behalf of the participant, accurately capturing what they agreed to
- making a note that the interaction took place
- sending a copy of the consent form to the participant for them to complete after the session

Use the DfE user research principles for gathering informed consent to help avoid power dynamics and ensure participants are able to give consent in a way that works for them.

Examples:

  <div class="govuk-inset-text">
A participant joins a group research session unexpectedly and late. You discuss the research with them, tell them where they can find DfE's personal information charter (privacy notice) online, and check what they agree to. You then make a note that states "\[Name\] understands the research that's going on, wanted to take part in the group session. I told them it was being recorded and they confirmed that was okay."
  </div>
    <div class="govuk-inset-text">
You read out the information sheet and consent form before you start recording the session. You give the participant time to ask questions, and then go over the questions again on the recording to capture their consent.
  </div>


### Use a non-standard or innovative approach to gather informed consent

If our standard consent forms or verbal consent are not appropriate for your user groups or research method, you can use a different method. You can also experiment and try innovative ways of gathering informed consent.

If you do this, you must:

- follow the DfE user research informed consent principles 
- provide a link to, or a physical copy of, DfE's personal information charter (privacy notice) to ensure legal compliance
- get advice from the ethics advisory group to ensure the approach is ethical
- get advice and approval from the research ops team, to ensure the approach is legal

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

## During research sessions, continue to confirm informed consent

Consent is an ongoing process and must be actively revisited throughout the research. This is especially important for vulnerable users or sensitive subjects

You should check in throughout the research session itself - either directly or implicitly.

Examples:

  <div class="govuk-inset-text">
If the participant gave consent before the research session, at the start of the session you could say something like:

"Thanks for sending over your participant agreement form. I can see you've said yes for your video and audio to be recorded. Is that still okay?"

During the session, you can use inviting language like:

"We're going to look at the prototype now if you're ready?"

For sensitive research you could directly check in by saying something like:

"Would you be comfortable continuing with a few more questions about what your child experienced?"

You could also remind the participant throughout and at the end of the session that they can withdraw their consent at any time, even after the session has finished.
  </div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

## Store evidence of informed consent in DfE SharePoint

You must store your consent forms in a restricted SharePoint workplace with the correct UR personal data label applied. This will normally be the same SharePoint workplace where you store your recordings and notes.

If you are using an MS Forms version of a consent form, you must export the responses to an Excel or CSV file and save this in the restricted SharePoint workplace.

If you are using verbal consent, keep clipped audio or video recordings or accurate notes of what participants have consented to.

<a href="/guidance/how-to-manage-participant-personal-data/">User research personal data handling and storage guidance</a>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

## What to do if a participant withdraws consent

If a participant withdraws consent, for example by emailing you after a research session, you must remove their personal data from your research.

  <div class="govuk-inset-text">
Under the UK GDPR public task lawful basis, we do not need to provide participants with the right to withdraw their personal data. However, not allowing participants to remove their data would be unethical, so you must always do this where possible.
  </div>

### Delete all data that is easily linked to an individual

You must delete all personal data linked to the participant, except for the correspondence about their withdrawal.

If data is still in its raw format and has not yet been analysed and anonymised, then you must immediately delete it. You must not anonymise the data to keep it.

Delete emails, participant tracker entries, and notes.

Ask anyone else with access to the data to delete it.

Check for any data held outside of your restricted user research folder, for example recordings or notes that have not yet been uploaded and deleted from your work device.

### Anonymised data or data that cannot be identified

If data has been anonymised or can no longer be identified, tell the participant that we cannot identify their data and therefore it cannot be deleted.

You do not need to delete any of your analysis as it does not identify the individual and it would damage your research.

### Inform the participant

Once you have deleted the data, email the participant to tell them that their data has been deleted and that a log will be kept for 6 months. Copy the the research operations team into this email. Research operations will keep and manage a central log.

{% endmarkdown%}

{% endblock %}

{% block related %}
<!-- right-hand column -->

{% markdown %}
<h2 class="govuk-heading-m">Templates and links</h2>
<ul class="govuk-list govuk-list--spaced">
  <li><a href="https://user-research.education.gov.uk/downloads/informed-consent-principles-beta-jun25.pptx">Principles for gathering informed consent in user research (PowerPoint file)</a></li>
  <li><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms/1.%20Standard%20consent%20forms?csf=1&web=1&e=Ln75Jr" target="_blank">Standard consent forms (DfE users only, opens in a new tab)</a></li>
  <li><a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms/2.%20Case%20studies%20and%20tools/Informed%20Consent%20Checklist.docx?d=wcedaca8eb2714fafae8349bad85d9ce9&csf=1&web=1&e=9ck8Xi" target="_blank">Informed consent checklist (DfE users only, opens in a new tab)</a></li>
  <li><a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms/2.%20Case%20studies%20and%20tools/Bank%20of%20responses%20to%20use%20during%20research%20sessions.docx?d=wd483e69f2b30483ebe0222498f65c160&csf=1&web=1&e=tD10XB" target="_blank">Bank of responses to use during UR sessions (DfE users only, opens in a new tab)</a></li>
  <li><a href="https://educationgovuk.sharepoint.com/:p:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Consent%20forms/2.%20Case%20studies%20and%20tools/Bank%20of%20informed%20consent%20case%20studies.pptx?d=wcaa5a8e7261440f9a364446e6e3b55a0&csf=1&web=1&e=eWXIBT" target="_blank">Bank of case studies (DfE users only, opens in a new tab)</a></li>
</ul>


<h2 class="govuk-heading-m">Help and advice</h2>
<ul class="govuk-list govuk-list--spaced">

  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}

{% endblock %}




