{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Templates and tools" %}
{% set pageName = "Templates, examples and resources library" %}
{% set pageDescription = "Templates for you to use, and document examples and resources to help you" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We have a library of templates, examples of good work, and other resources, available to all user researchers working in Department for Education.

Every user researcher should be able to access this SharePoint library and use the files in it. <a href="">Contact the Research Operations team if you can't</a>.

We're very happy to share our templates with people from other government departments. <a href="">Contact the head of user research</a>.

| Link to resource | Details |
|---------------|---------------|
| <a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EpRb2aLYvfVNs8srgnHee0EBgYSsp77hVGBJQkOnvxHjRA?e=hWAvkw">Templates</a> | Templates for key documents like consent forms, privacy policy, statements of work for managed services, research plan, etc |
| <a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/Ek2k2mcL1KlEoKg_FL5X6lEBeyOKbbBGSp80WK8UztSqZA?e=bdTL75">Examples of work</a> | Crowdsourced collections of good examples of research outputs and documents, like personas, mindsets, journey maps, research screeners, etc. Use them for inspiration or as templates |
| <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/5.%20Resources/Teach%20ins%20and%20introductions%20to%20UR?csf=1&web=1&e=qCqXg9">UR teach-ins</a> | Template presentations to introduce and teach your team about user research practice |


## Adding examples of work to the library

This library is crowd-sourced 


{% endmarkdown%}

{% endblock %}