{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Templates and tools" %}
{% set pageName = "Templates, examples and resources library" %}
{% set pageDescription = "Templates for you to use, and document examples and resources to help you" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We have a library of templates, examples of good work, and other resources, available to all user researchers working in Department for Education.

Every user researcher should have access to this SharePoint library. Contact th Research 

| x | x |
|---------------|---------------|

## Adding examples of work to the library

This resource is 


{% endmarkdown%}

{% endblock %}