{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Templates and tools" %}
{% set pageName = "Templates, examples and resources library" %}
{% set pageDescription = "Lorem ipsum." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

## You can write in markdown

- Bullet 1
- Bullet 2

<h2 class="govuk-heading-l">Or mix it up with HTML</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Bullet 1</li>
  <li>Bullet 2</li>
</ul>


{% endmarkdown%}

{% endblock %}