{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "inclusive_research" %}
{% set pageName = "Introduction to inclusive research" %}
{% set pageDescription = "Including all types of people who might use your service or be affected by your policy area" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    If you don't research inclusively then you are not meeting <a href="https://apply-the-service-standard.education.gov.uk/service-standard/">the service standard</a>
  </strong>
</div>

Inclusive research means including in your research all types of people who might need to use your service or who might be affected by your policy area.

<blockquote>
<p><em>“We must think about broader groups when designing services for everyone” (NHS).</em></p>
</blockquote>

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#why-we-research-inclusively">Why we research inclusively</a></li>
    <li><a href="#inclusive-research-and-accessibility">Inclusive research and accessibility</a></li>
    <li><a href="#who-to-research-with">Who to research with</a></li>
    <li><a href="#how-to-recruit-participants-inclusively">How to recruit participants inclusively</a></li>
    <li><a href="#challenges-of-inclusive-research">Challenges of inclusive research</a></li>
    <li><a href="#ethics-of-researching-with-excluded-groups">Ethics of researching with excluded groups</a></li>
    <li><a href="#help-us-develop-this-guidance">Help us develop this guidance</a></li>
    <li><a href="#further-reading">Further reading</a></li>
  </ul>

## Why we research inclusively

Some groups of people are subject to biases that mean they are excluded from, or do not have an equitable experience of, government services. We need to make sure everybody is part of our decision making processes, and user research must include people from these groups and recognise the value of their experience.  

In Department for Education services and policy, this could result in young people not attending school, or leaving school with lower attainment than their peers. It could mean people with particular characteristics being underrepresented in the teaching profession, school leadership, and boards of governors. It could lead to negative outcomes children in care or early years settings. These are just a small number of examples, but there could be any number of undesirable consequences: if we don't understand all of our users, our teams can't build services that cater for all of our users.


## Inclusive research and accessibility

<a href="/inclusive-research/research-users-access-needs.html">Researching with people with disabilities and access needs</a> is critical, and is one part of researching inclusively. 

However, inclusivity goes further than accessibility: it means considering all marginalised and under-represented groups.


## Who to research with

You should aim to research with potential users of your service, or other people impacted by the service or policy area, who:

- are from the <a href="https://www.equalityhumanrights.com/en/advice-and-guidance/your-rights-under-equality-act-2010">9 protected characteristics of the Equality Act 2010</a>
- do not have access to the internet
- do not have the skill or confidence to use digital technology
- are from other vulnerable and potentially excluded groups outside of the 9 protected characteristics

Before you start primary research, you should conduct desk research and speak to subject matter experts, to understand which groups may be affected in your service or policy area. You should also speak to your policy colleagues to understand their policy intent and what they already know about excluded groups.

<div class="govuk-inset-text">
  For example, it is known from previous research that poorer pupils in homes without broadband connectivity issues had difficulty with remote learning during the COVID-19 pandemic.

  Therefore, if you were working on a service around learning materials in schools, it might be important to research with young people who live in homes without a broadband connection.
</div>

Across your research you should include a wide range of people from different groups. As a simple rule of thumb, we recommend that in each round of research you include at least 1 person with a disability, or from a minority background or vulnerable group.


## How to recruit participants inclusively

Make sure you include a range of users in your recruitment, building this in to your <a href="/-recruiting-participants/writing-a-recruitment-brief.html">recruitment briefs</a>, and keeping a record of the characteristics of users you have spoke to over a phase of your project.

Many recruitment agencies find it difficult to recruit excluded groups, so don't rely on this recruitment approach alone. 

Try building relationships with the voluntary sector, e.g. charities, organisations providing support for young people and the school workforce, support services, local community groups. Think about organisations that your users may trust, and so might be a gateway to get the people you need for research.

If you are finding it difficult to recruit people for planned research, are there places where your users may be present, where you could run <a href="https://www.gov.uk/service-manual/user-research/doing-pop-up-research">pop-up research</a>?

In the future we want to develop a department-wide participant recruitment strategy, with tools and service (see <a href="/-about-ur-at-dfe/developing-ur-profession.html"> our profession roadmap</a>). 


## Challenges of inclusive research

As well as recruitment of participants, there can be other practical challenges of researching inclusively. For example, you may need to procure translation services for people who don't speak English, or who use British Sign Language. It's important to ensure you have the budget for this in your team, and that you are planning well in advance (we plan to have centrally contracted translation services in the future).

You should be flexible and keep an agile mindset as you plan your research and recruit participants: be ready to adjust how you are researching based on the people you are researching with.

Researching with groups that we are not familiar with ourselves can feel uncomfortable or intimidating. Doing preparatory research, or speaking to people who work with those groups can help.

As with all research, we are likely to bring our own biases and assumptions into inclusive research. Always be aware of this, look out for potential biases in yourself and your team, and challenge them.


## Ethics of researching with excluded groups

We are working on full ethics guidance and standards for inclusive research. 

For now, consider the following:

- keep up to date with new research and blogs as it will help your research approach. <a href="">NHS Digital</a> and <a href="">Department for Health and Social Care</a> regularly publish their findings
- complete <a href="">departmental diversity training</a> and apply it in your research
- use simple language -  do not use jargon or complex language. Some people may need more time to understand things and need different research materials
- if people don't understand research, the may struggle to understand what we are asking for when gathering consent. Make sure you are <a href="/-ethics-safeguarding-inclusive/research-ethics/informed-consent.html">gathering consent in an appropriate way</a>
- plan for digital exclusion - people from poorer backgrounds might not have the same technology as you or might be offline
- really think about which of your questions could cause anxiety, upset or offence in some people. Think of the worst interpretation of your questions, and how they could be understood by people with different experiences.
- be careful not to stigmatise ethnic minority people, however well-intentioned your research is
- be considerate - there may be noise, people may have caring responsibilities, and English may not be their first language. Know that people are busy - some people have caring responsibilities and full-time jobs. Be flexible with your time, you’ll often get rich insights unexpectedly 
- be specific - people have different needs and experiences. Broad terms like "BAME" are unhelpful and ignore the different needs and experiences each of us has
- make it clear that you’re not asking questions to catch people out. Recognise your participants as lived experience experts
- remember that some people who already feel excluded by government services, or who have had bad experiences, may not trust government, and so may feel particularly nervous about taking part in our research
- make clear what your research is about and that their feedback is valuable. People from excluded groups may have more questions about your research, your serice area or policy area. Work with your policy colleagues beforehand to decide what you should and shouldn't tell people


## Help us develop this guidance

If you are interested in getting invloved with this work, contact our <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">ethics working group</a>. 

We want to be the exemplar department in government for inclusive research, and we'd love you to get involved with making this happen. 


## Further reading

- <a href="https://www.youtube.com/watch?v=IMCq2YT2-3E">Carrying out user research with silver surfers</a> - challenges and outcomes with Vayia Malamidou
- <a href="https://www.youtube.com/watch?v=1atJWNeeYt4">User research with older people - speaker discussion</a>, The Research Thing



{% endmarkdown%}

{% endblock %}