{% extends "layouts/content-full-width.html" %}

{% set pageName = "DfE's user research community" %}
{% set pageDescription = "Our people, principles, community meetups and groups." %}
{% set selectedNav = "Community" %}
{% set lastUpdated = "May 2024 "%}
{% set backlog_issue_id = "28" %}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/new-prototype-ignore/community-of-practice-test/overview">Who we are</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="/new-prototype-ignore/community-of-practice-test/researchops">Research Ops team</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/new-prototype-ignore/community-of-practice-test/meetups">Community meetups</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/new-prototype-ignore/community-of-practice-test/groups">Interest groups</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}


<section>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p>
              The Research Operations team in DfE provides services and support to user researchers across the department.
            </p>
            <p>
              The goal of the team is to reduce the time and effort you spend on non-specialist user research tasks, allowing you to spend more time focused on delivering the highest quality insights into your teams. The team also aims to reduce the cost of user research, and reduce risks to you, the department, and our users.
            </p>
            <p>
              Contact the team in the <a href="#new">#research-ops-support channel in DfE Slack (opens in a new tab)</a>, or individually using the team details found on this page.
            </p>
            <h2>
              Services and support for user researchers
            </h2>
            <h3>
              Support accessing our participant recruitment supplier
            </h3>
            <p>
              We have a <a href="#new">contracted agency to recruit participants for research</a>. The research operations team can help you access this supplier, if you need support.
            </p>
            <h3>
              Participant recruitment panels (private beta)
            </h3>
            <p>
              We are building our own <a href="#new">participant recruitment panels</a>, to help recruit some of our harder-to-reach user groups for research.
            </p>
            <p>
              Currently we are trialling this in the Services for Schools portfolio, with a panel of school leaders and schools business professionals. If you are a user researcher working in Services for Schools, you may be able to access this panel.
            </p>
            <h3>
              New starter onboarding
            </h3>
            <p>
              When you join DfE, Research Operations will ensure you are added to mailing lists, Slack channels, and invites for community events. They will also arrange an onboarding session with the head of user research.
            </p>
            <p>
              Your line manager or, if you are a contrctor, the person managing your statement of work, should let the team know you are joining DfE. If you've not heard from the team in your first few dats, <a href="">contact them to let them know you're here</a>.
            </p>
            <h3>Personal data management support</h3>
            <p>
              When you are planning the <a href="#new">personal data management</a> for your project, Research Operations can support you, or signpost you to the correct support team (e.g. the Office of the Data Protection Officer team, or the Knowledge Information Management team).
            </p>
            <h3>Other support and services</h3>
            <p>Contact Research Operations about:</p>
            <ul>
              <li>The <a href="#new">list of all user researchers working in DfE</a>, and email lists</li>
              <li>Accessing our <a href="#new">Sharepoint library of templates, examples and other resources</a></li>
              <li>Accessing the <a href="#new">user researcher recruitment interview toolkits</a>, when you are planning a recruitment campaign for a user researcher</li>
            </ul>
            <p>
              Research Operations also support the head of user research to deliver other projects across the <a href="#new">user research profession roadmap</a>.
            </p>
        </div>

        <div class="govuk-grid-column-one-third">
            <aside class="dfe-aside" style="border-top: 3px solid #003a69; padding-top: 25px;">
    
              <h2 class="govuk-heading-l">Research operations team</h2>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Tom Adams</h3>
              <p>Head of Profession for User Research</p>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Lucy Sutton</h3>
              <p>Research operations lead</p>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Arrun Gaydhani</h3>
              <p>User researcher</p>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sara Yardley</h3>
              <p>Operations and recruitment specialist</p>
              
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sanjiv Jhalla</h3>
              <p>Operations and recruitment specialist</p>

              <p>Search for our names on DfE slack and we will be more than happy to help.</p><h3 class="govuk-heading-s govuk-!-margin-bottom-0">Talk to the Research Operations team</h3>
              <p style="
        margin-bottom: 6px;
    "><a href="mailto:design.ops@education.gov.uk">research.ops@education.gov.uk</a></p>
    
              <p><a class="govuk-link govuk-link--no-visited-state" href="slack://ukgovernmentdigital.slack.com/archives/C04GXQ0320Z" target="_blank">#research-ops-support</a></p><h3 class="govuk-heading-s govuk-!-margin-bottom-0">User research community on DfE Slack</h3>
              <p> <a class="govuk-link govuk-link--no-visited-state" href="slack://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#user_research</a></p>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Cross-GOV Slack</h3>
              <p><a class="govuk-link govuk-link--no-visited-state" href="slack://ukgovernmentdigital.slack.com/archives/C04GXQ0320Z" target="_blank">#user-research</a></p>
    
            </aside>
          </div>
    </div>
</section>

{% endblock %}