{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Research insight" %}
{% set pageName = "Research insight" %}
{% set pageDescription = "Finding existing research, insight and evidence about the users of DfE's policy and services" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

<section style="background: #ebf2f6;">
    <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
        </div>
      </div>
    </div>
</section>
  


## Families

Our services for families include support for children's social care provision, early years providers, Family Hubs, SEND support and other policy and services that support families and vulnerable young people.

Our users include social workers, local authority staff and leaders responsible for service provision, early years staff and leaders, 




<section class="" style="">
    <div class="dfe-width-container" style="padding: 40px 0px 80px 0px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Our service areas and users</h2>
                <p class="govuk-body-m">Across Department for Education, we have a wide and diverse set of users. Around half the English population are users of our services, or are end-beneficiaries of our policies.</p>
                <p class="govuk-body-m">We broadly organise users into DfE's <a href="https://educationgovuk.sharepoint.com/sites/strategy-and-vision">three priority outcome areas (DfE Intranet)</a>, which guide the work we do as a department: Skills, Schools and Families.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <ul class="dfemanual-cta-cards">
                    <li class="card">
                        <h3>Skills</h3>
                        <p>In Skills, our service areas include Apprenticeships, National Careers Service, T Levels and other policy and services around the skills that support people to work.</p>
                        <p>Our users include training providers, further education providers, careers advisors, employers, adult learners, young people moving towards the end of formal education and their families, and operational staff in DfE and our partners.</p>
                        <p>
                            <a href="/xxxxxxxx" class="govuk-link govuk-link--no-visited-state">Find existing research <span class="govuk-visually-hidden">about Skills service users</span> (DfE SharePoint)</a>
                        </p>
                    </li>
                    <li class="card">
                        <h3>Schools (and teachers)</h3>
                        <p>DfE delivers a wide range of services for schools and teachers, including services to recruit and upskill the teaching workforce, services to support the efficient running of schools and academy trusts, funding sevrices, and services to collect educational data and present that data to the public.</p>
                        <p>Users include teachers and prospective teachers, senior teachers and school leaders, school business professionals and other people involved in the administration and leadership of schools and trusts. The end beneficiaries of the policies that inform our services are students, and so sometimes we will research with chilfren and their families.</p>
                        <p>
                            <a href="/xxxxxxxx" class="govuk-link govuk-link--no-visited-state">Find existing research <span class="govuk-visually-hidden">about Schools and Teachers service users</span> (DfE SharePoint)</a>
                        </p>
                    </li>
                    <li class="card">
                        <h3>Service design</h3>
                        <p>Learn how service designers design the end-to-end journey of a service. This helps a user complete their goal and the department deliver a policy intent.</p>
                        <p>
                            <a href="/inside-design/professions/service-design" class="govuk-link govuk-link--no-visited-state">Learn more <span class="govuk-visually-hidden">about service design</span></a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>





{% endmarkdown%}

{% endblock %}