{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Research insight" %}
{% set pageName = "Finding existing user research insight" %}
{% set pageDescription = "Finding existing research, insight and evidence about the users of DfE's policy and services." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We have a wide and diverse group of users of Department for Education services and policy. Around half the English population are users of our services, or are end-beneficiaries of our policies. 

We broadly organise our users into DfE's <a href="https://educationgovuk.sharepoint.com/sites/strategy-and-vision">three priority outcome areas (DfE Intranet)</a>, which guide the work we do as a department: 

- <a href="#users-of-skills-services">Skills</a>
- <a href="#users-of-schools-services-services-for-schools-and-teachers">Schools (including teachers)</a> 
- <a href="#users-of-families-services">Families</a>

We also regularly research with <a href="#dfe-staff-users-and-other-users">DfE staff</a>.

We are collecting a <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/4.%20User%20insight?csf=1&web=1&e=yYCIwe">high level insight across all user groups in our UR community SharePoint space</a>. This will give you an introduction to our different users, and signpost you to more in-depth insight.

You can contact the lead user researcher or senior user researchers listed below to find out more about a particular user group.

We are also working on a single departmental taxonomy of our service users, and common high-level user insight about our major user groups. This will give all DfE user researchers the same baseline understanding of our user groups, helping us collaborate, and reducing wasted time in user research.

### Other sources of insight, evidence and data for desk research

A range of <a href="/research-insight/other-insight-sources.html">DfE social research, other research, insight and evidence sources, and other data collections</a> are available to you. You should use these for desk research and when gaining wider understanding of your policy area and users.

## Users of Skills services

Skills service areas include Apprenticeships, National Careers Service, T Levels and other policy and services around the skills that support people to work.

Service users include:
- training providers
- further education providers
- careers advisors
- employers
- adult learners
- young people moving towards the end of formal education, and their families
- operational staff in DfE and our partners

To find out more about these users, contact one of our senior user researchers in Skills portfolio:

- <a href="https://ukgovernmentdfe.slack.com/team/U038LD1TRCY" target="_blank">Anna Robson in DfE Slack (opens in a new tab)</a>
- <a href="https://ukgovernmentdfe.slack.com/team/U5B8TF6C8" target="_blank">Laura Palfreyman (Apprenticeships Service) in DfE Slack (opens in a new tab)</a> 
- <a href="https://ukgovernmentdfe.slack.com/team/U02SS4G9DAS" target="_blank">Daniel Morrison (National Careers Service) in DfE Slack (opens in a new tab)</a>


## Users of Schools services (services for schools and teachers)

DfE delivers a wide range of services for schools and teachers, including services to recruit and upskill the teaching workforce, services to support the efficient running of schools and academy trusts, funding services, and services to collect educational data and present that data to the public.

Service users include:
- teachers and prospective teachers
- senior teachers and school leaders
- school business professionals and other people involved in the administration and leadership of schools and trusts
- governors and trustees
- education support staff
- non-teaching support staff
- providers of initial teacher training (ITT) and on the job training for existing teachers
- businesses, professional services and organisations related to education or services for education
- operational staff and other DfE civil servants involved in supporting schools

The end beneficiaries of the policies that inform our services are students, and so we sometimes also research with children and their families.

The Services for Schools user research team have created a SharePoint site collating their <a href="https://educationgovuk.sharepoint.com/sites/lvewp00473">insight about about users of services for schools (DfE users only)</a>

To find out more about schools users, <a href="https://ukgovernmentdfe.slack.com/team/U035FP68FPB" target="_blank">contact the lead user researcher for Services for Schools portfolio, Annaliese Lamb in DfE Slack (opens in a new tab)</a>.

To find out more about teachers, <a href="https://ukgovernmentdfe.slack.com/team/U0360NUT6PJ" target="_blank">contact the lead user researcher for Teacher Services portfolio, Will Finn in DfE Slack (opens in a new tab)</a>.


## Users of Families services

Our services for families include support for children's social care provision, early years providers, Family Hubs, SEND support and other policy and services that support families and vulnerable young people.

Service users include: 

- social workers
- local authority staff and leaders responsible for service provision
- early years staff and leaders
- childminders
- children and families in the care system

To find out more about these users, <a href="https://ukgovernmentdfe.slack.com/team/UQUHUP0HH" target="_blank">contact the lead user researcher for Vulnerable Children and Families portfolio, Ella Beaumont in DfE Slack (opens in a new tab)</a>.


## DfE staff users and other users

We also research with DfE staff (other than in the context of operational staff supporting DfE services) to help improve internal HR, finance and other colleague services.

We may also have insight about other external user groups, from more strategic policy projects, or other project sitting outside of our core portfolio areas.

To find out more about these users, ask in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">user research community Slack channel (opens in a new tab)</a>.




{% endmarkdown%}

{% endblock %}