{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Research insight" %}
{% set pageName = "Finding existing user research insight" %}
{% set pageDescription = "Finding existing research, insight and evidence about the users of DfE's policy and services" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We have a wide and diverse group of users of Department for Education services and policy. Around half the English population are users of our services, or are end-beneficiaries of our policies. 

We are working on a single departmental user taxonomy, and common high-level user insight about all of our major user groups, so that all DfE user researchers can have the same baseline understanding of them. This will help us collaborate, and reduce wasted time in user research.

We broadly organise users into DfE's <a href="https://educationgovuk.sharepoint.com/sites/strategy-and-vision">three priority outcome areas (DfE Intranet)</a>, which guide the work we do as a department: <strong>Skills</strong>, <strong>Schools</strong> and <strong>Families</strong>. We also regularly research with <strong>DfE staff</strong>.


<h2 class="govuk-!-margin-top-7">Users of Skills services</h2>

Skills service areas include Apprenticeships, National Careers Service, T Levels and other policy and services around the skills that support people to work.

Service users include:
- training providers
- further education providers
- careers advisors
- employers
- adult learners
- young people moving towards the end of formal education, and their families
- operational staff in DfE and our partners

<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EtQ50w6zUvpAkiXzm6BUuOcBElPouQ2HfkoR0V0XpV2Mvw?e=ydJ1FM">Insight about users of Skills services (DfE SharePoint)</a>

<h2 class="govuk-!-margin-top-7">Users of Schools services (services for schools and teachers)</h2>

DfE delivers a wide range of services for schools and teachers, including services to recruit and upskill the teaching workforce, services to support the efficient running of schools and academy trusts, funding services, and services to collect educational data and present that data to the public.

Service users include:
- teachers and prospective teachers
- senior teachers and school leaders
- school business professionals and other people involved in the administration and leadership of schools and trusts
- governors and trustees
- businesses and organisations who use DfE data
- operational staff in DfE

The end beneficiaries of the policies that inform our services are students, and so we sometimes also research with children and their families.

<!--<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EmV7DRoU0ZdApUaWLi1L73sBlVqF3T5zNwcLYjwTQQt-Uw?e=HhV94A">Insight about users of services for schools (DfE SharePoint)</a>-->
<a href="https://educationgovuk.sharepoint.com/sites/lvewp00473">Insight about users of services for schools (DfE SharePoint)</a>

<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EslKi8aXt4JMoXZT-DP0IzQBP1GXWN3AZw0uMbw0vgWz-w?e=0S6lJS">Insight about services for teachers and prospective teachers (DfE SharePoint)</a>


<h2 class="govuk-!-margin-top-7">Users of Families services</h2>

Our services for families include support for children's social care provision, early years providers, Family Hubs, SEND support and other policy and services that support families and vulnerable young people.

Service users include: 

- social workers
- local authority staff and leaders responsible for service provision
- early years staff and leaders
- childminders
- children and families in the care system

<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EnbvqwfMHcNMrfGXGSnlB4MBIIRGQESmXs-T8SBZzvl8vw?e=cAX4GQ">Insight about users of Families services (DfE SharePoint)</a>

<h2 class="govuk-!-margin-top-7">DfE staff users and other users</h2>

We also research with DfE staff (other than in the context of operational staff supporting DfE services) to help improve internal HR, finance and other colleague services.

We may also have insight about other external user groups, from more strategic policy projects, or other project sitting outside of our core portfolio areas.

<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EnbvqwfMHcNMrfGXGSnlB4MBIIRGQESmXs-T8SBZzvl8vw?e=cAX4GQ">Insight about DfE users and other users (DfE SharePoint)</a>

Also ask in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP">user research community Slack channel</a>.


<h2 class="govuk-!-margin-top-7">Desk research and other sources of insight, evidence and data</h2>

<a href="/research-insight/other-insight-sources.html">A range of other DfE research insight, evidence and data collections</a> are available to you. You should use these for desk research and when gaining wider understanding of your policy area and users.


{% endmarkdown%}

{% endblock %}