{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Research insight" %}
{% set pageName = "Other sources of insight, evidence and data" %}
{% set pageDescription = "Resources and collections available to DfE user researchers." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

There are a number of internal resources across the department, where you will find existing research evidence, data and other insight about your users.

These resources are only available to civil servants or contractors working in DfE.

## List of all user researchers and users

We keep a <a href="https://educationgovuk.sharepoint.com/:x:/s/lvewp00449/EY0A_SUa4RRAl6LBM1-0w-EBQywbIhvEy8m0uaQ0ZPO_kQ?e=CyR6sB">list of all user researchers (DfE users only)</a> currently working in the Department (DfE SharePoint), and the user groups they research with. Search this list to find people researching with similar user groups to you.

## Departmental research library

The <a href="https://researchevidence.education.gov.uk/">Research Evidence Directory (RED) (DfE users only)</a> is the department’s central research library, containing social research findings, some user research, and commissioned research and reports. 

Civil servant user researchers should automatically get access the RED on joining the department. Contractors will need to request this (via a civil servant). Speak to your lead user researcher or the Research Operations team.

Update: From June 2024, RED will be replaced, with the content moved to Sharepoint. We will update this page with links when this happens.


## Other catalogues of research and data 

Large list of <a href="https://educationgovuk.sharepoint.com/:x:/s/lvewp00449/EXn6GhkfHQBaBR-migoySr0BIcJNz_yoXJNq8yYo__YdPA?e=FDxEiC">desk research sources catalogue (DfE users only)</a> crowd-sourced by the user research community for conducting secondary, desk-based research.

<a href="https://educationgovuk.sharepoint.com/:b:/r/sites/lvewp00071/SiteAssets/SitePages/Data-Directorate-Service-Catalogue/Data-Directorate-Service-Catalogue--As-Is----V2.pdf?csf=1&web=1&e=nxYr03">DfE Data Directorate catalogue of datasets (DfE users only)</a>, as well as details about the products and services the directorate manages.

List of <a href="https://educationgovuk.sharepoint.com/sites/sarpi/g/SitePages/C.aspx">external research reports and policy papers (DfE users only)</a> commissioned by the Department for Education.

Catalogue of <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/sarpi/g/WorkplaceDocuments/Publications%20and%20journals/Publications%20catalogue.xlsm?d=waa2ddc7c1dcf47a9a68e40187efe2ac3&csf=1&web=1&e=5Xmb96">government reports and policy papers published by DfE (DfE users only)</a>, organised by subject area and research question. 

## Research Knowledge and Insight team

Details of the department’s <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/sarpi/g/SiteAssets/AC/Induction%20Material/Research%20Knowlege%20Insight%20Unit.pptx?d=w8aff4b8822934dada6a436e0f2a629b4&csf=1&web=1&e=WfVFpD">Research Knowledge and Insight Team (DfE users only)</a> and how they can support researchers across the department.

{% endmarkdown%}

{% endblock %}