{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Research insight" %}
{% set pageName = "Other sources of insight, evidence and data" %}
{% set pageDescription = "Resources and collections available to DfE user researchers" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

There are a number of internal resources across the department, where you will find existing research evidence, data and other insight about your users.

| __Resource__  | __Description__ |
|---------------|---------------|
| <a href="https://researchevidence.education.gov.uk/">Researching Evidence Directory (RED)</a> | The department’s central research library, which contains findings social research, some user research, and commissioned research and reports. Civil servant user researchers should automatically get access the RED on joining the department. Contractors will need to request this (via a civil servant). Speak to your lead user researcher or the research operations team. |
| <a href="https://educationgovuk.sharepoint.com/:x:/s/lvewp00449/EXn6GhkfHQBaBR-migoySr0BIcJNz_yoXJNq8yYo__YdPA?e=FDxEiC">Desk research sources catalogue</a> | Large list of sources for conducting secondary, desk-based research, crowd-sourced by the user research community. |
| <a href="https://educationgovuk.sharepoint.com/:b:/r/sites/lvewp00071/SiteAssets/SitePages/Data-Directorate-Service-Catalogue/Data-Directorate-Service-Catalogue--As-Is----V2.pdf?csf=1&web=1&e=nxYr03">Data Directorate service catalogue </a> | Catalogue of datasets and insights from the department’s Data Directorate, as well as details about the products and services the directorate owns. |
| <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/sarpi/g/WorkplaceDocuments/Publications%20and%20journals/Publications%20catalogue.xlsm?d=waa2ddc7c1dcf47a9a68e40187efe2ac3&csf=1&web=1&e=5Xmb96">DfE research catalogue</a> | Catalogue of government reports and policy papers published by DfE on GOV.UK, organised by subject area and research question. |
| <a href="https://educationgovuk.sharepoint.com/sites/sarpi/g/SitePages/C.aspx">Externally commissioned reports</a> | List of external research reports and policy papers commissioned by the Department for Education. |
| <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/sarpi/g/SiteAssets/AC/Induction%20Material/Research%20Knowlege%20Insight%20Unit.pptx?d=w8aff4b8822934dada6a436e0f2a629b4&csf=1&web=1&e=WfVFpD">Research Knowledge and Insight Team</a> | Details of the department’s Research Knowledge and Insight Team and how they can support researchers across the department. |

{% endmarkdown%}

{% endblock %}