{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Get further advice on research ethics questions" %}
{% set pageDescription = "How to get answers to questions not covered on this website, from experienced DfE user researchers." %}

{% block content %}

{% markdown %}

You can ask for advice on research ethics or safeguarding questions in a number of ways. Whichever method you choose:

-	say how quickly you need advice:
    - urgently within two working days
    - within 7 days
    - longer (if your question is not urgent)
-	do give as much detail as possible and links to any relevant documents
-	don't share any personally identifiable information about a research participant in your question

## Get expert peer advice from the ethics advisory group

Our ethics advisory group give advice on ethics or safeguarding questions to any user researcher working in DfE.

You can contact them in an open channel in DfE Slack, or confidentially if your question is sensitive.

Note that the group gives peer advice, not approvals. If you need approval to do something, you should always ask for this from your lead user researcher, the head of user research, or the senior responsible officer (SRO) for your programme.

### Ethics advisory group Slack channel

You can ask for advice on about any ethical or safeguarding question in the <a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B" target="_blank">#ethicsadvisorygroup channel in DfE Slack (opens in a new tab)</a>.

The group will discuss and answer in the Slack channel.

This is an open channel, and is a useful resource for all DfE user researchers to see questions that have been asked and discussed previously.

### Ask the ethics advisory group confidentially

Complete this <a href="https://forms.office.com/e/TG4WpVqZTj" target="_blank">form to ask your question privately (opens in a new tab)</a>. Your question will only be seen by members of the ethics advisory group. 

A member of the group will contact you with advice via private Slack message or email.

## Attend the Ethics forum

You can bring questions to be discussed at the fortnightly <a href="/community-of-practice/community-initiatives-and-interest-groups.html#ethics-forum">Ethics Forum (Wednesdays, 3:30pm)</a>.

Look out for announcements in the user research Slack channel, or contact <a href="https://ukgovernmentdfe.slack.com/team/U02AHLEJLAZ" target="_blank">Sarah Walmsley (opens in a new tab)</a> or <a href="https://ukgovernmentdigital.slack.com/team/U068PEZ3L5N" target="_blank">Elena Bracey (opens in a new tab)</a> in DfE Slack for the invite.

## Ask your lead user researcher or head of user research

You can also always get advice from your <a href="/community-of-practice/leadership-team.html">lead user researcher or head of user research</a>. 


{% endmarkdown%}

{% endblock %}