{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Get further advice on research ethics questions" %}
{% set pageDescription = "How to get answers to questions not covered on this website, from experienced DfE user researchers." %}

{% block content %}

{% markdown %}

Our <a href="/Users/tomadams/Documents/source/user-research-manual-v2/app/views/community-of-practice/community-initiatives-and-interest-groups.html">ethics advisory group</a> provide ethics advice to any user researcher working in DfE.

You can ask for advice in a number of ways. Whichever way you choose, give as much detail as possible and links to any relevant documents. Please tell us you believe you need advice: urgently within two working days hours; within 7 days; or longer if your question is not urgent.

## Ethics advisory group Slack channel

You can post your question in the <a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B" target="_blank">#ethicsadvisorygroup channel in DfE Slack (opens in a new tab)</a>.

## Ethics forum

You can join our <a href="/community-of-practice/community-initiatives-and-interest-groups.html">fortnightly Ethics Forum (Wednesdays, 3:30pm)</a>. 

Look out for announcements in the user research Slack channel, or contact <a href="https://ukgovernmentdfe.slack.com/team/U02AHLEJLAZ" target="_blank">Sarah Walmsley (opens in a new tab)</a> or <a href="https://ukgovernmentdigital.slack.com/team/U068PEZ3L5N" target="_blank">Elena Bracey (opens in a new tab)</a> in DfE Slack for the invite.

## Ask the ethics advsory group confidentially

Complete this <a href="https://forms.office.com/e/TG4WpVqZTj" target="_blank">form to ask your question privately (opens in a new tab)</a>. Your question will only be seen by members of the ethics advisory group. 

A member of the group will contact you via slack or email with advice.  

## Lead user researcher or head of user research

You can also always for advice from <a href="/community-of-practice/leadership-team.html">your lead user researcher or head of user research</a>. 

Note that if you need an approval rather than advice, you should always ask for this from your lead user researcher, the head of user research, or the senior responsible officer (SRO) for your programme.


{% endmarkdown%}

{% endblock %}