{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Gaining informed consent" %}
{% set pageDescription = "How to ensure fully informed consent from participants when our standard methods are not appropriate" %}

{% block content %}

{% markdown %}

<div class="govuk-inset-text">
  <p>Following this guidance will help you meet our <a href="#">research planning standard</a></p>
</div>

<div class="govuk-inset-text">
  <p><a href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_23PaJkhsSKNx7dY?source=CYP"><strong>Help us improve this guidance</strong> - please take this survey</a></p>
</div>

Before research starts, you must get informed consent from participants. 

<h2 class="govuk-heading-s">Page contents</h3>
<ul class="govuk-list govuk-list--spaced">
  <li><a href="#overview">Overview</a></li>
  <li><a href="#when-to-think-about-changing-your-approach-to-informed-consent">When to think about changing your approach to informed consent</a></li>
  <li><a href="#what-to-do-if-someone-is-consenting-on-behalf-of-a-participant">What to do if someone is consenting on behalf of a participant</a></li>
  <li><a href="#how-to-find-out-if-participants-need-a-different-approach-to-consent">How to find out if participants need a different approach to consent</a></li>
  <li><a href="#alternative-ways-of-communicating-with-participants">Alternative ways of communicating with participants</a></li>
  <li><a href="#case-studies-and-advice-for-different-approaches-to-consent">Case studies and advice for different approaches to consent</a></li>
  <li><a href="#dfe-resources">DfE resources</a></li>
  <li><a href="#further-reading">Further reading</a></li>
</ul>

## Overview

Informed consent means:

- making sure participants have had the right information about your research
- participants can understand the information you have communicated to them
- participants are able to make an informed decision about their involvement with the research

Although informed consent is a requirement when carrying out research with any user, this guidance provides suggestions for how to get informed consent from participants when our standard methods are not appropriate. For example, for adults with low literacy, for people who are vulnerable and for children.

Informed consent is important for complying with data protection and you can learn about <a href="/-managing-participant-data-correctly/getting-informed-consent.html">getting informed consent under UK GDPR</a> in our guidance. However, getting informed consent also plays a huge role in making sure our research is ethical. <strong>If participants do not understand what they’re signing up to, their consent is meaningless</strong>.

There’s no one-size-fits-all approach to getting informed consent. How we present information about our research should change depending on who we are speaking to so that we’re better able to get informed consent. This guidance provides suggestions for how to get informed consent from participants when our standard methods are not appropriate. For example, for adults with low literacy, for people who are vulnerable and for children.

## When to think about changing your approach to informed consent

For many participants, our <a href="/-managing-participant-data-correctly/getting-informed-consent.html">standard consent process</a> will meet the requirements. Our standard consent forms are written in plain English and have been designed with a content designer. They’re aimed at the approximate reading age of a 9 year old. Use the standard forms if you believe your participants can give informed consent when given the information in this format. 

However, you should consider a different approach for participants that:

- are children and do not have the reading skills to read our standard form
- are under the age 18 - as although they may be able to read the forms, the concepts may be difficult to understand
- are vulnerable 
- have low literacy levels (e.g. participants resitting their English GCSEs or participants who are learning English as a second language)
- have a disability or condition which means they may struggle significantly with reading

## What to do if someone is consenting on behalf of a participant

Sometimes, participants may need someone else to sign their consent forms for them. For example, those under 18 years old, or people who lack the mental capacity to give fully informed consent (e.g. people with dementia).

Use consent forms aimed at the participant's level of understanding, not the level of the person signing the consent form on the participant’s behalf. This means the participant has as much opportunity to understand the research as possible. For example, a 5 year old child would not understand our standard consent form but a consent form with pictures would give them information about the research. 

## How to find out if participants need a different approach to consent

It can be hard to work out if your participants may need a different approach to consent. Always speak to your senior user researcher or lead user researcher if you’re concerned. You can also speak to the <a href="/-assessment-assurance-peer-review/ethics-advisory-group.html">Ethics Advisory Group</a> who can offer ethical advice related to user research. 

Sometimes you may not be able to plan for a participant who needs a different approach to consent. For example, if a participant wants to take part in research but they’re struggling with illness, they may temporarily struggle to fully understand the consent form. You should make it clear in both the information sheet and any other communications that participants can ask you questions at any point during the research process and ask for help when completing the consent form.

## Alternative ways of communicating with participants

For some user groups, such as users with low literacy or users with accessibility needs, written text alone may not be the most accessible way of communicating to participants when getting informed consent. We can communicate to participants in a variety of different ways. 

- <strong>Participation information clips</strong> are short, recorded videos which involve the researcher explaining the purpose of the research to the participant, and outlining their rights as a research participant. These videos can be used for participants who may struggle to interpret and understand written text and find it more accessible to have information communicated verbally. 
    - <a href="https://digital.nhs.uk/about-nhs-digital">See an example of NHS Digital using a participation information clip to communicate to their research participants</a>

- <strong>Infographics, images or diagrams</strong> can be used to communicate the research process to participants who find visual imagery easier to understand than written text. Whilst some text may still be required, visual imagery (such as an image of resources used in the research and a photograph of the researcher) can help participants understand the research and what they are being asked to consent to.
    - <a href="https://childethics.com/case-studies/picturing-consent-using-photographs-in-a-visual-consent-form-by-jennifer-thompson/">This case study demonstrates how an academic researcher used photographs, alongside limited text, to communicate to participants with low literacy in Sierra Leone</a>
    

- <strong>Video clips and animations</strong> can be useful at demonstrating the research process to participants who are unfamiliar with research participation and may struggle to understand written explanations of research methodologies (such as card sorting or focus groups). By sending participants a video or animation of what the research methodology entails, this will make it easier for the participant to understand what will be expected of them if they agree to participate in the research session. 
    - <a href="https://www.youtube.com/watch?v=ZLw0YXcseG0">This video explains what a focus group is, why it is used in research and what participants should expect if they are asked to participate in a focus group</a>

## Case studies and advice for different approaches to consent

Members of the user research community have contributed their ideas and experiences of using different approaches to consent. If you’d like to contribute, please contact Sarah Walmsley.

<div class="govuk-inset-text">
  <h3>Consent for participants with access needs</h3>
<p>The best way to ensure the participant will be able to give informed consent is to ask them about their communication preferences and any adjustments that you may need to make. This applies for the consent process and the rest of the research session.</p>
<p>Typical considerations for consent forms might be:</p>
<ul>
<li>a digital version so it can be read by a screen reader. This would need to be properly set up with headers, alternative text etc.
<li>a large print version
<li>someone to interpret the information for them such as a British Sign Language (BSL) translator or an alternative language translator (remember, for a BSL user English is not their first language)
<li>consider if someone needs someone with them during research such as their guardian when formal support is needed, or a friend for informal support
<li>offering to read out the consent form to the participant - you’ll need to record this, along with their responses and keep a copy of it like you would with consent forms
</ul>
</div>

<div class="govuk-inset-text">
  <h3>Recruiting adults with low literacy</h3>
<h4>Context and research objectives</h4>
<p>Hungry Little Minds is a website that gives parents activities they can do at home with their children to aid learning.
The research objective was to understand how Hungry Little Minds can better reflect the capabilities and resources of disadvantaged parents of children aged 0-5, encouraging them to adopt a Home Learning Environment (HLE). </p>

<h4>About the participants</h4>
<p>The people in this research were parents who had low literacy, were at a socio-economic disadvantage, were disengaged with DfE, and had a negative perception of the education system.</p>

<h4>How was informed consent achieved?</h4>
<p>We sent a letter to participants before we sent over the consent form. The letter was written to correspond with the reading level of the participants. We got this letter checked by a charity that supports people with low literacy.</p>
<p>People can often feel intimidated by taking part in research with the Government. To help with this, a picture was included of the researcher. This allowed the participant to see what a ‘researcher from the Department for Education’ looked like. I.e - quite normal!</p>
<p>Q&A sessions were offered to participants, to allow them to ask any questions of the researcher and to allow the researcher to go through the consent form and explain each of the consent questions. If participants attended, we asked them to return the consent form to us within a week and offered further help if needed. This reduced pressure on the participant and allowed them enough time to consider what they wanted to consent to.</p>
</div>

<div class="govuk-inset-text">
  <h3>Doing research with young children</h3>
<h4>Context and research objectives</h4>
<p>Research conducted into the Reception Baseline Assessment aimed to understand the suitability of digital assessments for children entering school. This research was time-sensitive due to policy deadlines. It was crucial that this research was conducted with the target audience of 4-5 year old pupils in order to yield valid results to inform the service design.</p>
<h4>About the participants</h4>
<p>Participants were aged 4-5 years old and were either in a nursery school or primary school setting. At the time of taking the assessment, children would be in their first term of school, therefore research was often conducted in early September where pupils were still settling into a new environment. Children came from a range of backgrounds and attended schools across the country, so differing levels of comprehension were observed. The researcher was unfamiliar to these children, which added complexity to the consent gathering process and the overall ethics of the research.</p>

<h4>How was informed consent achieved?</h4>
<p>Informed consent in this case study was gained through written consent from the headteacher, implied consent from parents who did not opt out of research and verbal consent from children.</p>
<p>Researchers recruited children via their school, however the parents had the ultimate say in whether a child participated in the research or not. Once consent was gained from the school and the parents, using standard consent forms and opt out letters, the next piece of consent to be sought was from the children themselves.</p>
<p>As gaining consent from a child of 4 or 5 years old was unfamiliar territory, researchers consulted the Early Years Foundation Stage Framework (EYFS). The EYFS explains the developmental milestones that children are expected to achieve by each age. From this, researchers were able to identify the communication milestones we could expect the majority of our users to have met at the time of conducting research, and build a consent process that suited that level of understanding.</p>
<p>The consent approach for children covered:</p>
<ul>
<li>Teachers addressed the whole class to explain that they may be asked to do some 1:1 work with their visitor, but they could say no if they wished to.
<li>Researchers asked children if they’d like to come and play on the iPad with them (an initial soft-touch consent check, with researchers paying particular attention to the child’s body language in response).
<li>Researchers using a visual consent form to tell a story of what would be happening, pointing to pictures and asking the child if they were happy to go ahead (Appendix One).
<li>Researchers using a ‘card’ system with children to give them the ability to continually revoke consent for a single question, or for the whole study, children were told that they could give a ‘yellow card’ if they didn’t like a question, and a ‘red card’ if they wanted to stop. Researchers checked the child’s comprehension of the card system prior to starting the research.
<li>Researchers regularly checked that children were still happy to continue whilst research was ongoing, through observation of body language, use of the card system and asking for verbal confirmation that the child was okay.
</ul>
</div>

## DfE resources

- <a href="">Example of a visual consent form used when conducting research with children</a>
- <a href="">Example templates, etc etc etc etc</a>

## Further reading

- <a href="https://www.tes.com/news/do-no-harm-ethical-guidelines-teacher-researchers">Do no harm: ethical guidelines for teacher-researchers</a>
- <a href="https://learning.nspcc.org.uk/research-resources/briefings/research-with-children-ethics-safety-avoiding-harm/">NSPCC guidelines</a>
- <a href="https://future.barnardos.org.uk/transforming-our-services/reinventing-consent-form">Barnardo’s guidance on getting informed consent (including templates)</a>
- <a href="https://www.hra.nhs.uk/planning-and-improving-research/policies-standards-legislation/research-involving-children/">NHS guidelines</a>
- <a href="https://www.savethechildren.org.uk/content/dam/global/reports/education-and-child-protection/so-you-want-to-involve-children-in-research.pdf">Save the Children guidance</a>

<div class="govuk-inset-text">
  <p><a href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_23PaJkhsSKNx7dY?source=CYP"><strong>Help us improve this guidance</strong> - please take this survey</a></p>
</div>







{% endmarkdown%}

{% endblock %}