{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Reducing burden on DfE's users" %}
{% set pageDescription = "Ensuring we always use our users' time well, and don't create a burden." %}

{% block content %}

{% markdown %}

<div class="govuk-inset-text" style="margin-top:0;">
  <p>This guidance is being developed. <a href="/community-of-practice/community-groups-and-initiatives">You can get involved to help</a>.</p>
</div>

  It's important that our research doesn't create a burden on our users: you must always ensure that any time and effort that we ask our users and their organisations to give to us is used well, and for the right reasons.
  
  The department has produced <a href="https://educationgovuk.sharepoint.com/sites/lvewp00126">general guidance for reducing workload and improving wellbeing in schools (DfE users only)</a> as part of delivering the <a href="https://www.gov.uk/guidance/education-staff-wellbeing-charter">Education staff wellbeing charter</a>. You should follow this advice if you are researching with school staff or teachers.

{% endmarkdown%}

{% endblock %}