{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance" %}
{% set pageDescription = "Guidance to help you understand processes in DfE user research" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}
<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #f3f2f1;" id="mainheader">
  <div class="dfe-width-container" style="padding-top: 45px; padding-bottom: 45px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="color:black">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0" style="color: black">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">
                    Planning
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find existing research insights</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">What to include in your research plan</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m"  style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan for research during a pre-election sensitivity period</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Recruiting participants
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/new-prototype/guidance/recruit-participants" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Recruiting participants through a supplier</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Purchase and use incentives</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Consent and data management
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/styles" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Gather consent appropriately</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/components" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Collect and manage data</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Reuse, share and disclose data</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                  Safety
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/new-prototype/guidance/plan-safe-research" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan and conduct safe user research</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/new-prototype/guidance/report-concern" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Report a safeguarding or criminal concern</a>
                        </h2>
                      </div>
                    </div>
                </div>
                <h2 class="govuk-heading-l">
                    Tools and equipment
                </h2>
                <div class="dfe-grid-container">
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/new-prototype/guidance/tooling" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Use DfE-approved tools and software</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                      <div class="dfe-card-container">
                        <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                          <a href="/design-system/patterns" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get tools and equipment for in-person research</a>
                        </h2>
                      </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                          <h2 class="govuk-heading-m" style="margin-top:0; margin-bottom:0">
                            <a href="/new-prototype/guidance/surveys/" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get a survey peer reviewed and published</a>
                          </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



{% endmarkdown%}

{% endblock %}