{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance" %}
{% set pageDescription = "Guidance on user research processes in DfE" %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
.dfe-card-container {padding-top: 24px;padding-left: 36px;padding-bottom: 24px;padding-right: 36px;}
</style>

<section style="background: #003a69;">
  <div class="dfe-width-container" style="padding-top: 45px; padding-bottom: 45px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" style="color:white">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0" style="color: white">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Topics</h2>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Find existing research insights
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                What to include in your research plan
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Plan for research during a pre-election sensitivity period
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Recruit participants appropriately
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Purchase and use incentives
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Gather consent appropriately
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Collect and manage data correctly
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Reuse, share, and disclose data
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Assess and mitigate risks to physical and psychological safety
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Report a safeguarding or criminal concern
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Use DfE-approved software and tools
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Get tools and equipment for in-person research
              </a>
            </h2>
          </div>
        </div>
        <div class="dfe-card" style="margin-bottom: 15px;max-width: 800px;">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s" style="margin-bottom: 0px;">
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/new-prototype-ignore/guidance/ethics-and-safeguarding">
                Get a survey peer reviewed and published
              </a>
            </h2>
          </div>
        </div>
      </div>  
      <div class="govuk-grid-column-one-third">
        <section class="homepage-section homepage-section--promotion-slots" style="
        font-size: 18px;
        margin-left: 2px;
        margin-right: 2px;"> 
          <p style="padding-top: 1px;">These guidance articles have been written by experts across the DfE user research community, or by the Research Operations team.</p>
          <p>Any DfE user researcher can get involved in creating guidance content to support the community. Join a community initiative working group or interest group, or speak to your lead user researcher or the head of user research.</p>
          <h3 style="margin-bottom: 16px;margin-top: 32px;">Recently updated</h3>
          <h3 class="govuk-heading-s" style="margin-bottom: 16px;">
            <a class="govuk-link" href="/find-a-job">Recruit participants appropriately</a>
          </h3>        
          <p>Added 17/05/2025</p>
          <h3 class="govuk-heading-s" style="margin-bottom: 16px">
            <a class="govuk-link" href="/find-a-job">Purchase and use incentives</a>
          </h3>        
          <p>Updated 24/05/2025</p>
        </section>
      </div>
    </div>
        

  </div>
</section>


{% endmarkdown%}

{% endblock %}