{% extends "layouts/content-with-sidenav-right.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}
{% set pageName = "Recruiting participants through a supplier" %}
{% set pageDescription = "How to decide whether to recruit participants through DfE's centrally managed supplier and what you will need to begin the process" %}

{% block content %}

{% markdown %}
    
  

<h3 class="govuk-heading-s">On this page</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#how-to-decide-if-you-should-use-a-supplier-for-recruitment">How to decide if you should use a supplier for recruitment</a></li>
    <li><a href="#what-youll-need-to-do-before-starting-the-process">What you'll need to do before starting the process</a></li>
    <li><a href="#using-a-different-supplier">Using a different supplier</a></li>
    <li><a href="#step-by-step-guidance-on-using-the-supplier">Step-by-step guidance on using the supplier</a></li>
  </ul>

  In DfE, every user researcher has access to our centrally managed contract for both participant recruitment and paying self-recruited participants incentives.  

  Using the supplier for either purpose has a cost associated with it and you must consider if the cost represents value for money.  

  This guidance explains what you must do before you begin the recruitment process. A separate guidance document explains the process of using the supplier in detail. As the separate guidance follows and explains DfE's financial and commercial processes in detail, it is hosted on DfE's Sharepoint. A link to that document is found at the bottom of this page. 

  ## How to decide if you should use a supplier for recruitment

  Using a commercial recruiter can reduce a lot of time and effort in finding participants. However, they aren't always the best choice for recruitment. Budget, value-for-money, project timelines and the type of user you're trying to recruit may all mean that self-recruitment methods are more appropriate and will give you a better likelihood of successfully recruiting the right participants for your research. 
  
  To help you decide, you should consider the following questions:

  - do you have budget agreed for your team to pay for participant recruitment?
  - does using a supplier represent good value for money?
  - is it at least 5 weeks before your planned research date?
  - would you struggle to recruit users yourself?

  If the answer to these questions is 'yes', then a supplier is a good option. If the answer to any of the questions is 'no', you should consider alternative methods instead. 

  ## What you'll need to before starting the process
  
  ### Understand your team's budget

  You should ensure your team has budgeted for recruiting participants before you start. The costs are set out in the rate-card. Your lead user researcher will have access to the rate card. If you do not have a lead, contact research-ops-support On Slack and a member of the research operations team will send it to you.
  
  - <a href="#new">Get support from the research operations team</a>

  ### Have a business case
  
  You will need to have an approved business case. This may be a business case covering user research activity specifically, or it may be a business case for the entire project or project phase that includes user research. Your delivery manager can help if you are unsure.
  
  ### Determine if using a supplier is good value for money
  
  Value for money means using public resources in a way that maximises public value while achieving policy objectives. When using a recruitment supplier, you must be able to evidence that it meets value for money. You should consider:

  - How does the cost of using the supplier compare to you other methods of recruitment such as self-recruitment, or using a DfE panel? 
  - Is the supplier able to recruit participants that match your brief?
  - Would it be significantly easier for the supplier to recruit these participants than yourself (e.g. through pre-existing relationships)?
  - Would you struggle or be unable to recruit due to capacity constraints, and could using the agency alleviate this?

  ### Allow 5 weeks before your research begins

  When using the supplier to recruit, you must allow at least 5 weeks before your research.

  You can find specific breakdowns on lead times for each user group, as well as details on the steps involved in the process, in the step-by-step guidance documents linked at the bottom of this page.

  ### Consider if alternative methods of recruitment would be appropriate

  There are 3 main routes to recruitment. These are self-recruitment, using lists (e.g. panels) and using a supplier.  

  Self-recruitment does not have a direct cost, but it does take time that could be spent doing research. Some user researchers, especially those with large and engaged user groups, may find self-recruitment relatively easy.  

  You could use your area's communication channels to advertise research opportunities. You will need to speak to your comms lead to make sure you do not overburden users or send out duplicate messages.  

  Some business areas have lists of users who have agreed to be recontacted for user research. Speak to your team or lead to see if this is available.

  ### Consider if the supplier will be able to meet your requirements

  What you need from a supplier may be difficult for them to find. For example, “Teachers” is a large population, and easy to recruit from, but may not be specific enough for your research needs. On the other hand, “Teachers in the first two years of their career, who are from an ethnic minority, who grew up in a low-income family, and who are hoping to become a senior leader one day” might be so specific that a recruiter will struggle to find them.  

  In this case, you might consider widening the profile (by prioritising which are the most important characteristics), or you might decide that self-recruitment methods will be more likely to succeed than using a recruitment agency. 

  ## Using a different supplier

  It is also possible to procure your own supplier on a job-by-job basis. This can take a lot of work, but it can be useful where you have a longer-term need for a specific user group. There may be suppliers that specialise in your user group and might offer better value for money. An example of this could be for international users.  

  If you want to do this, speak to the commercial colleagues in your area.  

  ## Step-by-step guidance on using the supplier

  If you have decided to use DfE's centrally managed recruitment supplier, and if you have done everything you need to before starting the process, you must follow the guidance linked below to use the supplier.

  This guidance is hosted on DfE's Sharepoint and only available to colleague working in DfE as it contains details of internal DfE financial and commercial processes.

  <div class="gem-c-action-link gem-c-action-link--simple" style="margin-bottom: 24px;">
    <span class="gem-c-action-link__link-wrapper">
      <a class="govuk-link gem-c-action-link__link gem-c-force-print-link-styles" href="/financial-help">
        How to use our participant recruitment supplier - guidance (DfE users only)
      </a>
    </span>
  </div>
{% endmarkdown%}

{% endblock %}

{% block related %}
<!-- right-hand column -->

{% markdown %}
<h2 class="govuk-heading-m">Help and advice</h2>
<ul class="govuk-list govuk-list--spaced">

  <li><a href="https://ukgovernmentdfe.slack.com/archives/C015XQ05Z1B" target="_blank">Get support from the research operations team.</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="kabdkjawbd">lead user researcher or the head of user research.</a>
  </li>
</ul>


{% endmarkdown%}

{% endblock %}




