{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}

{% set guidanceTopic = "Using incentives in DfE user research" %}
{% set guidancePageName = "Get approval to use monetary incentives" %}
{% set seoPageName = "Incentives: get approval to use" %}

{% set prevLinkText = "Value of monetary incentives you can offer" %}
{% set prevLinkURL = "monetary-value.html" %}

{% set nextLinkText = "How to buy monetary incentives for your project" %}
{% set nextLinkURL = "how-to-buy.html" %}

{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="types.html">Types of incentive you can offer in DfE user research</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="user-groups.html">User groups you can and can't offer monetary incentives to</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="monetary-value.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  Get approval to use monetary incentives
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="how-to-buy.html">How to buy monetary incentives for your project</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

You must get approval to offer monetary incentives from a lead user researcher or the head of user research. You will not be allowed to purchase incentives without this approval.

Use this form: 

<a href="">LINK TO FORM</a>

You will need to say:

- which user group(s) you plan to offer monetary incentives to
- the type and value of incentive
- why you have decided they are necessary
- how you will mitigate any ethical or research risks.

## Reasons why you might need to offer monetary incentives

You must only offer incentives if you believe that they are necessary, and your research goals may be harmed without them. Examples could include:

- You believe, based on previous experience or initial exploration of your user population, that you will struggle to recruit within your project timelines, or that some user groups will be excluded from your research.
- You are using a specialist third-party recruitment supplier who won't accept a brief without the use of incentives, or will only do so with a longer timeline or significant additional charge to DfE.
- Your research method requires a significant effort or time commitment from participants (for example a longitudinal study requiring repeated activities over a number of weeks).
- There will be a cost to the participant to take part in research, e.g. you are asking them to travel to a research lab or DfE office.

## Ethical and research risks of using incentives

You must state any risks with using incentives, including ethical risks to participants and biases or flaws they could introduce into your research, and how you will mitigate them.

Examples of risks with DfE user groups could include (but are not limited to):

- Monetary incentives, particularly bank transfers or cash, are considered income, impacting an individuals' benefit claim calculations
- People on a low income may agree to participate in research they are not comfortable with or interested in
- A child or an adult with reduced capacity may be attracted by a small gift while not fully understanding what is being asked of them
- People with low digital literacy or access may struggle to access any online incentive method, e.g. shopping vouchers
- Offering incentives could increase or exacerbate implicit power imbalances in some research (e.g. DfE researching with a head teacher in a struggling state funded school)

<div class="govuk-inset-text" style="margin-top:0;">
<p>If you are conducting in-person research and carrying physical monetary incentives (e.g. physical shopping vouchers), there is a physical safety risk to you and any team members accompanying you. You must consider this in your user research plan.</p>
</div>

{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href=""></a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Further help and advice</h2>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




