{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}

{% set guidanceTopic = "Using incentives in DfE user research" %}
{% set guidancePageName = "How to buy monetary incentives for your project" %}
{% set seoPageName = "Incentives: how to buy" %}

{% set prevLinkText = "Get approval to use monetary incentives" %}
{% set prevLinkURL = "get-approval.html" %}


{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="types.html">Types of incentive you can offer in DfE user research</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="user-groups.html">User groups you can and can't offer monetary incentives to</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="monetary-value.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="get-approval.html">Get approval to use monetary incentives</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  How to buy monetary incentives for your project
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

To purchase monetary incentives you must only use our approved suppliers. The research operations team will arrange this for you.

<div class="govuk-inset-text" style="margin-top:0;">
<p>In exceptional circumstances (e.g. you need a different type of monetary incentive not provided by our normal supplier) you may use a different supplier. This must be agreed with research operations and approved in writing by the head of user research.</p>
</div>

They will ask you for:

- budget approval from your team and a purchase order number. Your delivery manager will help you with this.
- approval to use monetary incentives from a lead user researcher or head of user researcher. They will review your rationale for using monetary incentives, the user groups and amounts you intend to offer, and any ethical or research risks.

<a href="">**LINK/ACTION BUTTON?**</a>
**What else needs to go on this page?**



{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href=""></a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Further help and advice</h2>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




