{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}

{% set guidanceTopic = "Using incentives in DfE user research" %}
{% set guidancePageName = "Overview" %}
{% set seoPageName = "Incentives: overview" %}
{% set pageDescription = "XXXXXXXXXX" %}

{% set nextLinkText = "Types of incentive you can offer in DfE user research" %}
{% set nextLinkURL = "/guidance-prototype-2/incentives/types.html" %}

{% set pageRoot = "/guidance-prototype-2/incentives/" %}

{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  Overview
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}types.html">Types of incentive you can offer in DfE user research</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}user-groups.html">User groups you can and can't offer monetary incentives to</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}monetary-value.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}get-approval.html">Get approval to use monetary incentives</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}how-to-buy.html">How to buy monetary incentives for your project</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

You can use incentives in most DfE user research.

Incentives are payments, gifts or rewards offered to user research participants to:

- increase participation rates or reduce drop-out rates
- ensure a representative sample, including access to hard-to-reach groups.

They are intended as a 'thank you' for participants, or to compensate them for their time when taking part in user research.

If you want to use monetary incentives you will need budget approval in your team. You must then get approval to use them from a Lead user researcher or the head of user research. You must only buy incentives from our approved incentives suppliers, via the research operations team.

<div class="govuk-inset-text" style="margin-top:0;">
<p>This guidance covers the use of incentives in user research in DfE only. Rules and processes for using incentives in other DfE research professions are available on the DfE intranet.</p>
</div>

{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href=""></a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Further help and advice</h2>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




