{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}

{% set guidanceTopic = "Using incentives in DfE user research" %}
{% set guidancePageName = "Types of incentive you can offer in DfE user research" %}
{% set seoPageName = "Incentives: types you can offer" %}

{% set prevLinkText = "Overview" %}
{% set prevLinkURL = "/guidance-prototype-2/incentives/index.html" %}

{% set nextLinkText = "User groups you can and can't offer monetary incentives to" %}
{% set nextLinkURL = "/guidance-prototype-2/incentives/user-groups.html" %}

{% set pageRoot = "/guidance-prototype-2/incentives/" %}

{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  Types of incentive you can offer in DfE user research
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}user-groups.html">User groups you can and can't offer monetary incentives to</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}monetary-value.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}get-approval.html">Get approval to use monetary incentives</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}how-to-buy.html">How to buy monetary incentives for your project</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

## Non-monetary incentives

Non-monetary incentives have no financial value to the recipient. Examples are thank-you letters, certificates, and anything else with a nominal cost to DfE.

They could also be an offer to share future updates about the project with your participants or even invite them to playback sessions. You must get agreement to do this from your team and senior responsible officer (SRO). Your delivery manager can help you with this.

You may offer non-monetary incentives to any user group. No approvals are needed to do this, although you must consider whether they could introduce ethical risks to participants, biases or other research risks \[LINK TO SECTION ON LATER PAGE\].

## Monetary incentives

Monetary incentives have a financial value to the recipient. Examples could include gift cards, bank transfers, charity donations, prize draws, or reimbursements for expenses incurred by a participant.

You may offer non-monetary incentives to most DfE user groups, with some exceptions. You must get approval from a lead user researcher to offer them, and you must only used DfE's approved suppliers, via the research operations team.

Types of monetary incentive you can offer are:

- Online or physical shopping vouchers/cards
- Book tokens
- Charity donations
- Donation to a school or other education setting, in the form of vouchers for them to spend on library books, toys, or similar

In exceptional circumstances, where the normal types of incentive are not appropriate for a participant or user group, you can use:

- Bank transfers
- Pre-paid debit cards

You must never offer:

- Physical cash
- Online or physical shopping vouchers/cards where there is no choice of retailer in which to spend them in (i.e. a voucher for a single specific retailer or website)
- Charity donations where there is only a single choice of charity to donate to.



{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href=""></a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Further help and advice</h2>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




