{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "surveys" %}
{% set isGuidance = true %}

{% set guidanceTopic = "Using incentives in DfE user research" %}
{% set guidancePageName = "User groups you can and can't offer monetary incentives to" %}
{% set seoPageName = "Incentives: user groups you can and can't offer incentives to" %}

{% set prevLinkText = "Types of incentive you can offer in DfE user research" %}
{% set prevLinkURL = "/guidance-prototype-2/incentives/types.html" %}

{% set nextLinkText = "Value of monetary incentives you can offer" %}
{% set nextLinkURL = "/guidance-prototype-2/incentives/monetary-value.html" %}

{% set pageRoot = "/guidance-prototype-2/incentives/" %}

{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}types.html">Types of incentive you can offer in DfE user research</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  User groups you can and can't offer monetary incentives to
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}monetary-value.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}get-approval.html">Get approval to use monetary incentives</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}how-to-buy.html">How to buy monetary incentives for your project</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

You can offer monetary incentives to most DfE user groups.

There are some groups that you must not offer them to, and some where you need to take additional care in your decision to offer them.

If you do offer monetary incentives, it is the responsibility of the individual participant to check that they can accept it under any rules or policy in their own organisation or profession.

## Groups you must not offer monetary incentives to

You must never offer a monetary incentive to:

- anybody currently employed by DfE
- anybody currently working in or on behalf of DfE as a contractor or supplier
- family members, friends or other people that you have a pre-existing close personal relationship with
- prisoners or other people in detention including young offenders
- asylum seekers, undocumented migrants, or immigrants with no recourse to public funds
- any person with a professional gatekeeping responsibility over a child who is taking part in your research (e.g. social worker, care home worker, etc)
- any child or young person taking part in research during school hours in a state-funded education setting
- pre-school or primary age children
  - You may offer an incentive to the child's parent or guardian (unless the guardian is acting in a professional capacity, e.g. a care home worker).

## Offering monetary incentives to teachers, school staff and other public servants

You can offer monetary incentives to public servants and other people employed and paid directly or indirectly by public money.

You must take additional care to show that monetary incentives are required and appropriate, being particularly aware of any current major news stories or controversies involving your user groups and DfE or the wider government. Get advice from your lead user researcher or policy colleagues if you need to.

These user groups include:

- teachers and other staff currently employed in state funded education settings
- civil servants outside of DfE, and contractors and suppliers currently working for other government departments and agencies
- local authority employees, and contractors and suppliers currently working for local authorities
- social workers
- doctors and other care professionals

Alternative options you can take to offering monetary incentives to individuals in these user groups include offering the incentive to their organisation (e.g. to a school to buy library books) or offering a charity donation.

## People outside of the UK

You can offer monetary incentives to non-UK based user research participants.

Check with research operations that our incentives suppliers can arrange payment in the countries you are planning to recruit from.




{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href=""></a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-s">Further help and advice</h2>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a href="/community-of-practice/research-operations">Research operations team</a>
  </li>
  <li><a href="/guidance/ethics-and-safeguarding/ethics-advice">Ethics advisory group</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="/community-of-practice/leadership-team">lead user researcher or the head of user research.</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




