{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_urs" %}
{% set pageName = "Contractors and statements of work" %}
{% set pageDescription = "Planning for success when bringing in managed service user researchers" %}

{% block content %}

{% markdown %}

We're developing consistent statement of work (SOW) templates for teams bringing in contractors through any of our managed service providers (see our <a href="">profession roadmap</a>.)

This will help set up our contractor colleagues for success, and ensure they and their parent company understand the outcomes required in their work, and our expectations for them.

If you need advice before then, <a href="/community-of-practice/leadership-team/">speak to your lead user researcher if you have one in your portfolio, or the head of user research</a>.

Note that all work delivered by contractors and managed service providers must meet <a href="/standards-and-principles/">our user research standards</a>, and research must be delivered appropriately <a href="/user-research-in-the-civil-service/">under the civil service code</a>.

{% endmarkdown%}

{% endblock %}