{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_urs" %}
{% set pageName = "Recruiting a user researcher for your team" %}
{% set pageDescription = "Rules, support and templates for planning a recruitment campaign for a civil servant user researcher." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

It is very important when we recruit civil servant user researchers into DfE, or promote people into new roles, that we are consistent in the way we describe and advertise the role, and how we assess them in their application and interview.

<div class="govuk-inset-text" style="margin-top:0;">
  <p>Department for Education user research job vacancies are advertised on <a href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=Y29udGV4dGlkPTU2NjgyMDkwJnBhZ2VjbGFzcz1TZWFyY2gmb3duZXJ0eXBlPWZhaXImb3duZXI9NTA3MDAwMCZwYWdlYWN0aW9uPXNlYXJjaGNvbnRleHQmcmVxc2lnPTE2OTkyMTY0NTgtY2RjMGZjODg0MmYzZjMyYWJmNzU0ZmE0NTNiMWU5OTAxOTMxYzQzNw==">Civil Service Jobs</a>.</p>
</div>

<a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Jobs-and-recruitment.aspx">General guidance for recruiting roles into DfE</a> is on the intranet.

<div class="govuk-inset-text" style="margin-top:0;">
  <p>If you are planning to recruit a user researcher, or have made an offer to a candidate, <a href="/community-of-practice/research-operations.html">please let the Research Operations team know</a>, so they can help with their onboarding.</p>
</div>


<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#use-the-correct-role-grade-and-job-descriptions">Use the correct role, grade and job descriptions</a></li>
    <li><a href="#assessing-applications">Assessing applications</a></li>
    <li><a href="#interview-pack-builder">Interview pack builder</a></li>
    <li><a href="#interview-formats">Interview formats</a></li>
    <li><a href="#offer-feedback-to-candidates-after-interviews">Offer feedback to candidates after interviews</a></li>
    <li><a href="#further-advice-and-support">Further advice and support</a></li>
  </ul>
  
  ## Use the correct role, grade and job descriptions
  
  Our role names and job descriptions are based on the [standard UK government DDaT (Digital, Data and Technology) user research roles](https://www.gov.uk/guidance/user-researcher), as described on GOV.UK, with some changes. This ensures that our roles are specific enough for our needs at DfE, but are also common with other user research roles in government. 
  
  You __must__ always recruit a user researcher using the following job titles, grades and job description. If you use a different role title, grade or job description, your role may be refused. In the worst case, you may employ somebody at the wrong role for their level of capability, putting them and your project at risk. 
  
  There is space in the job descriptions for you to add details about your team and business area. Don't make any further changes without first speaking to a [lead user research or the head of user research](/community-of-practice/leadership-team.html).
  
  | __Role title__ | __Grade__ | __Job description template__ |
  |---------------|---------------|---------------|
  | Junior user researcher | HEO | [Junior user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/junior_user_researcher/index.html) |
  | User researcher | SEO | [User researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/user_researcher/index.html) |
  | Senior user researcher | G7 | [Senior user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/senior_user_researcher/index.html) |
  | Lead user researcher | G6 | [Lead user researcher job description](https://dfe-digital.github.io/dfe-job-descriptions/user_research/lead_user_researcher/index.html#about-the-job) |
  | Head of user research | G6 | (currently in development) |
  
  Note that unlike some departments, we have a single ‘head of user research’ role. If you are recruiting a Grade 6 into your business area, you must always advertise and recruit this as a ‘lead user researcher’.
  
  If you are recruiting a lead user researcher (G6), the head of user research must be involved in planning this role and your campaign.
  
  ## Assessing applications
  
  When you assess the applications for your role (known as the ‘sift’) you must assess against every essential skill listed in the job description.
  
  ## Interview pack builder 
  
  To save you time and effort when planning interviews, and to ensure consistency in how we interview applicants, we have developed an interview pack builder tool. It contains template interview scripts, a bank of questions and tasks, and examples of what good answers and weak answers might contain.
  
  This tool is currently available for user researcher (SEO), senior user researcher (G7) and lead user researcher (G6) roles.

  
  To get access to the interview pack builder tool, <a href="/community-of-practice/research-operations.html">contact the Research Operations team</a>

  ## Interview formats

  We use the ‘experience’ [civil service success profile](https://www.gov.uk/government/publications/success-profiles) in our interviews for all roles.
  
  All interview panels should include at least one user researcher at a higher grade than you are recruiting for. In addtion, they can include another user researcher at the same or lower grade. This can be a good learning and development oppoprtunity.
  
  Contractors can sit on panels, as long as the panel lead is a civil servant. 

  ### Interview format for junior user researchers
  
  For junior user researchers, we suggest a one hour interview with a task and 3 interview questions.
  
  Each question should cover one of the three essential criteria. The task could focus on one criteria, or you could use it as an opportunity to additionally assess against all the essential criteria. 
  
  For a junior role, it is important that you are assessing the candidate’s potential: they may not have extensive user research experience, but they may have relevant and transferrable skills and experience.
  
  ### Interview format for user researchers, senior user researchers and lead user researchers
  
  For user researchers, senior user researchers and lead user researchers, we suggest a 90 minute interview, with a task and 4 interview questions.
  
  Each interview question should cover one of the essential criteria. You should always include questions covering the top two criteria (Research methods and planning, and Analysis and synthesis).
  
  The other two questions should be on the criteria that you think are most important/relevant to your specific role and business area (e.g. if you have a lot of ethically tricky research, you might decide to ask a question around the Ethics and safeguarding essential criteria). 
  
  The task will generally ask candidates to give their approach to a hypothetical research situation, which you could use to additionally assess all criteria, or to focus on one or two that are particularly important to your role.
  
  ## Offer feedback to candidates after interviews
  
  You should always offer candidates constructive and in-depth feedback alongside the interview scores and short feedback they will receive from Civil Service Jobs.
  
  Candidates who were unsuccessful want to understand where they need to improve or develop their practice and experience. For successful candidates, this will demonstrate a commitment to their professional development before they enter the department, or before they move into your business area.
  
  ## Further advice and support

  Speak to your <a href="/Users/tomadams/Documents/source/user-research-manual-v2/app/views/community-of-practice/leadership-team.html">lead researcher or the head of user research</a> for support and advice when planning and recruiting for a user researcher role. 
  

{% endmarkdown%}

{% endblock %}