<style>
body, ul, ol, li {
  font-family: Inter, sans-serif !important;
}
</style>

{% extends "layouts/content-with-sidenav-right.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "Safety" %}
{% set isGuidance = true %}
{% set pageName = "Plan and conduct safe user research" %}
{% set pageDescription = "Identify and mitigate risks to the physical or psychological safety of you, your team, and your participants" %}

{% block content %}

{% markdown %}
    
  

<h3 class="govuk-heading-s">On this page</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#how-to-risk-assess-your-planned-user-research">How to risk assess your planned user research</a></li>
    <li><a href="#types-of-safety-risk-in-user-research">Types of safety risk in user research</a></li>
    <li><a href="#identify-distressing-or-emotionally-sensitive-topics">Identify distressing or emotionally sensitive topics</a></li>
    <li><a href="#identify-personal-safety-risks-in-in-person-research">Identify personal safety risks in in-person research</a></li>
    <li><a href="#mitigate-psychological-safety-risks">Mitigate psychological safety risks</a></li>
    <li><a href="#mitigate-personal-safety-risks-in-in-person-research">Mitigate personal safety risks in in-person research</a></li>
    <li><a href="#ending-a-research-session-early-if-you-dont-feel-safe">Ending a research session early if you don't feel safe</a></li>
  </ul>

  <div class="govuk-inset-text">
    Following this guidance will help you meet our <a href="/standards/participant-safeguarding">participant safeguarding standard.</a>
  </div>

  You must identify and include in your research plan any risks to the psychological or physical safety of your participants, your team and yourself, and how you plan to mitigate them. 
  
  User research in DfE is often considered low risk, because we rarely need to talk about sensitive topics, or conduct research in locations that might not be safe. However:

  <ul class="govuk-list govuk-list--bullet">
    <li>sometimes our user research needs to include topics that could be distressing or emotionally sensitive
    <li>sometimes sensitive topics crop up unexpectedly in research interviews, or something unexpected triggers an emotional reaction from the participant, your team members or you</li>
    <li>there is always an element of risk when conducting research in-person with a participant</li>
  </ul>

  We can't remove every risk. Discussing difficult topics and conducting research out in the field helps us fully understand our service users and helps us include the widest sample of participants in our research. 

  However, by identifying the risks in your research, you can plan to remove any that are unnecessary or too severe, and mitigate the others to ensure your research is as safe as it can be, and that you are ready for any situations that occur during your research.
 
  ## How to risk assess your planned user research

  You must assess your planned research for risks to psychological and physical/personal safety of your participants, your team and you. For any serious risks you identify, you must think about what mitigations you will put in place.

  Add the risks and mitigations to your research plan.

  We have a risk assessment template and a team workshop activity, developed by the DfE user research community, which you can use to help you assess safety risks in your planned research:

  <div class="gem-c-action-link gem-c-action-link--simple" style="margin-bottom: 24px;">
    <span class="gem-c-action-link__link-wrapper">
      <a class="govuk-link gem-c-action-link__link gem-c-force-print-link-styles" href="/financial-help">
        User research risk assessent template
      </a>
    </span>
  </div>
  <div class="gem-c-action-link gem-c-action-link--simple" style="margin-bottom: 24px;">
    <span class="gem-c-action-link__link-wrapper">
      <a class="govuk-link gem-c-action-link__link gem-c-force-print-link-styles" href="/financial-help">
        Team workshop activity
      </a>
    </span>
  </div>
   
  You don't have to use these tools to conduct your risk assessment, if there is an alternative method you prefer to use.
  
  Your risk assessment must consider your user group, the context of your research, the types of topics you will be discussing, the research method you are using, and the team who will be involved in the research.
  
  It must cover all stages of your research (not only your interviews/data gathering). For example, this could include risks in your desk/secondary research, or when analysing and playing back research to your team and stakeholders. 

  ## Types of safety risk in user research

  ### Risks to the participant

  There are three types of safeguarding risk to participants:

  - Causing the participant harm in a research setting. Examples could include:
    - asking them discuss a traumatic topic which causes them to become upset
    - conducting in-person research in an unsafe location.
  - Causing a direct health risk to them. Examples could include:
    - exposing medically vulnerable participants to an increased chance of catching a potentially dangerous condition like flu or COVID-19.
  - Causing them to disclose a harmful or criminal activity. Examples could include: 
    - a young person indicates during an interview that they may be a victim of abuse
    - you overhear aggressive and abusive language directed towards your participant on a remote interview
    - a teacher says something that suggests they've acted in an unsafe or inappropriate way with their pupils.

  <div class="govuk-inset-text">
    If you think a participant has disclosed something that is safeguarding risk to others or a criminal activity, you must report it. <a href="/standards/planning">Report a safeguarding or criminal concern</a>.
  </div>

  ### Risks to you, your team and other colleagues exposed to your research

  There are two categories of risk to you and your team and other colleagues involved in the research:
  
  - Psychological safety risks, where you hear or see things that make you feel distressed or uncomfortable. Examples could include:
    - reading serious case reviews referring to incidences of child abuse
    - a participant becomes extremely upset about something during a research interview
    - researching with vulnerable adults and feeling upset or distressed about what they told you about their lives.
  - Physical (or personal) safety risks, where you are in a situation where you could come to some kind of physical harm or face a direct health risk. Examples could include:
    - conducting research in an unsafe location, or traveling to and from an unsafe location
    - a participant becomes angry about something during a research interview
    - exposing a medically vulnerable member of your team to an increased chance of catching a potentially dangerous condition like flu or COVID-19.

  If you don't consider psychological safety, you or your colleagues could be at risk of burnout, compassion fatigue or, in extreme cases, vicarious trauma.

  <a href="#new">Third party burnout, compassion fatigue and vicarious trauma - resources</a>

  ## Identify distressing or emotionally sensitive topics
  
  There is no definitive list of what people might find distressing or emotionally sensitive to talk about. Use your knowledge of your user group and sample, and the context of the service or policy area you are researching, to consider if the topics might be distressing or triggering to participants or your team. 
  
  Some topics that may be higher risk could include:
  - safeguarding, and incidences of harm or abuse
  - financial concerns (personal or organisational)
  - stress and pressure (personal and in work)
  - ill-health
  - job loss or uncertainty
  - discrimination
  - prior life trauma
  - negative experiences of authority, the government, or DfE in particular

  Some past examples of DfE research where the teams anticipated that distressing or emotionally sensitive topics would be discussed or could be touched on: 
  - Research with young people leaving the care system, to help understand what careers support they need 
  - Research into child safeguarding procedures in schools
  - Research with Ukrainian refugee families finding school places for their children.

  Some examples of DfE research where distressing topics came up unexpectedly:
  - An early years practitioner mentioned that a situation at work left them feeling very anxious, but felt they had no mental health or wellbeing support
  - A social worker talked about the stress and pressure they face in their role
  - A small business owner who employs apprentices mentioned that they have serious financial concerns
  - A trainee teacher who is a foreign national said that they are worried about their visa status and whether they and their family will be allowed to remain in the UK
  - A participant made a racist comment, which caused distress to a team member who was observing.
  
  Remember that even if you don't plan to cover an emotionally sensitive topic, you should remember that your participants may talk about topics unexpectedly.

  ## Identify personal safety risks in in-person research

  Personal safety risks are always present in in-person research, but are different in different types of location and situation. 
  
  There are various locations where in-person research can occur, including:
  - formal or professional settings, such as a school or local authority, or a commercial research lab
  - government locations, such as DfE offices or workspaces
  - public settings, such as a library or family support centre
  - private settings, such as a person's home.

  You should think about the location you plan to use, finding out further details about it if you need to.

  Research in private places, like people's homes, always carries a higher risk. 

  If researching in a private setting, ask the participant beforehand if there will be anyone else present when the research is taking place, such as other adults or children who live in the household. If others will be present, plan for this as part of your risk assessment.

  Consider which people will accompany you, how you will travel to and from the research, where you will eat and take comfort breaks, and what equipment (e.g. laptops, recording devices) you will be carrying.

  Think about the time of day, and any other factors which could change the risks. For example, Some locations may have security staff or lots of other staff present in the building, so can be considered lower risk. However, if your research is planned for the evening when most staff have gone home, it would be a higher risk.

  Research the area and location where you are conducting your research, and be aware of any local or national events (such as strikes or protests) which may impact the area you are researching in. 

  You may also need to consider cultural or religious factors, for example if you are planning research in a location where your appearance or clothing could unintentionally cause offence.

  Any in-person research intended to cover potentially distressing or emotionally sensitive topics should be considered higher risk.

  ## Mitigate psychological safety risks

  If you identify that there are risks to the psychological safety of your participants or team, there are various ways you can mitigate them. 

  You could prepare a distress protocol, which sets out the steps you will take if you, a team member, or a participant becomes distressed during research:

  <div class="gem-c-action-link gem-c-action-link--simple" style="margin-bottom: 24px;">
    <span class="gem-c-action-link__link-wrapper">
      <a class="govuk-link gem-c-action-link__link gem-c-force-print-link-styles" href="/financial-help">
        Distress protocol - example template
      </a>
    </span>
  </div>

  ### Signposting participants to sources of support

  Remember that you are not responsible for the participant's welfare after the session. If they become distressed, you can end the session if you feel you need to, or you can signpost the participant to sources of help and support. 

  You could prepare a pack with sources of relevant support beforehand:

  <div class="gem-c-action-link gem-c-action-link--simple" style="margin-bottom: 24px;">
    <span class="gem-c-action-link__link-wrapper">
      <a class="govuk-link gem-c-action-link__link gem-c-force-print-link-styles" href="/financial-help">
        Participant wellbeing pack - example template
      </a>
    </span>
  </div>

  ### Session timetabling

  To keep you and your team safe, make sure you don't plan too many sessions in a day and plan proper breaks between them. If the research is in-person, remember to include plenty of time for travel.

  ### Taking care of yourself and your team after research has happened

  As the user researcher, you have a responsibility to ensure colleagues involved in the research are OK. You must also look after yourself.

  There are lots of ways you can do this, including planning formal debrief sessions, or looking for opportunities for more informal conversations about the research and how you are feeling.

  Look out for yourself and your colleagues. If anybody is struggling after a research session or after a period of research, DfE has a number of sources of help:

  - <a href="#new">Mental health first aiders</a>
  - <a href="#new">Wellbeing at DfE</a>

  ## Mitigate personal safety risks in in-person research

  There are some things you must always do, or must never do, when conducting in-person research.

  ### Never research on your own in high-risk settings

  You must never conduct in-person research on your own, if the research is in a private setting or any other high-risk setting. 

  You must always be accompanied by at least one colleague. If they cannot make the session for any reason, you must cancel or rearrange with the participant.

  ### Always stay in touch with a colleague

  You must identify a colleague that you will keep in touch with throughout your fieldwork. This could be your line manager, your senior or lead user researcher or someone in your team, e.g. delivery manager. 

  You must give them a copy of your fieldwork plan that details the timings and locations of your research session, and you should check in with them after every session.

  If your research involves an overnight stay, you must give them contact details and the address of your accommodation. 

  You must decide what they will do if you don't check in with them, and they are concerned about you.

  ### Always travel safely

  Consider the location of the research, and ensure you have budget for safe travel. 

  You must not wear your civil service pass, name badges, or any other item that could identify you when travelling to and from your research location. However, you must have this with you so that you can identify yourself to your participant.

  You must always carry a phone and charger.

  If you have physical incentives to give to participants (e.g. physical vouchers) always ensure these are well hidden while traveling.

  ### Other considerations

  If there are risk factors specific to you, for example you have a phobia of dogs and are worried you could encounter one in somebody's home, you can screen for this in your participant recruitment.

  ## Ending a research session early if you don't feel safe

  You can always end a research session early if you don't psychologically or physically safe for any reason, or if you are concerned for the safety of a participant or team member. 

  You must do this safely and sensitively to avoid a situation escalating or causing a participant to feel that their time has not been valuable to you.

  Phrases you could use to end a research session quickly and safely if you're distressed:
  - “Ok [name], let's finish the interview here. I have everything I need. Thank you for your time”
  - “That's been really helpful - thank you. I know you're busy and I have everything I need, so let's wrap things up here”
  - “Ok, [name], we've covered everything we needed to today, which is great. I'm going to end the session here - thank you so much for your time”

  Ensure that team members observing the research know that they can leave the session if they feel upset or distressed, and that there is a way for them to indicate to you that that they feel unsafe and would like to end the session. In remote sessions this could be a private Slack channel or text message. In in-person sessions you could agree a code word or hand signal.

{% endmarkdown%}

{% endblock %}

{% block related %}
<!-- right-hand column -->

{% markdown %}
<h2 class="govuk-heading-m">Help and advice</h2>
<ul class="govuk-list govuk-list--spaced">

  <li><a href="https://ukgovernmentdfe.slack.com/archives/C015XQ05Z1B" target="_blank">Get further advice on research ethics questions (opens in a new tab).</a>
  </li>
  <li>Speak to your <a class="govuk-link" href="kabdkjawbd">lead user researcher or the head of user research.</a>
  </li>
</ul>

<h2 class="govuk-heading-m">Related links</h2>
<ul class="govuk-list govuk-list--spaced">
  <li><a class="govuk-link" href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Researching%20Safely%20resources">Resources to help you research safely</a>
  </li>
</ul>


{% endmarkdown%}

{% endblock %}




