{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "DfE user research standards" %}
{% set pageDescription = "The standards you must meet when delivering user research in DfE." %}

{% set zeroMainMargin = "true"%}

{% block content %}

   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
               <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
         </div>
      </div>
   </section>
   <section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
             <p>We are introducing a set of standards so that you know what is expected of you as you do your work. They help ensure we are meeting high levels of quality, ethics and safety. You <strong>must</strong> meet these standards in your work.</p>
             <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Standard</th>
                    <th class="govuk-table__header" scope="col">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <a href="/standards/participant-safeguarding/">Participant safeguarding in user research</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        Published
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="/standards/personal-data-handling/">Personal data handling in user research</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        Published
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <a href="/standards/planning/">User research planning</a>
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Beta
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Keeping safe during user research
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        In development
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        User research participant recruitment
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--grey">
                        In development
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>Our standards aren't intended to tell you <em>how</em> you should work, unless this is required by other departmental policies or the law. You and your team should develop the right way of working for you, which delivers high quality, safe and ethical user research meeting these standards.</p>
              <p>We aim to have all of our standards published during 2024.</p>
 
              <h2 class="govuk-heading-l">Assuring against our standards</h2>
              <p>We take a 'self assurance first' approach. Each standard includes a checklist of what you need to do. You must ensure you always meet all the requirements.</p>
              <p>Sometimes your work may be reviewed by a senior or lead user researcher, so make sure you keep records, and are ready to demonstrate how you've met each standard in your research.</p>

              <h2 class="govuk-heading-l">The Service Standard</h2>
              <p>As well as our DfE user research standards, your work must always also meet the government <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a>. This is the case whether or not your team will go through service assessments.</p>
              <p>Visit our <a href="https://apply-the-service-standard.education.gov.uk">Apply the Service Standard in DfE manual</a>.</p>

              <h2 class="govuk-heading-l">How we develop and maintain our UR standards</h2>
              <p>Our standards are owned, written and kept updated by user researchers across our DfE user research community. The head of user research is responsible for ensuring we have a set of professional standards, and this is part of <a href="https://educationgovuk.sharepoint.com/sites/lvewp00259/SitePages/DDT-Objectives.aspx">DfE's Digital Data Technology strategy (DfE intranet)</a>.</p>
              <p>You can give us feedback on them in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">#user_research Slack channel (opens in a new tab)</a>, or by <a href="/community-of-practice/#user-research-profession-leadership-team">contacting the head of user research, Tom Adams</a>.</p>

          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l">Help and advice</h2>
            <p>Each of our standards includes links to guidance content and sources of help.</p>
            <p>You can always ask for advice from:</p>
            <ul>
              <li><a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a></li>
              <li><a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B" target="_blank">Ethics Advisory Group in Slack (opens in a new tab)</a></li>
              <li><a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">The user research community in Slack (opens in a new tab)</a></li>
            </ul>
            <p>If you are a new user researcher in DfE, you should attend a <a href="/your-ur-career-at-dfe/information-for-new-starters">UR profession onboarding session</a>, which covers the UR standards.</p>
          </div>
       </div>
      </div>
 </section>


{% endblock %}