Redirect 301 /-about-ur-at-dfe /community-of-practice
Redirect 301 /-about-ur-at-dfe/people.html /community-of-practice
Redirect 301 /-about-ur-at-dfe/communities-of-practice.html /community-of-practice/community-meetups
Redirect 301 /-about-ur-at-dfe/working-groups-and-interest-groups.html /community-of-practice/community-initiatives-and-interest-groups
Redirect 301 /-about-ur-at-dfe/developing-ur-profession.html /community-of-practice/how-were-developing-ur-at-dfe
Redirect 301 /-about-ur-at-dfe/new-starters.html /your-ur-career-at-dfe/information-for-new-starters
Redirect 301 /-about-ur-at-dfe/what-user-researchers-do.html /guidance/working-with-a-ur-in-your-team/what-user-researchers-do
Redirect 301 /-about-ur-at-dfe/recruiting-a-user-researcher.html /guidance/recruiting-urs/recruiting-a-user-researcher
Redirect 301 /-about-ur-at-dfe/contractor-statements-of-work.html /guidance/recruiting-urs/contractors-and-statements-of-work
Redirect 301 /-principles /standards-and-principles
Redirect 301 /-principles/principle-1.html /standards-and-principles/principles/principle-1
Redirect 301 /-principles/principle-2.html /standards-and-principles/principles/principle-2
Redirect 301 /-principles/principle-3.html /standards-and-principles/principles/principle-3
Redirect 301 /-principles/principle-4.html /standards-and-principles/principles/principle-4
Redirect 301 /-principles/principle-5.html /standards-and-principles/principles/principle-5
Redirect 301 /-principles/principle-6.html /standards-and-principles/principles/principle-6
Redirect 301 /-assessment-assurance-peer-review/ /standards-and-principles
Redirect 301 /-assessment-assurance-peer-review/service-strandard.html /standards-and-principles
Redirect 301 /-assessment-assurance-peer-review/ethics-advisory-group.html /community-of-practice/community-initiatives-and-interest-groups
Redirect 301 /-assessment-assurance-peer-review/survey-champions.html /guidance/survey-design-champions
Redirect 301 /-user-research-in-civil-service/ /guidance/user-research-in-the-civil-service/index
Redirect 301 /-user-research-in-civil-service/civil-service-code.html /guidance/user-research-in-the-civil-service/index
Redirect 301 /-user-research-in-civil-service/pre-election-periods.html /guidance/user-research-in-the-civil-service/researching-in-pre-election-periods
Redirect 301 /-inclusive-research/ /guidance/inclusive-research/
Redirect 301 /-inclusive-research/what-is-inclusive-research.html /guidance/inclusive-research/
Redirect 301 /-inclusive-research/researching-users-access-needs.html /guidance/inclusive-research/research-users-access-needs
Redirect 301 /-research-ethics /guidance
Redirect 301 /-research-ethics/participant-safeguarding.html /guidance/ethics-and-safeguarding/participant-safeguarding
Redirect 301 /-research-ethics/children-young-people.html /guidance/ethics-and-safeguarding/research-with-children-and-young-people
Redirect 301 /-research-ethics/informed-consent.html /guidance/ethics-and-safeguarding/gaining-informed-consent
Redirect 301 /-research-ethics/internal-research.html /guidance/ethics-and-safeguarding/research-with-internal-users
Redirect 301 /-research-ethics/social-media-in-research.html /guidance/ethics-and-safeguarding/using-social-media-in-user-research
Redirect 301 /-managing-participant-data-correctly/ /guidance/how-to-manage-participant-personal-data/
Redirect 301 /-managing-participant-data-correctly/managing-participant-data.html /guidance/how-to-manage-participant-personal-data/
Redirect 301 /-managing-participant-data-correctly/setting-up-secure-storage.html /guidance/how-to-manage-participant-personal-data/planning-project-or-phase
Redirect 301 /-managing-participant-data-correctly/managing-data-when-recruiting-participants.html /guidance/how-to-manage-participant-personal-data/using-lists-for-recruitment
Redirect 301 /-managing-participant-data-correctly/getting-informed-consent.html /guidance/ethics-and-safeguarding/gaining-informed-consent
Redirect 301 /-managing-participant-data-correctly/anonymising-personal-data.html /guidance/how-to-manage-participant-personal-data/anonymising-personal-data
Redirect 301 /-managing-participant-data-correctly/retention-periods.html /guidance/how-to-manage-participant-personal-data/planning-project-or-phase
Redirect 301 /-managing-participant-data-correctly/withdrawing-participants-from-research.html /guidance/how-to-manage-participant-personal-data/after-research-is-finished
Redirect 301 /-managing-participant-data-correctly/protecting-personal-data-internal-participants.html /guidance/how-to-manage-participant-personal-data/collecting-data-during-your-research
Redirect 301 /-managing-participant-data-correctly/introduction-to-gdpr-in-ur.html /guidance/how-to-manage-participant-personal-data/
Redirect 301 /-recruiting-participants /guidance/
Redirect 301 /-recruiting-participants/recruiting-people-yourself.html /guidance/recruiting-participants/self-recruitment
Redirect 301 /-recruiting-participants/using-a-commercial-recruitment-agency.html /guidance/recruiting-participants/commercial-agency
Redirect 301 /-recruiting-participants/writing-a-recruitment-brief.html /index.html
Redirect 301 /-recruiting-participants/building-a-recruitment-panel.html /guidance/recruiting-participants/recruitment-panels
Redirect 301 /-recruiting-participants/using-incentives.html /guidance/recruiting-participants/paying-incentives
Redirect 301 /-recruiting-participants/reducing-burden-on-users.html /guidance/ethics-and-safeguarding/reducing-burden-on-dfes-users
Redirect 301 /-recruiting-participants/sample-bias.html /index.html
Redirect 301 /-tools-and-templates /templates-and-tools
Redirect 301 /-tools-and-templates/templates.html /templates-and-tools
Redirect 301 /-tools-and-templates/finding-existing-research.html /research-insight
Redirect 301 /-tools-and-templates/software-and-hardware.html /templates-and-tools/specialist-software-and-hardware/
Redirect 301 /-tools-and-templates/using-3rd-party-labs.html /templates-and-tools/using-third-party-research-labs/
Redirect 301 /-career-development-and-support /your-ur-career-at-dfe
Redirect 301 /-career-development-and-support/capability-framework.html /your-ur-career-at-dfe
Redirect 301 /-career-development-and-support/profession-management-mentoring-buddying.html /your-ur-career-at-dfe/objectives-profession-management-and-mentoring
Redirect 301 /-career-development-and-support/profession-objectives.html /your-ur-career-at-dfe/objectives-profession-management-and-mentoring
Redirect 301 /-career-development-and-support/training-and-guidance.html /your-ur-career-at-dfe/training-and-online-resources