{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education User Research Manual" %}
{% set pageDescription = "Standards, principles, guidance and support for any user researcher working in Department for Education." %}

{% block hero %}
   <section class="dfe-hero">
      <div class="govuk-width-container ">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-font-size-80">User research</h1>
               <p class="govuk-body-l">Standards, principles, guidance and support for any user researcher working in Department for Education.</p>
            </div>
         </div>
      </div>
   </section>
{% endblock %}

{% block content %}
   <section style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 0px 0px 40px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
               <div class="dfe-grid-container">
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/your-ur-career-at-dfe/information-for-new-starters">Information for new starters</a>
                        </h2>
                        <p>Information for anybody joining DfE as a civil servant or contractor user researcher.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/community-of-practice/research-operations.html">Research operations</a>
                        </h2>
                        <p>Help with recruiting participants, as well as other support and advice.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="govuk-grid-column-one-half">
               <div class="dfe-card" style="max-width: 100%;">
                  <div class="dfe-card-container">
                     <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                           <h2 class="govuk-heading-m">
                              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/community-of-practice/">Community of practice</a>
                           </h2>
                           <p>Meetups and Slack channels for our active and friendly user research community of practice.</p>
                        </div>
                        <div class="govuk-grid-column-one-half" style="text-align:center;">
                           <img src="/assets/images/user-research-mission-patch.png" style="width:98%; max-width:177px; rotate: 10deg;" alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">DfE user research standards</h2>
            </div>
            <div class="govuk-grid-column-three-quarters">
               <p>Every user researcher working in DfE must always meet these standards. Also in development are standards for research planning, safety during research, inclusive research and user research recruitment.</p>
               <ul>
                  <li><a href="/standards-and-principles/participant-safeguarding/" class="govuk-link govuk-link--no-visited-state govuk-body govuk-!-font-size-24">Participant safeguarding</a></li>
                  <li><a href="/standards-and-principles/personal-data-handling/" class="govuk-link govuk-link--no-visited-state govuk-body govuk-!-font-size-24">Personal data handling</a></li>
               </ul>
            </div>
         </div>
      </div>
   </section>

   <section>
      <!-- Principles -->
      <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">
         <h2 class="govuk-heading-l">Our community principles for delivering user research</h2>
         <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
               <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
               <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
               </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
               <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
               <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
               <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
               <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
            </li>
         </ul>
      </div>

      <!--Job vacancies-->
      <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
         
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
            </div>
         </div>
         
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Current user research job vacancies</h2>
               {# Un-comment this if no current vacancies: #}
               <p>We don't currently know about any user research vacancies at DfE.</p>
               <p>You can also check <a href="https://www.civilservicejobs.service.gov.uk/">Civil Service Jobs</a>.</p>
               {# #}
               <div class="dfe-grid-container">
                  {# One card per vacancy. Comment out if no current vacancies: 
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://www.civilservicejobs.service.gov.uk/csr/jobs.cgi?jcode=1889135">Senior user researcher</a>
                        </h2>
                        <p>Vulnerable Children and Families portfolio</p>
                        <p>£53,669</p>
                        <p>Coventry, Manchester, Sheffield, London</p>
                        <p>Closing date: <br>12 November, 11:55pm</p>
                     </div>
                  </div>
                  #}</div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}