{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education User research manual" %}
{% set pageDescription = "Standards, principles, guidance and support for any user researcher working in Department for Education." %}

{% set zeroMainMargin = "true"%}

{% block content %}
   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">User research manual</h1>
               <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
            </div>
         </div>
      </div>
   </section>

   
   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 80px 0px 40px 0px">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
               <h2 class="govuk-heading-l">The user research profession at DfE</h2>
               <p>DfE has a large user research profession, researching with a wide range of users of DfE services and policy.</p>
               <p>We want to be the best place in government to be a user researcher, and we want to deliver research that creates real impact for our users.</p>
               <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0">
                  <a href="/about-ur-at-dfe/" class="dfe-cta">About UR at DfE</a>
               </p>
            </div>
            <div class="govuk-grid-column-two-thirds">
               <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
                  <li class="card">
                     <h3>New starters</h3>
                     <p>Recently joined DfE as a civil servant or contractor user researcher?</p>
                     <p><a href="/about-ur-at-dfe/new-starters/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Onboarding information and advice</a></p>
                  </li>
                  <li class="card">
                     <h3>Research operations</h3>
                     <p>The Research Ops team can help you recruit participants, as well as other support and advice.</p>
                     <p><a href="/about-ur-at-dfe/research-ops/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Meet the Research Ops team</a></p>
                  </li>
                  <li class="card" style="display: flex; flex-direction: row;">
                     <div style="width:77%;">
                        <h3>Community of practice</h3>
                        <p>How we come together to learn, grow, develop our skills, and support each other.</p>
                        <p><a href="/about-ur-at-dfe/community-of-practice/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Find our meetups, groups and Slack channels</a></p>
                     </div>
                     <div style="width:22%">
                        <img src="/assets/images/user-research-mission-patch.png" style="max-width:99%; " alt="" />
                     </div>
                  </li>
               </ul>

            </div>
         </div>
      </div>
   </section>

   <section class="dfemanual-color-bg" style="background: #f8bc5e;">
      <div class="dfe-width-container" style="padding: 60px 0px 80px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-l">Our principles for good user research</h2>
               <!--<p class="govuk-body-l">Principles we work to, so we know what 'best practice' looks like in user research at DfE. These principles will help you deliver the highest quality work in the best possible way, as well as developing your skills and developing our user research capability across the department.</p>-->
               <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
                  <li class="card" style="">
                        <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                        <!--<p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                        <!--<p>This principle is about helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                  </li>
                  <li class="card">
                        <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                        <!--<p>This principle is about ensuring we and our teams always meet high professional standards for user research.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                        <!--<p>This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                        <!--<p>This principle is about developing as user researchers, and coming together in our user research community.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                        <!--<p>This principle is about advocating for user research in our teams, the department, and the wider world.</p>-->
                        <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                  </li>
               </ul>
            </div>
            <div class="govuk-grid-column-one-third">
               <h2 class="govuk-heading-l">Our UR standards</h2>
               <ul class="dfemanual-cta-cards">
                  <li class="card">
                     <p>We are creating a set of quality, ethical and safeguarding standards. Your work must always meet these standards.</p>
                     <p><a href="TEMP" class="govuk-link govuk-link--no-visited-state">Data management</a></p>
                     <p><a href="TEMP" class="govuk-link govuk-link--no-visited-state">Participant safeguarding</a></p>
                     <p>Also in development are standards for Researcher safety, Etc</p>
                     <p>Your work must also <a href="TEMP" class="govuk-link govuk-link--no-visited-state">meet the Government Service Standard</a>.</p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>
<!--
   <section class="dfe-width-container" style="padding: 0px 0px 0px 0px">
       <div class="govuk-!-margin-top-9" style="background: #f8bc5e; border-radius: 8px;">
         <div class="dfe-width-container" style="padding: 40px 30px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-6">Insights about our service users</h2>
               </div>
               <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-margin-bottom-5">DfE provides services to users in three broad groups: schools, families and skills.</p>
                  <p class="govuk-body govuk-!-margin-bottom-5">We have existing insight about these users, as well as advice and help on recruiting, interviewing and reducing burden on the different groups.</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">
                     <a href="/dfes-service-users/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Discover DfE's service users</a>
                  </p>
               </div>

            </div>
         </div>
    </div>
  </section>
-->
   <section class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
         </div>
      </div>
   </section>

   <section class="dfe-width-container" style="margin-bottom: 60px">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-l">Vacancies</h2>
            <p class="govuk-body-l"></p>
         </div>
         <div class="govuk-grid-column-three-quarters">

            <ul class="dfemanual-cta-cards">
               <li class="card">
                  <h3>User researcher</h3>
                  <p>SEO / £39,483</p>
                  <p>Apply by 11:55pm on Sunday 10 September 2023</p>
                  <p>
                     <a class="govuk-link govuk-link--no-visited-state" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=b3duZXI9NTA3MDAwMCZzZWFyY2hwYWdlPTEmcGFnZWFjdGlvbj12aWV3dmFjYnlqb2JsaXN0Jm93bmVydHlwZT1mYWlyJnNlYXJjaHNvcnQ9b3BlbmluZyZwYWdlY2xhc3M9Sm9icyZ1c2Vyc2VhcmNoY29udGV4dD00NzkyMTE1MCZqb2JsaXN0X3ZpZXdfdmFjPTE4NzQwODcmcmVxc2lnPTE2OTMzMTkxNTYtZDJhYTAzNDEzZGZjNzQ5MmY2YWY3MGM4OTFkZTgwMDJkZmM4MGI5Yg==">View and apply <span class="govuk-visually-hidden">for the content designer role on Civil Service Jobs</span></a>
                  </p>
               </li>
               <li class="card">
                  <h3>Lead user researcher (Children and Families)</h3>
                  <p>SEO / £39,483</p>
                  <p>Apply by 11:55pm on Friday 15 September 2023</p>
                  <p>
                     <a class="govuk-link govuk-link--no-visited-state" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=b3duZXI9NTA3MDAwMCZzZWFyY2hwYWdlPTEmam9ibGlzdF92aWV3X3ZhYz0xODczOTg3JnBhZ2VhY3Rpb249dmlld3ZhY2J5am9ibGlzdCZvd25lcnR5cGU9ZmFpciZwYWdlY2xhc3M9Sm9icyZ1c2Vyc2VhcmNoY29udGV4dD00Nzg2MzU0NCZzZWFyY2hzb3J0PXNjb3JlJnJlcXNpZz0xNjkzMzAyMzc5LTJiNDcwNDkwYzFiYTZiZWZhNzZhNjJkMmE0MzhiY2MzNTg2ZTRjMTE==">View and apply <span class="govuk-visually-hidden">for the interaction designer role on Civil Service Jobs</span></a>
                  </p>
               </li>
            </ul>

         </div>
      </div>
   </section>
{% endblock %}

