{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education User Research Manual" %}
{% set pageDescription = "Standards, principles, guidance and support for any user researcher working in Department for Education." %}

{% block hero %}
   <section class="dfe-hero">
      <div class="govuk-width-container ">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-font-size-80">User research</h1>
               <p class="govuk-body-l">Standards, principles, guidance and support for any user researcher working in Department for Education.</p>
            </div>
         </div>
      </div>
   </section>
{% endblock %}

{% block content %}
   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 0px 0px 40px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-grid-container">
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/about-ur-at-dfe/new-starters/">Information for new starters</a>
                        </h2>
                        <p>Information for anybody joining DfE as a civil servant or contractor user researcher</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/standards-and-principles/">Standards and principles</a>
                        </h2>
                        <p>The professional standards our work must meet, and the principles we apply to our practice</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance/">Ethics and safeguarding</a>
                        </h2>
                        <p>Guidance for delivering research that's ethical and safe</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/">Research operations</a>
                        </h2>
                        <p>The Research Ops team can help you recruit participants, as well as other support and advice</p>
                     </div>
                  </div>
               </div>

               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                     <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
                  </div>
               </div>

               <div class="dfe-panel-section govuk-!-margin-top-3">
                  <div class="govuk-grid-row">
                     <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Community of practice</h2>
                        <p>We have an active and friendly user research community of practice, where we learn, grow and support each other together.</p>
                        <p>
                           <a href="/about-ur-at-dfe/community-of-practice/" class="govuk-link govuk-link--inverse govuk-!-font-weight-bold">UR community eetups and Slack channels</a>
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-third" style="text-align: center;">
                        <img src="/assets/images/user-research-mission-patch.png" style="width:177px; rotate: 10deg;" alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'">
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>

   <section class="dfemanual-color-bg" style="background: #f2f2f2;">
      <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-l">Our principles for good user research</h2>

               <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
                  <li class="card" style="">
                     <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
                     <p><a href="/standards-and-principles/principles/principle-1.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 1</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
                     <p><a href="/standards-and-principles/principles/principle-2.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 2</a></p>
                     </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
                     <p><a href="/standards-and-principles/principles/principle-3.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 3</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
                     <p><a href="/standards-and-principles/principles/principle-4.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 4</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
                     <p><a href="/standards-and-principles/principles/principle-5.html"  class="govuk-link govuk-link--no-visited-state">Read about principle 5</a></p>
                  </li>
                  <li class="card">
                     <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
                     <p><a href="/standards-and-principles/principles/principle-6.html" class="govuk-link govuk-link--no-visited-state">Read about principle 6</a></p>
                  </li>
               </ul>

            </div>
            <div class="govuk-grid-column-one-third">
               <h2 class="govuk-heading-l">Our UR standards</h2>
               <p>We are creating a set of quality, ethical and safeguarding standards.</p>
               <p>Every user researcher working in DfE must always meet these standards.</p>
               <ul>
                  <li><a href="/standards-and-principles/participant-safeguarding/" class="govuk-link govuk-link--no-visited-state">Participant safeguarding</a></li>
                  <li><a href="/standards-and-principles/handling-participants-personal-data/" class="govuk-link govuk-link--no-visited-state">Personal data handling</a></li>
               </ul>
               <p>Also in development are standards for Research planning, Safety during research and Inclusive research.</p>
               <p>Your work must also always <a href="https://apply-the-service-standard.education.gov.uk" class="govuk-link govuk-link--no-visited-state">meet the Government Service Standard</a>.</p>

            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
            </div>
         </div>

         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Current user research vacancies</h2>
                <div class="dfe-grid-container">
                  {# Un-comment this if no current vacancies: #}
                  {#<p>We have no user research vacancies at the moment.</p>#}

                  {# One card per vacancy. Comment out if no current vacancies: #}
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://www.civilservicejobs.service.gov.uk/csr/jobs.cgi?jcode=1884456">User researcher</a>
                        </h2>
                        <p>£39,483</p>
                        <p>Coventry or Manchester</p>
                        <p>12 November, 11:55pm</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://www.civilservicejobs.service.gov.uk/csr/jobs.cgi?jcode=1884323">Senior user researcher</a>
                        </h2>
                        <p>£53,669</p>
                        <p>Bristol, Coventry, Darlington, Manchester, Nottingham, Sheffield or London</p>
                        <p>20 November, 11:55pm</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}