{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "About UR at DfE" %}
{% set pageName = "Research operations" %}
{% set pageDescription = "About the DfE Research Operations team, and how they can support you." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

We are building a Research Operations team in DfE, to provide services and support to user researchers across the department.

The goal of the team is to reduce the time and effort you spend on non-specialist user research tasks, allowing you to spend more time focused on delivering the highest quality insights into your teams. The team also aims to reduce the cost of user research, and reduce risks to you, the department, and our users. 

You can contact the team on (email address), or via Slack using the team details below.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#services-and-support-for-user-researchers">Services and support for user researchers</a>
      <ul class="govuk-list govuk-list--spaced" style="margin-left:20px;">
        <li><a href="#support-accessing-our-participant-recruitment-supplier">Support accessing our participant recruitment supplier</a></li>
        <li><a href="#participant-recruitment-panel-service-private-beta">Participant recruitment panel service (private beta)</a></li>
        <li><a href="#new-starter-onboarding">New starter onboarding</a></li>
        <li><a href="#personal-data-management-support">Personal data management support</a></li>
        <li><a href="#other-support-and-services">Other support and services</a></li>
      </ul>
    </li>
    <li><a href="#meet-and-contact-the-team">Meet and contact the team</a></li>
  </ul>







## Services and support for user researchers

### Support accessing our participant recruitment supplier

We have a <a href="/guidance-and-help/recruiting-participants/commercial-agency.html">contracted agency to recruit participants for research</a>. The Research Operations team can help you access this supplier, if you want support.

### Participant recruitment panel service (private beta)

We are developing an in-house <a href="/guidance-and-help/recruiting-participants/recruitment-panels#schools-users-panel">participant recruitment service</a>, building our own participant panels.

Currently we are trialing this in the Services for Schools portfolio, with a panel of school leaders and schools business professionals</a>. If you are a user researcher working in Services for Schools, you can use this service.

During 2024 we plan to continue growing this panel, with a particular focus on users with access needs and from other under-represented groups. 

We will also begin to build a panel and provide a service to user researchers in our Vulnerable Children and Families portfolio, recruiting social, nursery workers and childminders, <abbr title="special educational needs and disabilities">SEND</abbr> professionals and other users of DfE services in childrens' social care, early years and Family Hubs.

### New starter onboarding

When you join DfE, Research Operations will ensure you are added to mailing lists, Slack channels, and invites for community events. They will also arange an <a href="">onboarding session</a> with the head of user research.

Your line manager or statement of work manager should let the team knnow you are joining DfE. If you've not heard from the team in your first few days, <a href="">contact the team</a> to let them know you're here.

### Personal data management support

When you are planning the <a href="">personal data management</a> for your project, Research Operations can help you, or signpost you to the correct support team (e.g. the Office of the Data Protection Officer team, or the Knowledge Information Management team)

### Other support and services

Contact Research Operations about:

- The <a href="">list of all user researchers working in DfE</a>, and email lists
- The <a href="">shared calendar of UR community events</a>
- Accessing our <a href="">SharePoint library of templates, examples and other resources</a> 
- Accessing the <a href="">user researcher recruitment interview toolkits</a>, when you are planning a recruitment campaign for a user researcher

Research Operations also support the <a href="">head of user research</a> to deliver other projects across the <a href="">user research profession roadmap</a>.

## Meet and contact the team

You can email the team on <a href="mailto:">userresearch.operations@education.gov.uk</a>

<div class="govuk-grid-row" style="margin-bottom: 40px;">
  <div class="govuk-grid-column-full">
    <div class="dfe-grid-container">
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/emma.webp" type="image/webp">
          <img src="/assets/images/emma.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Emma Christoforou
          </h2>
          <p>Senior Research Operations specialist</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/U03MXV9THA9">Contact Emma in DfE Slack</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U03N6UTVBBR">Contact Emma in cross-government Slack</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/sara.webp" type="image/webp">
          <img src="/assets/images/sara.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Sara Yardley
          </h2>
          <p>Research operations participant recruitment specialist (Services for Schools)</p>
          <p><a href="https://ukgovernmentdfe.slack.com/team/U035FHG74UE">Contact Sara in DfE Slack</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/profile.webp" type="image/webp">
          <img src="/assets/images/profile.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            (Vacant)
          </h2>
          <p>Research operations recruitment specialist (Vulnerable Children and Families)</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmarkdown%}

{% endblock %}