{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Templates and tools" %}
{% set pageName = "Templates, examples and resources library" %}
{% set pageDescription = "Templates, examples and other resources to help you, and software and other tools to help you deliver user research." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

## Templates, examples and resources library

We keep a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00449/WorkplaceDocuments/">SharePoint library of templates, examples of good work, and other resources (DfE users only)</a>.

It contains:

- Standard templates for key documents like consent forms, information sheets, research plans, etc
- Guides and Statement of Work templates for using our commercial recruitment supplier
- Examples from our user reserchers of documents like personas, mindsets, journey maps, research screeners, etc
- Template presentations to introduce and teach your team about user research practice 

Every user researcher should be able to access this SharePoint library and use the files in it. <a href="/community-of-practice/research-operations.html">Contact the Research Operations team if you can't</a>.

We can usually share our templates with people from other government departments and other public sector organisations. <a href="/community-of-practice/leadership-team.html">Contact the head of user research</a>.


## Adding examples of work to the library

This library is crowd-sourced, and we want it to grow. All user researchers should be able to add files to this library. Please add any good examples of your own work, to inspire other DfE user researchers.




{% endmarkdown%}

{% endblock %}