{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_particpants" %}
{% set pageName = "Paying incentives" %}
{% set pageDescription = "How to decide whether to pay incentives to DfE particpants, and how to buy them" %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

Sometimes, we decide to incentivise people to take part in user research. Generally speaking, you can use incentives in DfE, although there are some exceptions, and you should always decide whether incentives are appropriate for your users and your research.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#what-incentives-are">What incentives are</a></li>
    <li><a href="#when-incentives-should-not-be-used">When incentives should not be used</a></li>
    <li><a href="#deciding-whether-to-use-incentives">Deciding whether to use incentives</a>
      <ul class="govuk-list govuk-list--spaced" style="margin-left:20px">
        <li><a href="#risks-of-using-incentives">Risks of using incentives</a></li>
        <li><a href="#ethical-considerations-of-using-incentives-with-some-user-groups">Ethical considerations of using incentives with some user groups</a></li>
      </ul>
    </li>
    <li><a href="#incentive-amount">Incentive amount</a></li>
    <li><a href="#consider-consistency-of-incentive-value">Consider consistency of incentive value</a></li>
    <li><a href="#process-for-buying-incentives">Process for buying incentives</a></li>
    <li><a href="#summary">Summary</a></li>
    <li><a href="#further-reading">Further reading</a></li>
  </ul>

## What incentives are

An incentive is any gift, payment or other consideration offered to participants for participation in user research. 

You might consider incentivising participants to:

- increase participation rates or reduce drop-out rates
- access particularly hard-to-reach groups
- compensate participants for their time or costs they may have incurred as a result of participating in user research.

Incentives at DfE can be either bank transfers, vouchers or charity donations. 

## When incentives should not be used

There are some user groups and research projects where incentives should not be used. These are:

- research with internal Department for Education staff and civil servants
- research with friends or family
- research which requires low effort and time commitment on behalf of the participants. 

## Deciding whether to use incentives

Using incentives for user research should not be a default position, with the researcher asking the question ‘Why should I offer an incentive?’ rather than ‘Why shouldn’t I offer an incentive?’

Incentives are particularly useful when you have a short period of time to recruit. Incentives can mitigate the risk of not getting a sufficient response within your recruitment window by improving response rates and preventing drop-out. However there are also risks to consider when deciding to use incentives or not. 

If you decide to use incentives in your user research, you should have clear rationale in your research plan for why incentives are necessary and if possible, provide evidence for why research without the offer of incentives would have been detrimental to the research or project outcome. This can include evidence that you have been unsuccessful previously when recruiting your user group or a need to maintain consistency with previous rounds of research where incentives were used. 

### Risks of using incentives

When deciding whether to use incentives, it is important to consider how incentives may risk the validity and reliability of the research insights we gather from user research.

- The use of incentives can risk attracting participants who wish to participate in research for the purpose of receiving financial reward, rather than to share their experience and help with the development and improvement of government services. This can result in biased and unreliable insights which are not reflective of the real user experience. 
- The promise of an incentive may lead to bias in responses, with participants potentially feeling pressured to provide favourable or complimentary feedback.
- The offer of incentives can attract people to register interest in research, who don’t meet the criteria of your recruitment brief. 
- It can be difficult to eliminate the risk of coercion when offering financial incentives, particularly for users who are on a low income or are vulnerable. Users may not feel they are able to decline a financial incentive therefore could participate in research which risks causing them distress. 

In addition to these risks, there are also several ethical considerations which need to be taken into account with the use of incentives. 

### Ethical considerations of using incentives with some user groups

Some user groups need additional consideration when deciding whether to use incentives or not.

#### Low-income adults or families

- Monetary incentives could impact benefit claims of individuals on income support.
- People on a low income may agree to participate in research they are not comfortable with or interested in due to the need for an additional source of income. 

#### Adults with low digital literacy

- Incentives offered by DfE are primarily offered using online platforms. This risks excluding people with low digital literacy, who may not have the means or skills to access their incentive. If you feel there is a risk that some of your users may not be able to access their incentive, contact Re-Ops or your incentive supplier to identify an alternative way to pay the participant.

#### Research with children

- When doing research with children, if the parent is being incentivised for allowing their children to participate in research then it is good and fair practice to also provide the child with a reward for their participation. 
- Incentivising parents could cause children to feel unable to refuse consent or withdraw from the research. It is important to be aware of this and take this into consideration when planning your research and consent process. <a href ="https://user-research.education.gov.uk/-research-ethics/children-young-people.html">See full guidance for conducting research with children and young people.</a>
- If the parent is expected to travel or incur costs in order for their child to participate in research, it is appropriate to cover the costs of these expenses. 
- For children, the value and type of incentive offered needs to be considered, as well as when the child is informed of the incentive. A low value reward, offered at the end of the research session can serve to thank the child for their time and effort without risking coercing the child to participate.

#### Vulnerable adults 

- Some vulnerable adults may not have the means to receive incentives paid by bank transfer due to not having, or not having access to, a bank account. This includes people with no permanent address, people with low literacy who require support to open an account and people who do not wish to have a bank account due to previous financial difficulties.
- Vulnerable adults may also be at a higher risk of being coerced to participate in research if monetary incentives are offered. 

## Incentive amount

When determining the value of the incentive to be paid, you can use the rate card of the incentive supplier as a guide. Researchers should also consider incentive values that are most appropriate for the research method being used, and the level of burden on participants associated with different research designs.

Incentives do not need to be particularly large in value to be impactful; research suggests that payments of around £1 can yield significant increases in participation rates. While there is some evidence that larger incentive values can result in further increases in participation, this effect is likely to decrease in size with the value of the incentive, suggesting that smaller incentives can still make a significant contribution to increasing response rates. 

## Consider consistency of incentive value

Consistency when paying incentives can be difficult to achieve - whilst a consistent approach is advisable where possible, there will also be instances where a variation in your incentives approach will be necessary. This includes paying incentives to a user group you have not paid incentives to previously, paying a higher or lower incentive rate or paying incentives to some users but not others. 

Reasons for a variation in your incentives approach can be the type of user you are recruiting, if your research is business critical and you have a short timeframe for recruitment, or the task and time commitment expected from your users.  When inconsistency is necessary, have a clear explanation to justify this so that you can assure others, including research participants, of fair and equal practice within our research. 


## Process for buying incentives

You can purchase incentives from our recruitment supplier. <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/5.%20Resources/Participant%20recruitment/Recruiting%20particpants%20using%20MeisterWorks.docx?d=w5b8d57c2310d578f4809c35f3dddc19a&csf=1&web=1&e=OvHmQb">Please see our guidance</a> or <a href="">contact the Research Operations team</a> for more information.

You can also purchase incentives through your own business area, although if you do this you will need to manage the security and data security of this process. We don’t recommend that you do this.

## Summary

- Paying incentives should not be a default position. Researchers should question whether incentives are necessary for the research and what the risk vs. benefit of paying incentives would be.
- You must consider how incentives could risk the validity and reliability of your research insights by influencing who volunteers to participate in your research and the responses you receive. 
- Some user groups need careful consideration when determining whether to use incentives or not - ethical practice should be followed to ensure the offer of incentives is inclusive and not seen as coercing participants.
- If you decide to use incentives, have a clear rationale for why incentives were necessary for your project and for the incentive value you have offered.
- Incentives should be offered consistently where possible, but in cases where a variation is required (for example, when incentives are offered in one research project but not another) make sure this variation can be explained to reassure participants of fair and equal practice. 

## Further reading
- <a href="https://www.tandfonline.com/doi/full/10.1080/03605310490883046">Ethics in Human Subjects Research: Do incentives matter?</a>

- <a href="https://www.ukri.org/wp-content/uploads/2020/06/ESRC-220311-NatCen-UseOfIncentivesRecruitRetainHardToGetPopulations-200611.pdf">The use of incentives to recruit and retain hard-to get populations in longitudinal studies</a>

- <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/sarpi/g/Surveys%20Hub%20useful%20documents/GSR%20incentives%20guidance.docx?d=w1bca46ee994f45d9a312143854238810&csf=1&web=1&e=Pi6EsX">DfE Government Social Research Incentive Guidance</a>

- <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1000708/2021-GSR_Ethics_Guidance_v3.pdf">Government Social Research: Professional Guidance</a>

- <a href="https://researchsupport.admin.ox.ac.uk/files/bpg05paymentsandincentivesinresearchv10pdf#:~:text=Incentives%20can%20influence%20potential%20participants,otherwise%20agree%20to%20take%20on.">Payments and incentives in research</a>




{% endmarkdown%}

{% endblock %}