{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "User research planning" %}
{% set pageDescription = "As a user researcher at DfE, you must plan your work appropriately." %}
{% set zeroMainMargin = "true"%}

{% set lastUpdated = "07 August 2024" %}
{% set publishStatus = "Beta" %}
{% set tagColour = "blue" %}
<!-- tag should be green for Published, blue for Beta, yellow for Draft -->

{% block content %}

{% markdown %}

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 40px;">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">DfE user research standards</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
      </div>
    </div>
    <div class="govuk-grid-row" style="padding-top: 20px;">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Status</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{publishStatus}}</strong>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">Last updated</h2>
        <strong class="govuk-tag govuk-tag--{{tagColour}}">{{lastUpdated | date('D MMM YYYY')}}</strong>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav">
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#summary">Summary</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#why-this-standard-is-important">Why this standard is important</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#how-to-meet-this-standard">How to meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#templates-and-tools-to-help-you-meet-this-standard">Templates and tools to help you meet this standard</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#where-to-get-advice">Where to get advice</a>
            </li>
            <li class="dfe-vertical-nav__section-item ">
              <a class="dfe-vertical-nav__link" href="#discuss-this-standard">Discuss this standard</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

## Summary

At the start of each project phase you must plan your user research, to ensure that your research approach will deliver the right insight, and that your planned research activity is safe and ethical, with any risks identified. 

You must work with your team to define your research objectives and decide how you'll approach your research.

There are many formats for a research plan. You can use the DfE template, an online whiteboard, a PowerPoint, or any other format which works for you. Whatever format you use, your research plan must be stored somewhere which is accessible for your team, and any future DfE staff who may need access to it. 


## Why this standard is important

Planning your research at the start of the project means you begin your research with:

-	clear and defined research objectives
-	an understanding of which users you need to speak to
-	a method which fits your research questions  
-	a timeframe for when each phase of your research will be conducted.  

It enables you to communicate the purpose of your project and helps to keep your team focused on the research outcomes, as well as providing a guide to ensure that the research questions will be answered at the end of the project. A clear research plan is also vital for effective knowledge transfer, should you change teams or leave the DfE. Your research plan will enable others to understand what you did, how you did it and why you did it. 

A research plan also helps you to think about ethical and safeguarding concerns in advance which ensures you, your colleagues and participants are safe during the research.

## How to meet this standard

To ensure you are meeting this standard you must complete the following checklist. If you select yes for all questions, you have met the DfE standard. If you select no to anything or you're unclear, seek the advice of a senior or lead UR.

### Read this related guidance

* <a href="/guidance/planning/">Writing a user research plan</a>
* <a href="/guidance/user-research-in-the-civil-service/researching-in-pre-election-periods.html">Pre-election period guidance</a>

### You must:

- Have a record of a plan for your research which states:
    - your research objectives
    - previous evidence or desk research 
    - timeline for the research 
    - feasibility of the research in the time you have
    - your research method
    - who you'll speak to, including all relevant user groups 
    - recruitment plans, including how you'll reach a diverse sample such as users with access needs and low digital confidence
    - how you'll ensure your research is ethical and safe 
    - any research limitations or potential biases in your research, and how you'll mitigate them
    - how you'll involve your team in the user research
    - what will happen with your findings e.g. what decisions will be made with the research
-	If we are in a pre-election period, or if your research will take place over a timeline when you know a pre-election period will take place, have a record of approval to conduct the research from your Senior Responsible Officer (SRO)
- Have confirmation from your team that the research is feasible, useful and within project budgets
- Save your plan in a place where it can be accessed by others, so that future colleagues can understand how you did your research and why

<p class="govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Standards%20checklist/DfE%20user%20research%20standards%20assurance%20checklist.xlsx?d=w108aee9cca834bff888820b31e8ce1c1&csf=1&web=1&e=O7GAfV" class="dfe-cta">Download this checklist as a spreadsheet</a></p>

## Templates and tools to help you meet this standard

Using these templates and tools will help you meet this standard. (Links for DfE employees/contractors only)

* <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Research%20plan%20examples?csf=1&web=1&e=JDbJXv">Templates and examples of user research plans</a>

## Where to get advice

If you need advice on meeting this standard, you should contact:

* The senior user researcher for your team or programme</li>
* <a href="/community-of-practice/leadership-team.html">The lead user researcher in your portfolio, or the head of user research</a>
        
<div style="background: #ebf2f6; padding:20px 30px; margin-top:40px;">

## Discuss this standard

This user research standard is in beta, and we are actively seeking any feedback and suggestions. You can do this in the <a href="https://ukgovernmentdfe.slack.com/archives/C05SEDKME2Y" target="_blank">#developing-user-research-standards channel in DfE Slack (opens in a new tab)</a>, or by using the 'give feedback about this page' button at the bottom of this page. 
        </div>       
      </div>
    </div>
  </div>
</section>


{% endmarkdown%}

{% endblock %}