{% include './_feedback.html' %}

{{ govukFooter({
  navigation: [
    {
      title: "Site information",
      width: "two-thirds",
      columns: 2,
      items: [  
      
        {
          href: "/about-this-website",
          text: "About this website"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/cookie-policy",
          text: "Cookie policy"
        },
        {
          href: "https://github.com/DFE-Digital/user-research-new-manual",
          text: "GitHub source code"
        }
      ]
    }
  ]
}) }}