
{{ govukFooter({
  navigation: [
    {
      title: "Site information",
      width: "two-thirds",
      columns: 2,
      items: [  
      
        {
          href: "/about-this-website",
          text: "About this website"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/cookie-policy",
          text: "Cookie policy"
        },
        {
          href: "https://github.com/DFE-Digital/user-research-new-manual",
          text: "GitHub source code"
        }
      ]
    },
    {
      title: "Other services",
      width: "one-third",
      items: [
        {
          href: "https://apply-the-service-standard.education.gov.uk/",
          text: "Apply the Service Standard"
        },
        {
          href: "https://design.education.gov.uk/",
          text: "Design Manual"
        },
        {
          href: "https://design-histories.education.gov.uk/",
          text: "Design Histories"
        },
        {
          href: "https://technical-guidance.education.gov.uk/",
          text: "Technical Manual"
        },
        {
          href: "https://dfe-digital.github.io/architecture/#dfe-architecture",
          text: "Architecture Manual"
        }
      ]
    }
  ]
}) }}