 {{ header({
    "showNav": "true",
    "showSearch": "true",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "assets/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName
    },
    "primaryLinks": [
      {
      "url"  : "/",
      "label" : "Home"
      },
      {
      "url"  : "/about-ur-at-dfe",
      "label" : "About UR at DfE"
      },
      {
      "url"  : "/standards-and-principles",
      "label" : "Standards and principles"
      },
      {
      "url"  : "/guidance-and-help",
      "label" : "Guidance and help"
      },
      {
      "url"  : "/templates-and-tools",
      "label" : "Templates and tools"
      },
      {
      "url"  : "/research-insight",
      "label" : "Research insight"
      }
    ]
  })
}}